{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Denner Public Web Service",
    "description" : "RESTful API for Denner's open data",
    "contact" : {
      "name" : "DETAIL NET",
      "email" : "support+denner-public-api@detailnet.ch"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://denner-public-api.detailnet.ch/{apiGatewayPath}",
    "variables": {
      "apiGatewayPath": {
        "enum": ["test", "v1"],
        "default": "test",
        "description": "ApiGateway path"
      }
    },
    "description": "ApiGateway"
  }, {
    "url" : "https://denner-public-api-v1.detailnet.ch",
    "description": "CloudFront distribution for v1 (cache 1h)"
  } ],
  "paths" : {
    "/online-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles",
        "description" : "Use this operation to get a list of all articles currently in promotion and advertised in the online channels.\n",
        "operationId" : "listOnlineArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                },
                "example" : {
                  "online_articles" : [ {
                    "id" : "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6",
                    "article_id" : "051273",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "fr",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "it",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "2013, Apulien, Italien, 6 x 75 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                    }, {
                      "locale" : "it",
                      "value" : "2013, Puglia, Italia, 6 x 75 cl"
                    } ],
                    "prices" : {
                      "sales" : 59.4,
                      "instead" : 68.4,
                      "base" : 1.32,
                      "by_quantity" : [ {
                        "quantity" : 1,
                        "sales" : 9.9,
                        "instead" : 11.4
                      }, {
                        "quantity" : 6,
                        "sales" : 59.4,
                        "instead" : 68.4
                      } ]
                    },
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "quantity" : 6,
                    "validity" : {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29",
                      "short_text" : [ {
                        "locale" : "de",
                        "value" : "Gültig von 23.06.–29.06."
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ],
                      "long_text" : [ {
                        "locale" : "de",
                        "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "availability_limitations" : {
                      "region" : [ {
                        "locale" : "de",
                        "value" : "Nur in der deutschen und französischen Schweiz erhältlich"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ],
                      "store" : [ {
                        "locale" : "de",
                        "value" : "Nur in Filialen mit Frischprodukten erhältlich"
                      }, {
                        "locale" : "fr",
                        "value" : "Disponible(s) uniquement dans les succursales aves des produits frais"
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "compared" : true,
                    "online_group" : {
                      "id" : "a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee",
                      "code" : "2-9",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Wein/Champagner"
                      }, {
                        "locale" : "fr",
                        "value" : "Vins/champagnes"
                      }, {
                        "locale" : "it",
                        "value" : "Vino/champagne"
                      } ],
                      "parent" : {
                        "id" : "8fd653c3-a86b-4529-bbb5-58d06919d484",
                        "code" : 2,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Getränke"
                        }, {
                          "locale" : "fr",
                          "value" : "Boissons"
                        }, {
                          "locale" : "it",
                          "value" : "Bevande"
                        } ]
                      }
                    },
                    "packshot" : {
                      "id" : "5983a33d-ac61-49a8-a836-43259e78e9d0",
                      "cdn_url" : "https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                    },
                    "wine" : {
                      "country" : {
                        "id" : "IT",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Italien"
                        }, {
                          "locale" : "fr",
                          "value" : "Italie"
                        }, {
                          "locale" : "it",
                          "value" : "Italia"
                        } ]
                      },
                      "region" : {
                        "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Apulien"
                        }, {
                          "locale" : "fr",
                          "value" : "Les Pouilles"
                        }, {
                          "locale" : "it",
                          "value" : "Puglia"
                        } ]
                      },
                      "type" : {
                        "id" : 2,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Rotwein"
                        }, {
                          "locale" : "fr",
                          "value" : "Vin rouge"
                        }, {
                          "locale" : "it",
                          "value" : "Vino rosso"
                        } ]
                      },
                      "year" : 2013,
                      "fits_with" : [ {
                        "locale" : "de",
                        "value" : "Pasta, Fleisch mit würzigen Saucen"
                      }, {
                        "locale" : "fr",
                        "value" : "Pâtes, viande aux sauces relevées"
                      }, {
                        "locale" : "it",
                        "value" : "Pasta, carni accompagnate da salse aromatiche"
                      } ],
                      "varietal" : [ {
                        "locale" : "de",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "fr",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "it",
                        "value" : "Primitivo"
                      } ],
                      "character" : [ {
                        "locale" : "de",
                        "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      }, {
                        "locale" : "fr",
                        "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      }, {
                        "locale" : "it",
                        "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                      } ],
                      "temperature" : [ {
                        "locale" : "de",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "fr",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "it",
                        "value" : "16-18 °C"
                      } ],
                      "awards" : [ {
                        "locale" : "de",
                        "value" : ""
                      }, {
                        "locale" : "fr",
                        "value" : ""
                      }, {
                        "locale" : "it",
                        "value" : ""
                      } ],
                      "storage" : [ {
                        "locale" : "de",
                        "value" : "3 Jahre"
                      }, {
                        "locale" : "fr",
                        "value" : "3 ans"
                      }, {
                        "locale" : "it",
                        "value" : "3 anni"
                      } ]
                    }
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/tobacco-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles having tobacco article group (not listed otherwise)",
        "description" : "Use this operation to get a list of all tobacco articles promoted today and advertised in the online channels.\n",
        "operationId" : "listOnlineTobaccoArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/newsletter-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles for newsletter",
        "description" : "Use this operation to get a list of all online articles promoted in the given week in the newsletter channels.\n",
        "operationId" : "listNewsletterOnlineArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "week",
          "in" : "query",
          "description" : "Year followed by the week number (ISO 8601, week date system) PHP date format 'o-W' (ref: https://www.php.net/manual/en/datetime.format.php)\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]{4}\\-[0-9]{1,2}$",
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "de", "fr", "it" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/stores" : {
      "get" : {
        "tags" : [ "store" ],
        "summary" : "List all stores",
        "description" : "Use this operation to get a list of all stores (Filialen).\n",
        "operationId" : "listStores",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Accepted locale (supported are \"de\", \"fr\", and \"it\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "de"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StoresResponse"
                },
                "example" : {
                  "total_stores" : 794,
                  "stores" : [ {
                    "id" : "bcb8a388-8998-4d08-85a6-4864199704ee",
                    "code" : 302,
                    "address" : "Werdstrasse",
                    "number" : "36",
                    "zip_code" : 8004,
                    "canton_code" : "ZH",
                    "city" : "Zürich",
                    "country_code" : "CH",
                    "phone" : "044 240 22 83",
                    "hotline" : "0848 99 66 33",
                    "payment_types" : [ "cash", "euro", "maestro", "post" ],
                    "credit_card" : true,
                    "open_from" : "1998-08-01",
                    "renovation_from" : "2015-06-25",
                    "renovation_to" : "2015-06-26",
                    "latitude" : 47.3728447,
                    "longitude" : 8.5295153,
                    "language" : "de",
                    "email" : "info@denner.ch",
                    "homepage" : "http://www.denner.ch",
                    "parking_count" : 0,
                    "channel" : {
                      "id" : "5d1c3dd5-35a9-4c66-ab20-3409ea640334",
                      "title" : "Denner"
                    },
                    "opening_times" : [ {
                      "weekday" : 1,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 2,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 3,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 4,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 5,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 6,
                      "open_from" : "08:00",
                      "open_to" : "12:00"
                    }, {
                      "weekday" : 6,
                      "open_from" : "14:00",
                      "open_to" : "20:00"
                    } ],
                    "special_opening_times" : [ {
                      "day" : "2015-06-25",
                      "reason" : "Umbau",
                      "closed" : true
                    }, {
                      "day" : "2015-06-26",
                      "reason" : "Umbau",
                      "closed" : true
                    }, {
                      "day" : "2015-06-28",
                      "open_from" : "10:00",
                      "open_to" : "16:00",
                      "reason" : "Sonntagsverkauf",
                      "closed" : false
                    } ],
                    "services" : [ {
                      "id" : "acb911fb-b7e3-480f-ab91-1109e750892a",
                      "title" : "Humidor"
                    }, {
                      "id" : "d7b4925e-79f8-415f-9436-0adb4a9cc4de",
                      "title" : "Früchte und Gemüse"
                    }, {
                      "id" : "57d0301a-fd5d-4dce-ab0d-75dee1d16631",
                      "title" : "Backstation"
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/base-posters" : {
      "post" : {
        "tags" : [ "production" ],
        "summary" : "Create base poster",
        "description" : "Crate an A4 base poster (for pre-printed paper) from article.\n",
        "operationId" : "createBasePoster",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/baseposters_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successful creation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PdfFile"
                },
                "example" : {
                  "url" : "https://denner-assets-test.s3.eu-west-1.amazonaws.com/regio-publisher/e4654297-35f7-46bd-9525-11d9e5af7a22/Sunrise-Cabernet-Sauvignon-Concha-y-Toro.pdf"
                }
              }
            }
          },
          "400" : {
            "description" : "400 Bad Request",
            "content" : { }
          },
          "500" : {
            "description" : "500 Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ],
        "x-codegen-request-body-name" : "BasePosterInput"
      }
    },
    "/display-publications" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "List all display-publications",
        "description" : "Use this operation to get a list of all display-publications.\n",
        "operationId" : "listDisplayPublications",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filters: JSON array of Filter object, urlencoded.\n\nFilter object:\n- property: Property to filter on.\n- operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).\n- type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).\n- value: Value. Must be of the defined type.\n\nExamples:\n- [{\"property\":\"id\",\"operator\":\"in\",\"type\":\"array\",\"value\":[\"7627150d-36bd-4867-89b2-091800a03d24\",\"58afec5c-ece9-4b66-bc55-00d6dc1b65b8\"]}]\n- [{\"property\":\"in_shop\",\"operator\":\"eq\",\"type\":\"boolean\",\"value\":true}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Filters: JSON array of Sort object, urlencoded.\n\nSort object:\n- property: Property to sort on.\n- direction: (optional) Sort direction property. Enumeration ('asc', 'desc').\n\nExamples:\n- [{\"property\":\"sort_index\",\"direction\":\"asc\"}]\n- [{\"property\":\"year\"},{\"property\":\"week\",\"direction\":\"asc\"}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisplayPublicationsResponse"
                },
                "example" : {
                  "display_publications" : [ {
                    "id" : "2433ae87-5238-4272-9c86-373b67472c9e",
                    "screen" : "f10",
                    "layout" : "week-end",
                    "locale" : "de",
                    "name" : "F10_Plakate - F10_Wochenendknaller (DE)",
                    "year" : 2022,
                    "week" : 44,
                    "valid_from" : "2022-11-04",
                    "valid_to" : "2022-11-05",
                    "validity_text" : "Gültig am Freitag, 4. und Samstag, 5.11.2022",
                    "articles" : [ {
                      "id" : "11266f43-0acf-4615-a21d-1a0c5edaaee8",
                      "article_id" : "901317",
                      "advertised_article_id" : "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                      "composite_article" : false,
                      "name" : "Lammnierstück Nature ca. 400",
                      "size" : "medium",
                      "title" : "Denner Lammnierstück",
                      "description" : "nature, Australien/Neuseeland, 2 Stück, ca. 400 g, per 100 g",
                      "sort_index" : 602,
                      "packshot_image" : "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                      "sales_price" : "3.25",
                      "instead_price" : "statt 4.95",
                      "article_group" : "09-130",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "34%"
                      }
                    }, {
                      "id" : "8626e2b8-ec45-41d5-a50e-315a240d9b1c",
                      "article_id" : "050052",
                      "advertised_article_id" : "abe37069-0006-47a2-b94e-9e263d7f0d34",
                      "composite_article" : true,
                      "name" : "Fetzer Zinfandel 75",
                      "size" : "medium",
                      "title" : "Fetzer",
                      "description" : "Kalifornien, USA, 6 x 75 cl \n- Zinfandel, 2020\n- Cabernet Sauvignon, 2020\n- Chardonnay, 2021",
                      "sort_index" : 605,
                      "packshot_image" : "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                      "carousel_images" : [ "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png", "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png", "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png" ],
                      "sales_price" : "41.85",
                      "instead_price" : "statt 83.70",
                      "article_group" : "60-64",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "50%"
                      },
                      "wine" : {
                        "country" : {
                          "id" : "US",
                          "text" : "USA",
                          "flag" : "https://denner.imgix.net/flags/US.png"
                        },
                        "rating" : {
                          "text" : "Kunden-Rating:",
                          "stars" : 4
                        }
                      }
                    }, {
                      "id" : "c0ebacf6-0280-4040-a1f8-d92673fe5b05",
                      "article_id" : "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                      "composite_article" : false,
                      "name" : "KW44_Schaumweine/Champagner",
                      "size" : "horizontal",
                      "title" : "Alle Champagner und Schaumweine",
                      "description" : "Auch auf bestehende Aktionspreise!",
                      "disclaimer" : "Ausgenommen Online Specials und Einzelflaschen mit gelbem Rabattkleber. Nicht mit anderen Gutscheinen und Bons kumulierbar.",
                      "sort_index" : 202,
                      "packshot_image" : "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                      "sales_price" : "Sortimentsaktion",
                      "article_group" : "59-20",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "20%",
                        "validity" : "Gültig ab 19.10.2022"
                      }
                    } ],
                    "sort_index" : 100,
                    "created_on" : "2022-11-01T08:31:37+0100"
                  }, {
                    "id" : "d9413bb2-1ef4-461e-a994-0f9caee9038b",
                    "screen" : "f10",
                    "layout" : "week-end",
                    "locale" : "fr",
                    "name" : "F10_Plakate - F10_Wochenendknaller (FR)",
                    "year" : 2022,
                    "week" : 44,
                    "valid_from" : "2022-11-04",
                    "valid_to" : "2022-11-05",
                    "validity_text" : "Valables le vendredi 4 et le samedi 5.11.2022",
                    "articles" : [ {
                      "id" : "8cebbe34-5c27-45e9-9136-e141fe4278e3",
                      "article_id" : "901317",
                      "advertised_article_id" : "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                      "composite_article" : false,
                      "name" : "Lammnierstück Nature ca. 400",
                      "size" : "medium",
                      "title" : "Filet d'agneau Denner",
                      "description" : "nature, Australie/Nouvelle-Zélande, 2 pièces, env. 400 g, les 100 g",
                      "sort_index" : 602,
                      "packshot_image" : "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                      "sales_price" : "3.25",
                      "instead_price" : "au lieu de 4.95",
                      "article_group" : "09-130",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "34%"
                      }
                    }, {
                      "id" : "fc2d83ba-8c64-49eb-9f57-a0fb38fb927b",
                      "article_id" : "050052",
                      "advertised_article_id" : "abe37069-0006-47a2-b94e-9e263d7f0d34",
                      "composite_article" : true,
                      "name" : "Fetzer Zinfandel 75",
                      "size" : "medium",
                      "title" : "Fetzer",
                      "description" : "2020, Californie, États-Unis, 6 x 75 cl \n- Zinfandel\n- Cabernet Sauvignon",
                      "sort_index" : 605,
                      "packshot_image" : "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                      "carousel_images" : [ "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png", "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png", "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png" ],
                      "sales_price" : "41.85",
                      "instead_price" : "au lieu de 83.70",
                      "article_group" : "60-64",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "50%"
                      },
                      "wine" : {
                        "country" : {
                          "id" : "US",
                          "text" : "USA",
                          "flag" : "https://denner.imgix.net/flags/US.png"
                        },
                        "rating" : {
                          "text" : "Évaluation client:",
                          "stars" : 4
                        }
                      }
                    }, {
                      "id" : "6f112c21-7bae-4247-9a27-43f6da81fda0",
                      "article_id" : "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                      "composite_article" : false,
                      "name" : "KW44_Schaumweine/Champagner",
                      "size" : "medium",
                      "title" : "Tous les champagnes\net vins mousseux",
                      "description" : "Également sur les prix promotionnels!",
                      "disclaimer" : "Excepté les offres spéciales en ligne et les bouteilles munies d’un autocollant de rabais jaune. Non cumulable avec d’autres bons.",
                      "sort_index" : 202,
                      "packshot_image" : "https://denner.imgix.net/assets/b586e370-f08a-4e80-a948-3bfa008fcf44/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_fr.png",
                      "sales_price" : "Promotion sur l’assortiment",
                      "article_group" : "59-20",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "20%"
                      }
                    } ],
                    "sort_index" : 101,
                    "created_on" : "2022-11-01T08:31:37+0100"
                  }, {
                    "id" : "84beee35-9453-49d2-bc64-5f81d4805a14",
                    "screen" : "f10",
                    "layout" : "week-end",
                    "locale" : "it",
                    "name" : "F10_Plakate - F10_Wochenendknaller (IT)",
                    "year" : 2022,
                    "week" : 44,
                    "valid_from" : "2022-11-04",
                    "valid_to" : "2022-11-05",
                    "validity_text" : "Valide venerdì 4 e sabato 5.11.2022",
                    "articles" : [ {
                      "id" : "183714d5-2d4d-458c-9bd8-4a13491eb57a",
                      "article_id" : "901317",
                      "advertised_article_id" : "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                      "composite_article" : false,
                      "name" : "Lammnierstück Nature ca. 400",
                      "size" : "medium",
                      "title" : "Filetto d'agnello Denner",
                      "description" : "al naturale, Australia/Nuova Zelanda, 2 pezzi, ca. 400 g, per 100 g",
                      "sort_index" : 602,
                      "packshot_image" : "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                      "sales_price" : "3.25",
                      "instead_price" : "invece di 4.95",
                      "article_group" : "09-130",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "34%"
                      }
                    }, {
                      "id" : "50d1a30a-2670-49c5-986a-e3ebba5cc2d9",
                      "article_id" : "050052",
                      "advertised_article_id" : "abe37069-0006-47a2-b94e-9e263d7f0d34",
                      "composite_article" : true,
                      "name" : "Fetzer Zinfandel 75",
                      "size" : "medium",
                      "title" : "Fetzer",
                      "description" : "2020, California, Stati Uniti, 6 x 75 cl \n- Zinfandel\n- Cabernet Sauvignon",
                      "sort_index" : 605,
                      "packshot_image" : "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                      "carousel_images" : [ "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png", "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png", "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png" ],
                      "sales_price" : "41.85",
                      "instead_price" : "invece di 83.70",
                      "article_group" : "60-64",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "50%"
                      },
                      "wine" : {
                        "country" : {
                          "id" : "US",
                          "text" : "USA",
                          "flag" : "https://denner.imgix.net/flags/US.png"
                        },
                        "rating" : {
                          "text" : "Rating della clientela:",
                          "stars" : 4
                        }
                      }
                    }, {
                      "id" : "a091ab15-90b5-44e4-ae3e-fe3d4f83ddd7",
                      "article_id" : "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                      "composite_article" : false,
                      "name" : "KW44_Schaumweine/Champagner",
                      "size" : "medium",
                      "title" : "Tutti gli champagne\ne gli spumanti",
                      "description" : "Anche sugli attuali prez zi promozionali!",
                      "disclaimer" : "Sono esclusi online specials e singole bottiglie con adesivo giallo di sconto.\nNon cumulabile con altri buoni.",
                      "sort_index" : 202,
                      "packshot_image" : "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                      "sales_price" : "Promozione assortimento",
                      "article_group" : "59-20",
                      "labels" : [ ],
                      "stopper" : {
                        "text" : "20%"
                      }
                    } ],
                    "sort_index" : 102,
                    "created_on" : "2022-11-01T08:31:37+0100"
                  } ],
                  "page_count" : 1,
                  "page_size" : 10,
                  "total_items" : 3
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/display-publications/{screen}/{layout}" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "Fetch display-publication",
        "description" : "Use this operation to fetch the first display-publication for a specific screen, layout and language to display on current day.\n",
        "operationId" : "fetchDisplayPublication",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "screen",
          "in" : "path",
          "description" : "Screen",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "f10",
            "enum" : [ "f10", "tobacco", "pos" ]
          }
        }, {
          "name" : "layout",
          "in" : "path",
          "description" : "Layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "standard",
            "enum" : [ "standard", "week-end", "discount", "perfume", "wine", "cigarettes" ]
          }
        }, {
          "name" : "display-on",
          "in" : "query",
          "description" : "Any valid date string that can be parsed by [php strtotime](https://www.php.net/manual/en/function.strtotime.php).\nExamples:\n - 2023-01-10\n - today\n - tomorrow\n - next Thursday\n - last Monday\n\nDefault when not set 'today'.\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "de", "fr", "it" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisplayPublication"
                },
                "example" : {
                  "id" : "2433ae87-5238-4272-9c86-373b67472c9e",
                  "screen" : "f10",
                  "layout" : "week-end",
                  "locale" : "de",
                  "name" : "F10_Plakate - F10_Wochenendknaller (DE)",
                  "year" : 2022,
                  "week" : 44,
                  "valid_from" : "2022-11-04",
                  "valid_to" : "2022-11-05",
                  "validity_text" : "Gültig am Freitag, 4. und Samstag, 5.11.2022",
                  "articles" : [ {
                    "id" : "11266f43-0acf-4615-a21d-1a0c5edaaee8",
                    "article_id" : "901317",
                    "advertised_article_id" : "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                    "composite_article" : false,
                    "name" : "Lammnierstück Nature ca. 400",
                    "size" : "medium",
                    "title" : "Denner Lammnierstück",
                    "description" : "nature, Australien/Neuseeland, 2 Stück, ca. 400 g, per 100 g",
                    "sort_index" : 602,
                    "packshot_image" : "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                    "sales_price" : "3.25",
                    "instead_price" : "statt 4.95",
                    "article_group" : "09-130",
                    "labels" : [ ],
                    "stopper" : {
                      "text" : "34%"
                    }
                  }, {
                    "id" : "8626e2b8-ec45-41d5-a50e-315a240d9b1c",
                    "article_id" : "050052",
                    "advertised_article_id" : "abe37069-0006-47a2-b94e-9e263d7f0d34",
                    "composite_article" : true,
                    "name" : "Fetzer Zinfandel 75",
                    "size" : "medium",
                    "title" : "Fetzer",
                    "description" : "Kalifornien, USA, 6 x 75 cl \n- Zinfandel, 2020\n- Cabernet Sauvignon, 2020\n- Chardonnay, 2021",
                    "sort_index" : 605,
                    "packshot_image" : "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                    "carousel_images" : [ "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png", "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png", "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png" ],
                    "sales_price" : "41.85",
                    "instead_price" : "statt 83.70",
                    "article_group" : "60-64",
                    "labels" : [ ],
                    "stopper" : {
                      "text" : "50%"
                    },
                    "wine" : {
                      "country" : {
                        "id" : "US",
                        "text" : "USA",
                        "flag" : "https://denner.imgix.net/flags/US.png"
                      },
                      "rating" : {
                        "text" : "Kunden-Rating:",
                        "stars" : 4
                      }
                    }
                  }, {
                    "id" : "c0ebacf6-0280-4040-a1f8-d92673fe5b05",
                    "article_id" : "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                    "composite_article" : false,
                    "name" : "KW44_Schaumweine/Champagner",
                    "size" : "horizontal",
                    "title" : "Alle Champagner und Schaumweine",
                    "description" : "Auch auf bestehende Aktionspreise!",
                    "disclaimer" : "Ausgenommen Online Specials und Einzelflaschen mit gelbem Rabattkleber. Nicht mit anderen Gutscheinen und Bons kumulierbar.",
                    "sort_index" : 202,
                    "packshot_image" : "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                    "sales_price" : "Sortimentsaktion",
                    "article_group" : "59-20",
                    "labels" : [ ],
                    "stopper" : {
                      "text" : "20%",
                      "validity" : "Gültig ab 19.10.2022"
                    }
                  } ],
                  "sort_index" : 100,
                  "created_on" : "2022-11-01T08:31:37+0100"
                }
              }
            }
          },
          "204" : {
            "description" : "No result",
            "content" : { }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "UUIDv4" : {
        "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/",
        "type" : "string",
        "description" : "Unique identifier"
      },
      "ArticleId" : {
        "pattern" : "/^\\d{6}$/",
        "type" : "string",
        "description" : "Denner article code"
      },
      "Locale" : {
        "type" : "string",
        "description" : "Locale",
        "enum" : [ "de", "fr", "it" ]
      },
      "SortIndex" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Index for sorting",
        "format" : "int32"
      },
      "Translation" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "$ref" : "#/components/schemas/Locale"
          },
          "value" : {
            "type" : "string",
            "description" : "Translated text value"
          }
        }
      },
      "Url" : {
        "type" : "string",
        "description" : "Web URL address"
      },
      "CdnUrl" : {
        "pattern" : "/^https://denner.imgix.net/.*$/",
        "type" : "string",
        "description" : "Image provided through the [ImgIX](https://imgix.com) CDN, query parameters can be appended to apply rendering effects.\nFollow instructions in the [ImgIX rendering API](https://docs.imgix.com/apis/rendering) reference.\nEvery image (included query params) is cached for performance (main task of a CDN), if an image is changed its cache is purged.\n"
      },
      "Phone" : {
        "type" : "string",
        "description" : "Formatted phone number"
      },
      "CountryCode" : {
        "pattern" : "/^[A-Z]{2}$/",
        "type" : "string",
        "description" : "Country code definition from ISO 3166"
      },
      "PublicCountry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "title" : {
            "type" : "array"
          }
        },
        "description" : "Country"
      },
      "CountryFlag" : {
        "type" : "object",
        "properties" : {
          "image_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          }
        },
        "description" : "Country flag"
      },
      "Country" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicCountry"
        }, {
          "type" : "object",
          "properties" : {
            "flag" : {
              "$ref" : "#/components/schemas/CountryFlag"
            }
          }
        } ]
      },
      "DayDate" : {
        "type" : "string",
        "description" : "Date; Format full-date of [RFC3339](https://www.rfc-editor.org/rfc/rfc3339#section-5.6)",
        "format" : "date"
      },
      "Time" : {
        "pattern" : "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/",
        "type" : "string",
        "description" : "Time; Format HH:MM:SS"
      },
      "DayOfWeek" : {
        "maximum" : 6,
        "minimum" : 0,
        "type" : "integer",
        "description" : "Day of week; 0 = Sunday",
        "format" : "int32"
      },
      "Year" : {
        "minimum" : 1800,
        "type" : "integer",
        "description" : "Year",
        "format" : "int32"
      },
      "Week" : {
        "maximum" : 53,
        "minimum" : 1,
        "type" : "integer",
        "description" : "Week number (ISO 8601, week date system)",
        "format" : "int32"
      },
      "Price" : {
        "minimum" : 0,
        "type" : "number",
        "description" : "Price in CHF",
        "format" : "float"
      },
      "Quantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Quantity",
        "format" : "int32"
      },
      "SoldQuantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Sold quantity (for texts and prices)",
        "format" : "int32"
      },
      "AdvertisedQuantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Advertised quantity (for images)",
        "format" : "int32"
      },
      "CompositeInfo" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "description" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        }
      },
      "Supplier" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PromotionType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "string",
            "description" : "Navision promotion type code"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "Validity" : {
        "type" : "object",
        "properties" : {
          "from" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "to" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "text" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        },
        "description" : "Generic validity based on dates (from/to) and a corresponding text"
      },
      "ArticleValidity" : {
        "type" : "object",
        "properties" : {
          "from" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "to" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "short_text" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "long_text" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        },
        "description" : "Article validity based on dates (from/to) and corresponding texts (short and long version)"
      },
      "AvailabilityLimitations" : {
        "type" : "object",
        "properties" : {
          "region" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "store" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        },
        "description" : "Texts for information about limited availability"
      },
      "PdfFile" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "$ref" : "#/components/schemas/Url"
          }
        },
        "description" : "Source of the PDF document"
      },
      "ArticleGroupCode" : {
        "pattern" : "/^\\d{2}(-\\d{2,3})?$/",
        "type" : "string",
        "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')"
      },
      "AssignedArticleGroup" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "$ref" : "#/components/schemas/ArticleGroupCode"
          },
          "name" : {
            "type" : "string",
            "description" : "Article group name"
          },
          "parent" : {
            "$ref" : "#/components/schemas/AssignedArticleGroup"
          }
        }
      },
      "EcoLabel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "string",
            "description" : "Eco label ID (e.g. 'suisse-garantie', 'utz')"
          },
          "name" : {
            "type" : "string",
            "description" : "German name for the eco label"
          },
          "images" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/EcoLabelImage"
            }
          }
        }
      },
      "EcoLabelImage" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "$ref" : "#/components/schemas/Locale"
          },
          "cdn_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          }
        }
      },
      "PackshotView" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "View ID that is represented in packshot",
            "enum" : [ "front", "back" ]
          }
        }
      },
      "Packshot" : {
        "required" : [ "cdn_url", "id", "url" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "quantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "image_url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "preview_url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "cdn_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "archived" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "view" : {
            "$ref" : "#/components/schemas/PackshotView"
          },
          "created_on" : {
            "$ref" : "#/components/schemas/DayDate"
          }
        }
      },
      "LocalizedPackshot" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Packshot"
        }, {
          "required" : [ "locale" ],
          "type" : "object",
          "properties" : {
            "locale" : {
              "$ref" : "#/components/schemas/Locale"
            }
          }
        } ]
      },
      "Output" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "type" : {
            "$ref" : "#/components/schemas/OutputType"
          },
          "text" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "images" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OutputImage"
            }
          }
        }
      },
      "Stopper" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Output"
        }, {
          "type" : "object",
          "properties" : {
            "markup_text" : {
              "type" : "object",
              "allOf" : [ {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/Translation"
                }
              }, {
                "type" : "object",
                "description" : "Markup text for visual effects"
              } ]
            }
          }
        } ]
      },
      "OutputType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Output type id"
          }
        },
        "description" : "Output type"
      },
      "OutputImage" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "type" : "string",
            "description" : "Locale for the image formats"
          },
          "design" : {
            "$ref" : "#/components/schemas/OutputImageDesign"
          },
          "formats" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OutputImageFormat"
            }
          }
        }
      },
      "OutputImageDesign" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Designe of output image (e.g. 'red','white', ...)"
          },
          "priority" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "OutputImageFormat" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Mime type for the output image"
          },
          "url" : {
            "type" : "string",
            "description" : "Image url which can be used, for example, in an 'img' tag"
          }
        }
      },
      "PublicArticlePrices" : {
        "type" : "object",
        "properties" : {
          "sales" : {
            "$ref" : "#/components/schemas/Price"
          },
          "instead" : {
            "$ref" : "#/components/schemas/Price"
          },
          "base" : {
            "$ref" : "#/components/schemas/Price"
          },
          "by_quantity" : {
            "$ref" : "#/components/schemas/PublicQuantityPrices"
          }
        }
      },
      "PublicQuantityPrices" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/PublicQuantityPrice"
        }
      },
      "PublicQuantityPrice" : {
        "type" : "object",
        "properties" : {
          "quantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "sales" : {
            "$ref" : "#/components/schemas/Price"
          },
          "instead" : {
            "$ref" : "#/components/schemas/Price"
          }
        }
      },
      "PublicPackshot" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "cdn_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          }
        }
      },
      "PublicArticleWine" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "$ref" : "#/components/schemas/PublicCountry"
          },
          "region" : {
            "$ref" : "#/components/schemas/Region"
          },
          "type" : {
            "$ref" : "#/components/schemas/WineType"
          },
          "year" : {
            "$ref" : "#/components/schemas/Year"
          },
          "fits_with" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "varietal" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "character" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "temperature" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "awards" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "storage" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        }
      },
      "Region" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "title" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        }
      },
      "WineType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Denner wine type code",
            "format" : "int32"
          },
          "title" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          }
        }
      },
      "Rating" : {
        "type" : "object",
        "properties" : {
          "value" : {
            "maximum" : 5,
            "minimum" : 0,
            "type" : "number",
            "description" : "Rating value",
            "format" : "float"
          },
          "total" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Rating count",
            "format" : "int32"
          },
          "valid" : {
            "type" : "boolean",
            "description" : "Is a valid rating?"
          },
          "stars" : {
            "$ref" : "#/components/schemas/RatingStars"
          }
        }
      },
      "RatingStars" : {
        "maximum" : 5,
        "minimum" : 0,
        "type" : "number",
        "description" : "Stars, rounded to the half integer",
        "format" : "float"
      },
      "PublicOnlineArticle" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "article_id" : {
            "$ref" : "#/components/schemas/ArticleId"
          },
          "title" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "description" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "prices" : {
            "$ref" : "#/components/schemas/PublicArticlePrices"
          },
          "price_info" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "quantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "validity" : {
            "$ref" : "#/components/schemas/ArticleValidity"
          },
          "availability_limitations" : {
            "$ref" : "#/components/schemas/AvailabilityLimitations"
          },
          "compared" : {
            "type" : "boolean",
            "description" : "Is the article's price compared to an offer from an other company?"
          },
          "online_group" : {
            "$ref" : "#/components/schemas/PublicAssignedOnlineGroup"
          },
          "packshot" : {
            "$ref" : "#/components/schemas/PublicPackshot"
          },
          "wine" : {
            "$ref" : "#/components/schemas/PublicArticleWine"
          }
        }
      },
      "PublicAssignedOnlineGroup" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "integer",
            "description" : "Denner online group code",
            "format" : "int32"
          },
          "title" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Translation"
            }
          },
          "parent" : {
            "$ref" : "#/components/schemas/PublicAssignedOnlineGroup"
          }
        }
      },
      "DisplayPublication" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "screen" : {
            "type" : "string",
            "enum" : [ "f10", "tobacco", "pos" ]
          },
          "layout" : {
            "type" : "string",
            "enum" : [ "standard", "week-end", "discount", "perfume", "wine", "cigarettes" ]
          },
          "locale" : {
            "$ref" : "#/components/schemas/Locale"
          },
          "name" : {
            "type" : "string"
          },
          "year" : {
            "$ref" : "#/components/schemas/Year"
          },
          "week" : {
            "$ref" : "#/components/schemas/Week"
          },
          "display_from" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "valid_from" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "valid_to" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "validity_text" : {
            "type" : "string"
          },
          "header_image_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "background_image_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "slogan_image_url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "footer_text" : {
            "type" : "string"
          },
          "articles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DisplayPublicationArticle"
            }
          }
        }
      },
      "DisplayPublicationArticle" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "article_id" : {
            "$ref" : "#/components/schemas/ArticleId"
          },
          "advertised_article_id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "composite_article" : {
            "type" : "boolean"
          },
          "name" : {
            "type" : "string"
          },
          "size" : {
            "type" : "string",
            "enum" : [ "small", "medium", "large", "horizontal" ]
          },
          "title" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "disclaimer" : {
            "type" : "string"
          },
          "sort_index" : {
            "$ref" : "#/components/schemas/SortIndex"
          },
          "packshot_image" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "carousel_images" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CdnUrl"
            }
          },
          "sales_price" : {
            "type" : "string"
          },
          "instead_price" : {
            "type" : "string"
          },
          "article_group" : {
            "$ref" : "#/components/schemas/ArticleGroupCode"
          },
          "labels" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DisplayPublicationArticleLabel"
            }
          },
          "stopper" : {
            "$ref" : "#/components/schemas/DisplayPublicationArticleStopper"
          },
          "wine" : {
            "$ref" : "#/components/schemas/DisplayPublicationArticleWine"
          }
        }
      },
      "DisplayPublicationArticleLabel" : {
        "type" : "object",
        "properties" : {
          "ratio" : {
            "type" : "number",
            "format" : "float"
          },
          "width" : {
            "type" : "string"
          },
          "height" : {
            "type" : "string"
          },
          "url" : {
            "$ref" : "#/components/schemas/CdnUrl"
          }
        }
      },
      "DisplayPublicationArticleStopper" : {
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "vertical_text" : {
            "type" : "string"
          },
          "validity" : {
            "type" : "string"
          }
        }
      },
      "DisplayPublicationArticleWine" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "$ref" : "#/components/schemas/DisplayPublicationArticleWineCountry"
          },
          "rating" : {
            "$ref" : "#/components/schemas/DisplayPublicationArticleWineRating"
          },
          "medals" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DisplayPublicationArticleWineMedal"
            }
          }
        }
      },
      "DisplayPublicationArticleWineCountry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "text" : {
            "type" : "string"
          },
          "flag" : {
            "$ref" : "#/components/schemas/CdnUrl"
          }
        }
      },
      "DisplayPublicationArticleWineRating" : {
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "stars" : {
            "$ref" : "#/components/schemas/RatingStars"
          }
        }
      },
      "DisplayPublicationArticleWineMedal" : {
        "type" : "object",
        "properties" : {
          "image" : {
            "$ref" : "#/components/schemas/CdnUrl"
          },
          "text" : {
            "type" : "string"
          }
        }
      },
      "Store" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "integer",
            "description" : "Navision store code",
            "format" : "int32"
          },
          "name" : {
            "type" : "string",
            "description" : "Name"
          },
          "address" : {
            "type" : "string",
            "description" : "Street"
          },
          "number" : {
            "type" : "string",
            "description" : "Street number"
          },
          "zip_code" : {
            "maximum" : 9699,
            "minimum" : 1000,
            "type" : "integer",
            "description" : "Zip code",
            "format" : "int32"
          },
          "canton_code" : {
            "type" : "string",
            "description" : "Canton (state) code"
          },
          "city" : {
            "type" : "string",
            "description" : "City"
          },
          "country_code" : {
            "$ref" : "#/components/schemas/CountryCode"
          },
          "phone" : {
            "$ref" : "#/components/schemas/Phone"
          },
          "hotline" : {
            "$ref" : "#/components/schemas/Phone"
          },
          "payment_types" : {
            "type" : "array",
            "description" : "Payment types",
            "items" : {
              "$ref" : "#/components/schemas/PaymentType"
            }
          },
          "credit_card" : {
            "type" : "boolean",
            "description" : "Credit card can be used for payments?"
          },
          "open_from" : {
            "type" : "string",
            "description" : "Opening on",
            "format" : "date"
          },
          "open_to" : {
            "type" : "string",
            "description" : "Closing on",
            "format" : "date"
          },
          "renovation_from" : {
            "type" : "string",
            "description" : "Renovation starting on",
            "format" : "date"
          },
          "renovation_to" : {
            "type" : "string",
            "description" : "Renovation ending on",
            "format" : "date"
          },
          "longitude" : {
            "type" : "number",
            "description" : "Geographic longitude",
            "format" : "float"
          },
          "latitude" : {
            "type" : "number",
            "description" : "Geographic latitude",
            "format" : "float"
          },
          "language" : {
            "type" : "string",
            "description" : "Language spoken in the store"
          },
          "email" : {
            "type" : "string",
            "description" : "Email address"
          },
          "homepage" : {
            "$ref" : "#/components/schemas/Url"
          },
          "parking_count" : {
            "minimum" : 0,
            "type" : "integer",
            "description" : "Reserved parking places for customers",
            "format" : "int32"
          },
          "channel" : {
            "$ref" : "#/components/schemas/StoreChannel"
          },
          "opening_times" : {
            "type" : "array",
            "description" : "Default opening times",
            "items" : {
              "$ref" : "#/components/schemas/OpeningTime"
            }
          },
          "special_opening_times" : {
            "type" : "array",
            "description" : "Special opening times",
            "items" : {
              "$ref" : "#/components/schemas/SpecialOpeningTime"
            }
          },
          "calendar_opening_times" : {
            "type" : "array",
            "description" : "Calendar opening times",
            "items" : {
              "$ref" : "#/components/schemas/CalendarOpeningTime"
            }
          },
          "services" : {
            "type" : "array",
            "description" : "Services provided by the store",
            "items" : {
              "$ref" : "#/components/schemas/StoreService"
            }
          }
        }
      },
      "PaymentType" : {
        "pattern" : "/^(cash|euro|maestro|post\")$/",
        "type" : "string",
        "description" : "Payment type"
      },
      "OpeningTime" : {
        "type" : "object",
        "properties" : {
          "weekday" : {
            "$ref" : "#/components/schemas/DayOfWeek"
          },
          "open_from" : {
            "$ref" : "#/components/schemas/Time"
          },
          "open_to" : {
            "$ref" : "#/components/schemas/Time"
          }
        }
      },
      "SpecialOpeningTime" : {
        "type" : "object",
        "properties" : {
          "day" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "open_from" : {
            "$ref" : "#/components/schemas/Time"
          },
          "open_to" : {
            "$ref" : "#/components/schemas/Time"
          },
          "reason" : {
            "type" : "string",
            "description" : "Reason for the special opening as displayed to users (localized)"
          },
          "closed" : {
            "type" : "boolean",
            "description" : "Is the store closed on this day?"
          }
        }
      },
      "CalendarOpeningTime" : {
        "type" : "object",
        "properties" : {
          "day" : {
            "$ref" : "#/components/schemas/DayDate"
          },
          "open_from" : {
            "$ref" : "#/components/schemas/Time"
          },
          "open_to" : {
            "$ref" : "#/components/schemas/Time"
          }
        }
      },
      "StoreChannel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "title" : {
            "type" : "string",
            "description" : "Channel title"
          }
        }
      },
      "StoreService" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "title" : {
            "type" : "string",
            "description" : "Service title"
          }
        }
      },
      "BaseResponse" : {
        "type" : "object",
        "properties" : {
          "total_items" : {
            "type" : "integer",
            "description" : "The number of items on all pages",
            "format" : "int32"
          }
        }
      },
      "BasePagedResponse" : {
        "type" : "object",
        "properties" : {
          "page_count" : {
            "type" : "integer",
            "description" : "The number of pages",
            "format" : "int32"
          },
          "page_size" : {
            "type" : "integer",
            "description" : "The page size",
            "format" : "int32"
          },
          "total_items" : {
            "type" : "integer",
            "description" : "The number of items on all pages",
            "format" : "int32"
          }
        }
      },
      "PublicOnlineArticlesResponse" : {
        "type" : "object",
        "properties" : {
          "online_articles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicOnlineArticle"
            }
          }
        }
      },
      "StoresResponse" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "stores" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/Store"
              }
            }
          }
        }, {
          "$ref" : "#/components/schemas/BaseResponse"
        } ]
      },
      "DisplayPublicationsResponse" : {
        "allOf" : [ {
          "type" : "object",
          "properties" : {
            "display_publications" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/components/schemas/DisplayPublication"
              }
            }
          }
        }, {
          "$ref" : "#/components/schemas/BasePagedResponse"
        } ]
      },
      "baseposters_body" : {
        "required" : [ "article_id" ],
        "type" : "object",
        "properties" : {
          "article_id" : {
            "pattern" : "/^[0-9]{6}$/",
            "type" : "string",
            "description" : "The unique identifier of an article"
          },
          "locale" : {
            "type" : "string",
            "description" : "Locale/language",
            "default" : "de",
            "enum" : [ "de", "fr", "it" ]
          },
          "quantity" : {
            "minimum" : 1,
            "type" : "integer",
            "description" : "Quantity for prices and texts",
            "format" : "int32",
            "default" : 1
          },
          "wine_year" : {
            "type" : "integer",
            "description" : "Wine year for texts, when not defined the wine year sold in shop is used, -1 for wine year suppression in text",
            "format" : "int32"
          },
          "valid_on" : {
            "type" : "string",
            "description" : "Valid on (e.g. \"2018-02-16\") for prices, when not defined the current day is used"
          }
        },
        "example" : {
          "article_id" : "051683",
          "locale" : "it",
          "quantity" : 6
        }
      }
    },
    "parameters" : {
      "FilterParam" : {
        "name" : "filter",
        "in" : "query",
        "description" : "Filters: JSON array of Filter object, urlencoded.\n\nFilter object:\n- property: Property to filter on.\n- operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).\n- type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).\n- value: Value. Must be of the defined type.\n\nExamples:\n- [{\"property\":\"id\",\"operator\":\"in\",\"type\":\"array\",\"value\":[\"7627150d-36bd-4867-89b2-091800a03d24\",\"58afec5c-ece9-4b66-bc55-00d6dc1b65b8\"]}]\n- [{\"property\":\"in_shop\",\"operator\":\"eq\",\"type\":\"boolean\",\"value\":true}]\n",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "SortParam" : {
        "name" : "sort",
        "in" : "query",
        "description" : "Filters: JSON array of Sort object, urlencoded.\n\nSort object:\n- property: Property to sort on.\n- direction: (optional) Sort direction property. Enumeration ('asc', 'desc').\n\nExamples:\n- [{\"property\":\"sort_index\",\"direction\":\"asc\"}]\n- [{\"property\":\"year\"},{\"property\":\"week\",\"direction\":\"asc\"}]\n",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string"
        }
      },
      "PageParam" : {
        "name" : "page",
        "in" : "query",
        "description" : "The page number. Default: 1\n",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "minimum" : 0,
          "type" : "integer",
          "format" : "int32",
          "default" : 1
        }
      },
      "PageSizeParam" : {
        "name" : "page_size",
        "in" : "query",
        "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "integer",
          "format" : "int32",
          "default" : 10
        }
      },
      "AcceptHeader" : {
        "name" : "Accept",
        "in" : "header",
        "description" : "Accepted content type (supported is \"application/json\")\n",
        "required" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "default" : "application/json"
        }
      },
      "AcceptLanguageHeader" : {
        "name" : "Accept-Language",
        "in" : "header",
        "description" : "Accepted locale (supported are \"de\", \"fr\", and \"it\")\n",
        "required" : false,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "type" : "string",
          "default" : "de"
        }
      },
      "LocaleQueryParam" : {
        "name" : "locale",
        "in" : "query",
        "description" : "Locale",
        "required" : false,
        "style" : "form",
        "explode" : true,
        "schema" : {
          "type" : "string",
          "enum" : [ "de", "fr", "it" ]
        }
      },
      "PublicationIdPathParam" : {
        "name" : "publication_id",
        "in" : "path",
        "description" : "The unique identifier of an online publication",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/",
          "type" : "string"
        }
      },
      "PublicationArticleIdPathParam" : {
        "name" : "article_id",
        "in" : "path",
        "description" : "The unique identifier of an online publication article",
        "required" : true,
        "style" : "simple",
        "explode" : false,
        "schema" : {
          "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/",
          "type" : "string"
        }
      }
    },
    "requestBodies" : {
      "BasePosterInput" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "required" : [ "article_id" ],
              "type" : "object",
              "properties" : {
                "article_id" : {
                  "pattern" : "/^[0-9]{6}$/",
                  "type" : "string",
                  "description" : "The unique identifier of an article"
                },
                "locale" : {
                  "type" : "string",
                  "description" : "Locale/language",
                  "default" : "de",
                  "enum" : [ "de", "fr", "it" ]
                },
                "quantity" : {
                  "minimum" : 1,
                  "type" : "integer",
                  "description" : "Quantity for prices and texts",
                  "format" : "int32",
                  "default" : 1
                },
                "wine_year" : {
                  "type" : "integer",
                  "description" : "Wine year for texts, when not defined the wine year sold in shop is used, -1 for wine year suppression in text",
                  "format" : "int32"
                },
                "valid_on" : {
                  "type" : "string",
                  "description" : "Valid on (e.g. \"2018-02-16\") for prices, when not defined the current day is used"
                }
              },
              "example" : {
                "article_id" : "051683",
                "locale" : "it",
                "quantity" : 6
              }
            }
          }
        },
        "required" : true
      }
    },
    "securitySchemes" : {
      "appKey" : {
        "type" : "apiKey",
        "description" : "Application key",
        "name" : "App-Key",
        "in" : "header"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}
