{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Denner Public Web Service",
    "description" : "RESTful API for Denner's open data",
    "contact" : {
      "name" : "DETAIL NET",
      "email" : "support+denner-public-api@detailnet.ch"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://denner-public-api.detailnet.ch/{apiGatewayPath}",
    "variables": {
      "apiGatewayPath": {
        "enum": ["test", "v1"],
        "default": "test",
        "description": "ApiGateway path"
      }
    },
    "description": "ApiGateway"
  }, {
    "url" : "https://denner-public-api-v1.detailnet.ch",
    "description": "CloudFront distribution for v1 (cache 1h)"
  } ],
  "paths" : {
    "/online-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles",
        "description" : "Use this operation to get a list of all articles currently in promotion and advertised in the online channels.\n",
        "operationId" : "listOnlineArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                },
                "example" : {
                  "online_articles" : [ {
                    "id" : "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6",
                    "article_id" : "051273",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "fr",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    }, {
                      "locale" : "it",
                      "value" : "Mandorla Primitivo di Puglia IGT"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "2013, Apulien, Italien, 6 x 75 cl"
                    }, {
                      "locale" : "fr",
                      "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                    }, {
                      "locale" : "it",
                      "value" : "2013, Puglia, Italia, 6 x 75 cl"
                    } ],
                    "prices" : {
                      "sales" : 59.4,
                      "instead" : 68.4,
                      "base" : 1.32,
                      "by_quantity" : [ {
                        "quantity" : 1,
                        "sales" : 9.9,
                        "instead" : 11.4
                      }, {
                        "quantity" : 6,
                        "sales" : 59.4,
                        "instead" : 68.4
                      } ]
                    },
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "quantity" : 6,
                    "validity" : {
                      "from" : "2015-06-23",
                      "to" : "2015-06-29",
                      "short_text" : [ {
                        "locale" : "de",
                        "value" : "Gültig von 23.06.–29.06."
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ],
                      "long_text" : [ {
                        "locale" : "de",
                        "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "availability_limitations" : {
                      "region" : [ {
                        "locale" : "de",
                        "value" : "Nur in der deutschen und französischen Schweiz erhältlich"
                      }, {
                        "locale" : "fr",
                        "value" : "..."
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ],
                      "store" : [ {
                        "locale" : "de",
                        "value" : "Nur in Filialen mit Frischprodukten erhältlich"
                      }, {
                        "locale" : "fr",
                        "value" : "Disponible(s) uniquement dans les succursales aves des produits frais"
                      }, {
                        "locale" : "it",
                        "value" : "..."
                      } ]
                    },
                    "compared" : true,
                    "online_group" : {
                      "id" : "a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee",
                      "code" : "2-9",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Wein/Champagner"
                      }, {
                        "locale" : "fr",
                        "value" : "Vins/champagnes"
                      }, {
                        "locale" : "it",
                        "value" : "Vino/champagne"
                      } ],
                      "parent" : {
                        "id" : "8fd653c3-a86b-4529-bbb5-58d06919d484",
                        "code" : 2,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Getränke"
                        }, {
                          "locale" : "fr",
                          "value" : "Boissons"
                        }, {
                          "locale" : "it",
                          "value" : "Bevande"
                        } ]
                      }
                    },
                    "packshot" : {
                      "id" : "5983a33d-ac61-49a8-a836-43259e78e9d0",
                      "cdn_url" : "https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                    },
                    "wine" : {
                      "country" : {
                        "id" : "IT",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Italien"
                        }, {
                          "locale" : "fr",
                          "value" : "Italie"
                        }, {
                          "locale" : "it",
                          "value" : "Italia"
                        } ]
                      },
                      "region" : {
                        "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Apulien"
                        }, {
                          "locale" : "fr",
                          "value" : "Les Pouilles"
                        }, {
                          "locale" : "it",
                          "value" : "Puglia"
                        } ]
                      },
                      "type" : {
                        "id" : 2,
                        "title" : [ {
                          "locale" : "de",
                          "value" : "Rotwein"
                        }, {
                          "locale" : "fr",
                          "value" : "Vin rouge"
                        }, {
                          "locale" : "it",
                          "value" : "Vino rosso"
                        } ]
                      },
                      "year" : 2013,
                      "fits_with" : [ {
                        "locale" : "de",
                        "value" : "Pasta, Fleisch mit würzigen Saucen"
                      }, {
                        "locale" : "fr",
                        "value" : "Pâtes, viande aux sauces relevées"
                      }, {
                        "locale" : "it",
                        "value" : "Pasta, carni accompagnate da salse aromatiche"
                      } ],
                      "varietal" : [ {
                        "locale" : "de",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "fr",
                        "value" : "Primitivo"
                      }, {
                        "locale" : "it",
                        "value" : "Primitivo"
                      } ],
                      "character" : [ {
                        "locale" : "de",
                        "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      }, {
                        "locale" : "fr",
                        "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      }, {
                        "locale" : "it",
                        "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                      } ],
                      "temperature" : [ {
                        "locale" : "de",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "fr",
                        "value" : "16-18 °C"
                      }, {
                        "locale" : "it",
                        "value" : "16-18 °C"
                      } ],
                      "awards" : [ {
                        "locale" : "de",
                        "value" : ""
                      }, {
                        "locale" : "fr",
                        "value" : ""
                      }, {
                        "locale" : "it",
                        "value" : ""
                      } ],
                      "storage" : [ {
                        "locale" : "de",
                        "value" : "3 Jahre"
                      }, {
                        "locale" : "fr",
                        "value" : "3 ans"
                      }, {
                        "locale" : "it",
                        "value" : "3 anni"
                      } ]
                    }
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/tobacco-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles having tobacco article group (not listed otherwise)",
        "description" : "Use this operation to get a list of all tobacco articles promoted today and advertised in the online channels.\n",
        "operationId" : "listOnlineTobaccoArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/newsletter-articles" : {
      "get" : {
        "tags" : [ "promotion" ],
        "summary" : "List all online articles for newsletter",
        "description" : "Use this operation to get a list of all online articles promoted in the given week in the newsletter channels.\n",
        "operationId" : "listNewsletterOnlineArticles",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "week",
          "in" : "query",
          "description" : "Year followed by the week number (ISO 8601, week date system) PHP date format 'o-W' (ref: https://www.php.net/manual/en/datetime.format.php)\n",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^[0-9]{4}\\-[0-9]{1,2}$",
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "de", "fr", "it" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PublicOnlineArticlesResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/stores" : {
      "get" : {
        "tags" : [ "store" ],
        "summary" : "List all stores",
        "description" : "Use this operation to get a list of all stores (Filialen).\n",
        "operationId" : "listStores",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "Accepted locale (supported are \"de\", \"fr\", and \"it\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "de"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StoresResponse"
                },
                "example" : {
                  "total_stores" : 794,
                  "stores" : [ {
                    "id" : "bcb8a388-8998-4d08-85a6-4864199704ee",
                    "code" : 302,
                    "address" : "Werdstrasse",
                    "number" : "36",
                    "zip_code" : 8004,
                    "canton_code" : "ZH",
                    "city" : "Zürich",
                    "country_code" : "CH",
                    "phone" : "044 240 22 83",
                    "hotline" : "0848 99 66 33",
                    "payment_types" : [ "cash", "euro", "maestro", "post" ],
                    "credit_card" : true,
                    "open_from" : "1998-08-01",
                    "renovation_from" : "2015-06-25",
                    "renovation_to" : "2015-06-26",
                    "latitude" : 47.3728447,
                    "longitude" : 8.5295153,
                    "language" : "de",
                    "email" : "info@denner.ch",
                    "homepage" : "http://www.denner.ch",
                    "parking_count" : 0,
                    "channel" : {
                      "id" : "5d1c3dd5-35a9-4c66-ab20-3409ea640334",
                      "title" : "Denner"
                    },
                    "opening_times" : [ {
                      "weekday" : 1,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 2,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 3,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 4,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 5,
                      "open_from" : "08:00",
                      "open_to" : "20:00"
                    }, {
                      "weekday" : 6,
                      "open_from" : "08:00",
                      "open_to" : "12:00"
                    }, {
                      "weekday" : 6,
                      "open_from" : "14:00",
                      "open_to" : "20:00"
                    } ],
                    "special_opening_times" : [ {
                      "day" : "2015-06-25",
                      "reason" : "Umbau",
                      "closed" : true
                    }, {
                      "day" : "2015-06-26",
                      "reason" : "Umbau",
                      "closed" : true
                    }, {
                      "day" : "2015-06-28",
                      "open_from" : "10:00",
                      "open_to" : "16:00",
                      "reason" : "Sonntagsverkauf",
                      "closed" : false
                    } ],
                    "services" : [ {
                      "id" : "acb911fb-b7e3-480f-ab91-1109e750892a",
                      "title" : "Humidor"
                    }, {
                      "id" : "d7b4925e-79f8-415f-9436-0adb4a9cc4de",
                      "title" : "Früchte und Gemüse"
                    }, {
                      "id" : "57d0301a-fd5d-4dce-ab0d-75dee1d16631",
                      "title" : "Backstation"
                    } ]
                  } ]
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/base-posters" : {
      "post" : {
        "tags" : [ "production" ],
        "summary" : "Create base poster",
        "description" : "Crate an A4 base poster (for pre-printed paper) from article.\n",
        "operationId" : "createBasePoster",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/baseposters_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successful creation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PdfFile"
                },
                "example" : {
                  "url" : "https://denner-assets-test.s3.eu-west-1.amazonaws.com/regio-publisher/e4654297-35f7-46bd-9525-11d9e5af7a22/Sunrise-Cabernet-Sauvignon-Concha-y-Toro.pdf"
                }
              }
            }
          },
          "400" : {
            "description" : "400 Bad Request",
            "content" : { }
          },
          "500" : {
            "description" : "500 Internal Server Error",
            "content" : { }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ],
        "x-codegen-request-body-name" : "BasePosterInput"
      }
    },
    "/display-publications" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "List all display-publications",
        "description" : "Use this operation to get a list of all display-publications.\n",
        "operationId" : "listDisplayPublications",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "filter",
          "in" : "query",
          "description" : "Filters: JSON array of Filter object, urlencoded.\n\nFilter object:\n- property: Property to filter on.\n- operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).\n- type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).\n- value: Value. Must be of the defined type.\n\nExamples:\n- [{\"property\":\"id\",\"operator\":\"in\",\"type\":\"array\",\"value\":[\"7627150d-36bd-4867-89b2-091800a03d24\",\"58afec5c-ece9-4b66-bc55-00d6dc1b65b8\"]}]\n- [{\"property\":\"in_shop\",\"operator\":\"eq\",\"type\":\"boolean\",\"value\":true}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Filters: JSON array of Sort object, urlencoded.\n\nSort object:\n- property: Property to sort on.\n- direction: (optional) Sort direction property. Enumeration ('asc', 'desc').\n\nExamples:\n- [{\"property\":\"sort_index\",\"direction\":\"asc\"}]\n- [{\"property\":\"year\"},{\"property\":\"week\",\"direction\":\"asc\"}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : { }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/display-publications/{layout}" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "Fetch display-publication",
        "description" : "Use this operation to fetch the first display-publication for a specific layout and language on current day.\n",
        "operationId" : "fetchDisplayPublication",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accepted content type (supported is \"application/json\")\n",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "layout",
          "in" : "path",
          "description" : "Layout",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "standard",
            "enum" : [ "standard", "week-end", "discount", "perfume", "wine", "cigarettes" ]
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "description" : "Locale",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "de", "fr", "it" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : { }
          },
          "204" : {
            "description" : "No result",
            "content" : { }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/screen-publications" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "List all screen publications",
        "description" : "Use this operation to get a list of all publications targeted at advertising screens (Screen-Werbemittel).\n",
        "operationId" : "listScreenPublications",
        "parameters" : [ {
          "name" : "filter",
          "in" : "query",
          "description" : "Filters: JSON array of Filter object, urlencoded.\n\nFilter object:\n- property: Property to filter on.\n- operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).\n- type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).\n- value: Value. Must be of the defined type.\n\nExamples:\n- [{\"property\":\"id\",\"operator\":\"in\",\"type\":\"array\",\"value\":[\"7627150d-36bd-4867-89b2-091800a03d24\",\"58afec5c-ece9-4b66-bc55-00d6dc1b65b8\"]}]\n- [{\"property\":\"in_shop\",\"operator\":\"eq\",\"type\":\"boolean\",\"value\":true}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Filters: JSON array of Sort object, urlencoded.\n\nSort object:\n- property: Property to sort on.\n- direction: (optional) Sort direction property. Enumeration ('asc', 'desc').\n\nExamples:\n- [{\"property\":\"sort_index\",\"direction\":\"asc\"}]\n- [{\"property\":\"year\"},{\"property\":\"week\",\"direction\":\"asc\"}]\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: 10\nTo disable pagination (when supported) send \"-1\".\n",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScreenPublicationsResponse"
                },
                "example" : {
                  "screen_publications" : [ {
                    "id" : "372bd590-1781-4905-beb4-5eeaeee6cf19",
                    "name" : "Parisienne Limited Edition Jaune (KW 29/2020) für Werbescreens",
                    "year" : 2020,
                    "week" : 29,
                    "sort_index" : 250,
                    "created_on" : "2020-06-15T00:11:21+0200",
                    "validity" : {
                      "from" : "2020-07-14",
                      "to" : "2020-07-20",
                      "text" : [ ]
                    },
                    "promotion_type" : {
                      "id" : "089f8537-981a-42ba-9b0a-b3cba4a1c7d5",
                      "code" : "FLUGBLATT",
                      "name" : "Dennerwoche"
                    },
                    "automatic" : true,
                    "article_count" : 8,
                    "screens" : [ {
                      "id" : "tobacco",
                      "name" : "Tabak"
                    }, {
                      "id" : "pos",
                      "name" : "POS"
                    } ],
                    "design" : {
                      "id" : "a59f84d6-f779-4075-95fe-5803aceae2f1",
                      "code" : 1,
                      "name" : "Standard"
                    },
                    "template" : {
                      "id" : "week-hit",
                      "code" : 1,
                      "name" : "Wo-Hit"
                    },
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Jaune"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Jaune"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Jaune"
                    } ],
                    "footer" : [ ]
                  }, {
                    "id" : "2559ed38-02d6-43b7-9c0d-756719b053db",
                    "name" : "Jack Daniel's Whiskey (KW 29/2020) für Werbescreens",
                    "year" : 2020,
                    "week" : 29,
                    "sort_index" : 2150,
                    "created_on" : "2020-06-15T00:11:21+0200",
                    "validity" : {
                      "from" : "2020-07-14",
                      "to" : "2020-07-20",
                      "text" : [ ]
                    },
                    "promotion_type" : {
                      "id" : "089f8537-981a-42ba-9b0a-b3cba4a1c7d5",
                      "code" : "FLUGBLATT",
                      "name" : "Dennerwoche"
                    },
                    "automatic" : true,
                    "article_count" : 1,
                    "screens" : [ {
                      "id" : "tobacco",
                      "name" : "Tabak"
                    } ],
                    "design" : {
                      "id" : "a59f84d6-f779-4075-95fe-5803aceae2f1",
                      "code" : 1,
                      "name" : "Standard"
                    },
                    "template" : {
                      "id" : "spirit",
                      "code" : 5,
                      "name" : "Spiri"
                    },
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Jack Daniel's Whiskey"
                    }, {
                      "locale" : "fr",
                      "value" : "Jack Daniel's Whiskey"
                    }, {
                      "locale" : "it",
                      "value" : "Jack Daniel's Whiskey"
                    } ],
                    "footer" : [ ]
                  }, {
                    "id" : "bffa7c0b-592a-494e-9363-8788e6100d1b",
                    "name" : "Chesterfield Orange (KW 29/2020) für Werbescreens",
                    "year" : 2020,
                    "week" : 29,
                    "sort_index" : 5600,
                    "created_on" : "2020-06-15T00:11:21+0200",
                    "validity" : {
                      "from" : "2020-07-17",
                      "to" : "2020-07-18",
                      "text" : [ {
                        "locale" : "de",
                        "value" : "Gültig am Freitag + Samstag"
                      }, {
                        "locale" : "fr",
                        "value" : "Valable vendredi + samedi"
                      }, {
                        "locale" : "it",
                        "value" : "Valido venerdì + sabato"
                      } ]
                    },
                    "promotion_type" : {
                      "id" : "37f205e5-0661-424f-bcd9-a68ce93016cb",
                      "code" : "WOCHENEND",
                      "name" : "Wochenend-Knaller"
                    },
                    "automatic" : true,
                    "article_count" : 8,
                    "banner" : {
                      "images" : [ {
                        "locale" : "de",
                        "formats" : [ {
                          "type" : "image/png",
                          "url" : "https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_DE.png",
                          "created_on" : "2020-06-15T00:11:21+0200"
                        } ]
                      }, {
                        "locale" : "fr",
                        "formats" : [ {
                          "type" : "image/png",
                          "url" : "https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_FR.png",
                          "created_on" : "2020-06-15T00:11:21+0200"
                        } ]
                      }, {
                        "locale" : "it",
                        "formats" : [ {
                          "type" : "image/png",
                          "url" : "https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_IT.png",
                          "created_on" : "2020-06-15T00:11:21+0200"
                        } ]
                      } ]
                    },
                    "screens" : [ {
                      "id" : "tobacco",
                      "name" : "Tabak"
                    } ],
                    "design" : {
                      "id" : "a59f84d6-f779-4075-95fe-5803aceae2f1",
                      "code" : 1,
                      "name" : "Standard"
                    },
                    "template" : {
                      "id" : "weekend",
                      "code" : 4,
                      "name" : "WE-Knaller"
                    },
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Chesterfield Orange"
                    }, {
                      "locale" : "fr",
                      "value" : "Chesterfield Orange"
                    }, {
                      "locale" : "it",
                      "value" : "Chesterfield Orange"
                    } ],
                    "footer" : [ ]
                  }, {
                    "id" : "ad4a6d47-2506-41a7-9cdc-b9f81bc5b56c",
                    "name" : "Argento Selección Malbec (KW 29/2020) für Werbescreens",
                    "year" : 2020,
                    "week" : 29,
                    "sort_index" : 325,
                    "created_on" : "2020-07-01T08:41:27+0200",
                    "validity" : {
                      "from" : "2020-07-14",
                      "to" : "2020-07-20",
                      "text" : [ ]
                    },
                    "promotion_type" : {
                      "id" : "089f8537-981a-42ba-9b0a-b3cba4a1c7d5",
                      "code" : "FLUGBLATT",
                      "name" : "Dennerwoche"
                    },
                    "automatic" : true,
                    "article_count" : 1,
                    "screens" : [ {
                      "id" : "pos",
                      "name" : "POS"
                    } ],
                    "design" : {
                      "id" : "a59f84d6-f779-4075-95fe-5803aceae2f1",
                      "code" : 1,
                      "name" : "Standard"
                    },
                    "template" : {
                      "id" : "non-tobacco",
                      "code" : 6,
                      "name" : "Nicht-Tabak"
                    },
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Argento Selección Malbec"
                    }, {
                      "locale" : "fr",
                      "value" : "Argento Selección Malbec"
                    }, {
                      "locale" : "it",
                      "value" : "Argento Selección Malbec"
                    } ],
                    "footer" : [ ]
                  } ],
                  "page_count" : 1,
                  "page_size" : 10,
                  "total_items" : 4
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    },
    "/screen-publications/{publication_id}" : {
      "get" : {
        "tags" : [ "advertising" ],
        "summary" : "Get single screen publication (includes all advertised articles)",
        "description" : "Use this operation to get a single publication targeted at advertising screens (Screen-Werbemittel). The response will include the articles assigned to this publication.\n",
        "operationId" : "getScreenPublication",
        "parameters" : [ {
          "name" : "publication_id",
          "in" : "path",
          "description" : "The unique identifier of an online publication",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ScreenPublicationWithArticles"
                },
                "example" : {
                  "id" : "372bd590-1781-4905-beb4-5eeaeee6cf19",
                  "name" : "Parisienne Limited Edition Jaune (KW 29/2020) für Werbescreens",
                  "year" : 2020,
                  "week" : 29,
                  "sort_index" : 250,
                  "created_on" : "2020-06-15T00:11:21+0200",
                  "validity" : {
                    "from" : "2020-07-14",
                    "to" : "2020-07-20",
                    "text" : [ ]
                  },
                  "promotion_type" : {
                    "id" : "089f8537-981a-42ba-9b0a-b3cba4a1c7d5",
                    "code" : "FLUGBLATT",
                    "name" : "Dennerwoche"
                  },
                  "articles" : [ {
                    "id" : "d62a78d1-520a-47cb-875c-e147c4b55499",
                    "sort_index" : 1,
                    "article_id" : 98000.0,
                    "advertised_article_id" : "6c1911ac-05c3-417b-8f27-09a0a43ae38f",
                    "quantity" : 1,
                    "advertised_quantity" : 1,
                    "name" : "Parisienne Jaune Box LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "- Jaune\n- Blonde\n- Orange Ohne\n- Verte Ohne\nBox, 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "- Jaune\n- Blonde\n- Orange Sans\n- Verte Sans\nBox, 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "- Jaune\n- Blonde\n- Orange Senza\n- Verte Senza\nBox, 20 sigarette"
                    } ],
                    "composite_info" : {
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Parisienne Limited Edition"
                      }, {
                        "locale" : "fr",
                        "value" : "Parisienne Limited Edition"
                      }, {
                        "locale" : "it",
                        "value" : "Parisienne Limited Edition"
                      } ],
                      "description" : [ {
                        "locale" : "de",
                        "value" : "- Jaune\n- Blonde\n- Orange Ohne\n- Verte Ohne\nBox, 20 Zigaretten"
                      }, {
                        "locale" : "fr",
                        "value" : "- Jaune\n- Blonde\n- Orange Sans\n- Verte Sans\nBox, 20 cigarettes"
                      }, {
                        "locale" : "it",
                        "value" : "- Jaune\n- Blonde\n- Orange Senza\n- Verte Senza\nBox, 20 sigarette"
                      } ]
                    },
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "7.–",
                    "stopper" : {
                      "id" : "c36a0cc5-e7a2-4909-9e17-cd5bfca94c21",
                      "type" : {
                        "id" : "promotion"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 8.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 8.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 8.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Packung"
                    }, {
                      "locale" : "fr",
                      "value" : "Par paquet"
                    }, {
                      "locale" : "it",
                      "value" : "Per pacchetto"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "e9297375-8ac5-4af3-9caa-f9aa5e023586",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2020-05-22T17:19:16+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "2d553701-a1ea-4848-8d26-808e4389ed17",
                    "sort_index" : 5,
                    "article_id" : 90392.0,
                    "advertised_article_id" : "a5b7eb20-4159-475f-95c9-ce21c36a4e6b",
                    "quantity" : 1,
                    "advertised_quantity" : 1,
                    "name" : "Parisienne OHNE Orange LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Orange Ohne"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Orange Sans"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Orange Senza"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "7.–",
                    "stopper" : {
                      "id" : "e871dd7a-4204-4845-b978-48586d55b480",
                      "type" : {
                        "id" : "promotion"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 8.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 8.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 8.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Packung"
                    }, {
                      "locale" : "fr",
                      "value" : "Par paquet"
                    }, {
                      "locale" : "it",
                      "value" : "Per pacchetto"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "18787f78-f88f-437c-90da-dea98f5cb650",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png",
                      "archived" : false,
                      "auto_assigned" : true,
                      "created_on" : "2020-05-22T17:19:15+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "1a2dea4d-1054-472e-ac55-cb6525aac8e8",
                    "sort_index" : 7,
                    "article_id" : 90393.0,
                    "advertised_article_id" : "6a6d5477-236d-430f-8c4f-1d5f4a5ba50e",
                    "quantity" : 1,
                    "advertised_quantity" : 1,
                    "name" : "Parisienne OHNE Verte LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Verte Ohne"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Verte Sans"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Verte Senza"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "7.–",
                    "stopper" : {
                      "id" : "d8564a9f-e7c7-479b-a049-4d8ccde37233",
                      "type" : {
                        "id" : "promotion"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 8.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 8.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 8.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Packung"
                    }, {
                      "locale" : "fr",
                      "value" : "Par paquet"
                    }, {
                      "locale" : "it",
                      "value" : "Per pacchetto"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "17c81f69-3d45-46e9-91d3-cd9b124adede",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png",
                      "archived" : false,
                      "auto_assigned" : true,
                      "created_on" : "2020-05-22T17:19:15+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "90d6f99e-9a9a-4d1d-85bd-df6b1a8b880e",
                    "sort_index" : 3,
                    "article_id" : 98001.0,
                    "advertised_article_id" : "46c453bb-6bea-4566-949e-23667b2cc0f6",
                    "quantity" : 1,
                    "advertised_quantity" : 1,
                    "name" : "Parisienne Blonde Box LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Blonde"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Blonde"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Blonde"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "7.–",
                    "stopper" : {
                      "id" : "dd1b56ae-f9f0-4564-a54e-6b62404d24ef",
                      "type" : {
                        "id" : "promotion"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "AKTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "ACTION",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "AZIONE",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 8.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 8.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 8.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Packung"
                    }, {
                      "locale" : "fr",
                      "value" : "Par paquet"
                    }, {
                      "locale" : "it",
                      "value" : "Per pacchetto"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "f19771e8-2aac-47f2-8347-00031e9c576d",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2020-05-22T17:19:16+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "a49ab603-d6a1-44e5-9c86-e9cffd204fe3",
                    "sort_index" : 0,
                    "article_id" : 98000.0,
                    "advertised_article_id" : "66008d35-e331-43db-bdd2-d6110d550c59",
                    "quantity" : 10,
                    "advertised_quantity" : 10,
                    "name" : "Parisienne Jaune Box LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "- Jaune\n- Blonde\n- Orange Ohne\n- Verte Ohne\nBox, 10 x 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "- Jaune\n- Blonde\n- Orange Sans\n- Verte Sans\nBox, 10 x 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "- Jaune\n- Blonde\n- Orange Senza\n- Verte Senza\nBox, 10 x 20 sigarette"
                    } ],
                    "composite_info" : {
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Parisienne Limited Edition"
                      }, {
                        "locale" : "fr",
                        "value" : "Parisienne Limited Edition"
                      }, {
                        "locale" : "it",
                        "value" : "Parisienne Limited Edition"
                      } ],
                      "description" : [ {
                        "locale" : "de",
                        "value" : "- Jaune\n- Blonde\n- Orange Ohne\n- Verte Ohne\nBox, 10 x 20 Zigaretten"
                      }, {
                        "locale" : "fr",
                        "value" : "- Jaune\n- Blonde\n- Orange Sans\n- Verte Sans\nBox, 10 x 20 cigarettes"
                      }, {
                        "locale" : "it",
                        "value" : "- Jaune\n- Blonde\n- Orange Senza\n- Verte Senza\nBox, 10 x 20 sigarette"
                      } ]
                    },
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "70.–",
                    "stopper" : {
                      "id" : "fe2bccd3-8ff4-49df-9f98-402e75ea2e2d",
                      "type" : {
                        "id" : "save_value"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 80.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 80.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 80.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Stange"
                    }, {
                      "locale" : "fr",
                      "value" : "Par cartouche"
                    }, {
                      "locale" : "it",
                      "value" : "Per stecca"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "8eeb5a82-ee31-418a-a41c-55df0976853f",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2020-05-22T17:19:16+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "4868b9f1-53b3-4c2d-a395-af3dbce5ce76",
                    "sort_index" : 4,
                    "article_id" : 90392.0,
                    "advertised_article_id" : "81455753-e25c-482f-8b11-29098c32b6c9",
                    "quantity" : 10,
                    "advertised_quantity" : 10,
                    "name" : "Parisienne OHNE Orange LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Orange Ohne"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Orange Sans"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Orange Senza"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 10 x 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 10 x 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 10 x 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "70.–",
                    "stopper" : {
                      "id" : "f78f02d8-df36-493d-9f35-931dd4711147",
                      "type" : {
                        "id" : "save_value"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 80.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 80.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 80.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Stange"
                    }, {
                      "locale" : "fr",
                      "value" : "Par cartouche"
                    }, {
                      "locale" : "it",
                      "value" : "Per stecca"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "f8d6bccf-7650-40cb-b91a-ec40c9cae67b",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2017-07-17T10:18:52+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "0f27ce16-c5f4-4050-8ecd-e3797239b160",
                    "sort_index" : 6,
                    "article_id" : 90393.0,
                    "advertised_article_id" : "07734cc6-257d-43da-bcbf-e21701a827e1",
                    "quantity" : 10,
                    "advertised_quantity" : 10,
                    "name" : "Parisienne OHNE Verte LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Verte Ohne"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Verte Sans"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Verte Senza"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 10 x 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 10 x 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 10 x 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "70.–",
                    "stopper" : {
                      "id" : "601a67bb-b786-4b2b-a918-941e9649979a",
                      "type" : {
                        "id" : "save_value"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 80.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 80.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 80.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Stange"
                    }, {
                      "locale" : "fr",
                      "value" : "Par cartouche"
                    }, {
                      "locale" : "it",
                      "value" : "Per stecca"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "7a6bb759-f6d8-4574-849a-676650078eee",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2017-07-17T10:18:42+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  }, {
                    "id" : "ee8d736e-c74b-47cd-86e0-beb411725b6d",
                    "sort_index" : 2,
                    "article_id" : 98001.0,
                    "advertised_article_id" : "b6837cf8-8b99-4c25-99c5-6d9e1becb63b",
                    "quantity" : 10,
                    "advertised_quantity" : 10,
                    "name" : "Parisienne Blonde Box LEP 20",
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Parisienne Limited Edition Blonde"
                    }, {
                      "locale" : "fr",
                      "value" : "Parisienne Limited Edition Blonde"
                    }, {
                      "locale" : "it",
                      "value" : "Parisienne Limited Edition Blonde"
                    } ],
                    "description" : [ {
                      "locale" : "de",
                      "value" : "Box, 10 x 20 Zigaretten"
                    }, {
                      "locale" : "fr",
                      "value" : "Box, 10 x 20 cigarettes"
                    }, {
                      "locale" : "it",
                      "value" : "Box, 10 x 20 sigarette"
                    } ],
                    "eco_labels" : [ ],
                    "dots" : [ ],
                    "sales_price" : "70.–",
                    "stopper" : {
                      "id" : "ba5286cd-346c-493c-89bf-c48206b62c50",
                      "type" : {
                        "id" : "save_value"
                      },
                      "markup_text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "text" : [ {
                        "locale" : "de",
                        "value" : "– 10 Fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "fr",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      }, {
                        "locale" : "it",
                        "value" : "– 10 fr.",
                        "created_on" : "2020-07-14T15:11:17+0200"
                      } ],
                      "images" : [ ]
                    },
                    "instead_price" : [ {
                      "locale" : "de",
                      "value" : "statt 80.–"
                    }, {
                      "locale" : "fr",
                      "value" : "au lieu de 80.–"
                    }, {
                      "locale" : "it",
                      "value" : "invece di 80.–"
                    } ],
                    "price_info" : [ {
                      "locale" : "de",
                      "value" : "Konkurrenzvergleich"
                    }, {
                      "locale" : "fr",
                      "value" : "Comparaison concurrentielle"
                    }, {
                      "locale" : "it",
                      "value" : "Confronto con la concorrenza"
                    } ],
                    "price_unit" : [ {
                      "locale" : "de",
                      "value" : "Pro Stange"
                    }, {
                      "locale" : "fr",
                      "value" : "Par cartouche"
                    }, {
                      "locale" : "it",
                      "value" : "Per stecca"
                    } ],
                    "promotion_info" : [ ],
                    "compared" : true,
                    "article_group" : {
                      "id" : "163e8f02-105b-494e-8ba3-73ed9007eef3",
                      "code" : "79-02",
                      "name" : "Zigaretten",
                      "parent" : {
                        "id" : "548c44b8-8f7d-4c08-8b41-4a2a65432861",
                        "code" : "79",
                        "name" : "Rauchwaren"
                      }
                    },
                    "packshot" : {
                      "id" : "68c5bffe-c66b-4071-8836-4ef8c5348b59",
                      "quantity" : 1,
                      "url" : "https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png",
                      "image_url" : "https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png",
                      "preview_url" : "https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png?version=1",
                      "cdn_url" : "https://denner.imgix.net/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png",
                      "archived" : false,
                      "auto_assigned" : false,
                      "created_on" : "2020-05-22T17:19:16+0200",
                      "view" : {
                        "id" : "front"
                      }
                    },
                    "supplier" : {
                      "code" : 31770
                    }
                  } ],
                  "screens" : [ {
                    "id" : "tobacco",
                    "name" : "Tabak"
                  }, {
                    "id" : "pos",
                    "name" : "POS"
                  } ],
                  "design" : {
                    "id" : "a59f84d6-f779-4075-95fe-5803aceae2f1",
                    "code" : 1,
                    "name" : "Standard"
                  },
                  "template" : {
                    "id" : "week-hit",
                    "code" : 1,
                    "name" : "Wo-Hit"
                  },
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Parisienne Limited Edition Jaune"
                  }, {
                    "locale" : "fr",
                    "value" : "Parisienne Limited Edition Jaune"
                  }, {
                    "locale" : "it",
                    "value" : "Parisienne Limited Edition Jaune"
                  } ],
                  "footer" : [ ]
                }
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "UUIDv4" : {
        "pattern" : "/^[a-f0-9]{8}\\-[a-f0-9]{4}\\-4[a-f0-9]{3}\\-(8|9|a|b)[a-f0-9]{3}\\-[a-f0-9]{12}$/",
        "type" : "string",
        "description" : "Unique identifier"
      },
      "Locale" : {
        "pattern" : "/^(de|fr|it)$/",
        "type" : "string",
        "description" : "Locale"
      },
      "SortIndex" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Index for sorting",
        "format" : "int32"
      },
      "Translation" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "$ref" : "#/components/schemas/Locale"
          },
          "value" : {
            "type" : "string",
            "description" : "Translated text value"
          }
        }
      },
      "Url" : {
        "type" : "string",
        "description" : "Web URL address"
      },
      "Phone" : {
        "type" : "string",
        "description" : "Formatted phone number"
      },
      "PublicCountry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "/^[A-Z]{2}$/",
            "type" : "string",
            "description" : "Country code definition from ISO 3166"
          },
          "title" : {
            "$ref" : "#/components/schemas/Translations"
          }
        },
        "description" : "Country"
      },
      "CountryFlag" : {
        "type" : "object",
        "properties" : {
          "image_url" : {
            "$ref" : "#/components/schemas/Url"
          }
        },
        "description" : "Country flag"
      },
      "Country" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/PublicCountry"
        }, {
          "type" : "object",
          "properties" : {
            "flag" : {
              "$ref" : "#/components/schemas/CountryFlag"
            }
          }
        } ]
      },
      "Date" : {
        "type" : "string",
        "description" : "Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)",
        "format" : "date"
      },
      "Time" : {
        "pattern" : "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/",
        "type" : "string",
        "description" : "Time; Format HH:MM:SS"
      },
      "DayOfWeek" : {
        "maximum" : 6,
        "minimum" : 0,
        "type" : "integer",
        "description" : "Day of week; 0 = Sunday",
        "format" : "int32"
      },
      "Year" : {
        "minimum" : 1800,
        "type" : "integer",
        "description" : "Year",
        "format" : "int32"
      },
      "Week" : {
        "maximum" : 53,
        "minimum" : 1,
        "type" : "integer",
        "description" : "Week number (ISO 8601, week date system)",
        "format" : "int32"
      },
      "Price" : {
        "minimum" : 0,
        "type" : "number",
        "description" : "Price in CHF",
        "format" : "float"
      },
      "Quantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Quantity",
        "format" : "int32"
      },
      "SoldQuantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Sold quantity (for texts and prices)",
        "format" : "int32"
      },
      "AdvertisedQuantity" : {
        "minimum" : 0,
        "type" : "integer",
        "description" : "Advertised quantity (for images)",
        "format" : "int32"
      },
      "CompositeInfo" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "$ref" : "#/components/schemas/Translations"
          },
          "description" : {
            "$ref" : "#/components/schemas/Translations"
          }
        }
      },
      "Supplier" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "PromotionType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "string",
            "description" : "Navision promotion type code"
          },
          "name" : {
            "type" : "string"
          }
        }
      },
      "Validity" : {
        "type" : "object",
        "properties" : {
          "from" : {
            "$ref" : "#/components/schemas/Date"
          },
          "to" : {
            "$ref" : "#/components/schemas/Date"
          },
          "text" : {
            "$ref" : "#/components/schemas/Translations"
          }
        },
        "description" : "Generic validity based on dates (from/to) and a corresponding text"
      },
      "ArticleValidity" : {
        "type" : "object",
        "properties" : {
          "from" : {
            "$ref" : "#/components/schemas/Date"
          },
          "to" : {
            "$ref" : "#/components/schemas/Date"
          },
          "short_text" : {
            "$ref" : "#/components/schemas/Translations"
          },
          "long_text" : {
            "$ref" : "#/components/schemas/Translations"
          }
        },
        "description" : "Article validity based on dates (from/to) and corresponding texts (short and long version)"
      },
      "AvailabilityLimitations" : {
        "type" : "object",
        "properties" : {
          "region" : {
            "$ref" : "#/components/schemas/Translations"
          },
          "store" : {
            "$ref" : "#/components/schemas/Translations"
          }
        },
        "description" : "Texts for information about limited availability"
      },
      "PdfFile" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "$ref" : "#/components/schemas/Url"
          }
        },
        "description" : "Source of the PDF document"
      },
      "AssignedArticleGroup" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "pattern" : "/^\\d{2}(-\\d{2,3})?$/",
            "type" : "string",
            "description" : "Navision article group code (e.g. '01', '20', '01-60', '38-998')"
          },
          "name" : {
            "type" : "string",
            "description" : "Article group name"
          },
          "parent" : {
            "$ref" : "#/components/schemas/AssignedArticleGroup"
          }
        }
      },
      "EcoLabel" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "code" : {
            "type" : "string",
            "description" : "Eco label ID (e.g. 'suisse-garantie', 'utz')"
          },
          "name" : {
            "type" : "string",
            "description" : "German name for the eco label"
          },
          "images" : {
            "$ref" : "#/components/schemas/EcoLabel_images"
          }
        }
      },
      "PackshotView" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "View ID that is represented in packshot",
            "enum" : [ "front", "back" ]
          }
        }
      },
      "Packshot" : {
        "required" : [ "cdn_url", "id", "url" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "quantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "image_url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "preview_url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "cdn_url" : {
            "$ref" : "#/components/schemas/Url"
          },
          "archived" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "view" : {
            "$ref" : "#/components/schemas/PackshotView"
          },
          "created_on" : {
            "$ref" : "#/components/schemas/Date"
          }
        }
      },
      "LocalizedPackshot" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Packshot"
        }, {
          "required" : [ "locale" ],
          "type" : "object",
          "properties" : {
            "locale" : {
              "$ref" : "#/components/schemas/Locale"
            }
          }
        } ]
      },
      "Output" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "type" : {
            "$ref" : "#/components/schemas/OutputType"
          },
          "text" : {
            "$ref" : "#/components/schemas/Translations"
          },
          "images" : {
            "$ref" : "#/components/schemas/OutputImages"
          }
        }
      },
      "Stopper" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/Output"
        }, {
          "type" : "object",
          "properties" : {
            "markup_text" : {
              "type" : "object",
              "allOf" : [ {
                "$ref" : "#/components/schemas/Translations"
              }, {
                "type" : "object",
                "description" : "Markup text for visual effects"
              } ]
            }
          }
        } ]
      },
      "OutputType" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Output type id"
          }
        },
        "description" : "Output type"
      },
      "OutputImage" : {
        "type" : "object",
        "properties" : {
          "locale" : {
            "type" : "string",
            "description" : "Locale for the image formats"
          },
          "design" : {
            "$ref" : "#/components/schemas/OutputImageDesign"
          },
          "formats" : {
            "$ref" : "#/components/schemas/OutputImageFormats"
          }
        }
      },
      "OutputImageDesign" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Designe of output image (e.g. 'red','white', ...)"
          },
          "priority" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "OutputImageFormat" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "description" : "Mime type for the output image"
          },
          "url" : {
            "type" : "string",
            "description" : "Image url which can be used, for example, in an 'img' tag"
          }
        }
      },
      "PublicArticlePrices" : {
        "type" : "object",
        "properties" : {
          "sales" : {
            "$ref" : "#/components/schemas/Price"
          },
          "instead" : {
            "$ref" : "#/components/schemas/Price"
          },
          "base" : {
            "$ref" : "#/components/schemas/Price"
          },
          "by_quantity" : {
            "$ref" : "#/components/schemas/PublicQuantityPrices"
          }
        }
      },
      "PublicQuantityPrices" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/PublicQuantityPrice"
        }
      },
      "PublicQuantityPrice" : {
        "type" : "object",
        "properties" : {
          "quantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "sales" : {
            "$ref" : "#/components/schemas/Price"
          },
          "instead" : {
            "$ref" : "#/components/schemas/Price"
          }
        }
      },
      "PublicPackshot" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "$ref" : "#/components/schemas/UUIDv4"
          },
          "cdn_url" : {
[...]
