swagger: '2.0'
info:
  description: RESTful API for Denner's open data
  version: 1.0.0
  title: Denner Public Web Service
  contact:
    name: DETAIL NET
    email: support+denner-public-api@detailnet.ch
# In Swagger definition is not possible to define multiple servers/hosts/basepth (ref https://swagger.io/docs/specification/2-0/api-host-and-base-path/)
#on migration to OpenApi standard, define servers:
#servers:
#  - url: https://denner-public-api.detailnet.ch/{apiGatewayPath}
#    description: ApiGateway
#    variables:
#      apiGatewayPath
#        enum:
#          - test
#          - v1
#        default: test,
#        description: ApiGateway path
#  - url: https://denner-public-api-v1.detailnet.ch
#    description: CloudFront distribution for V1 (cache 1h)
host: denner-public-api-v1.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Articles/Promotions
  /online-articles:
    get:
      summary: List all online articles
      description: |
        Use this operation to get a list of all articles currently in promotion and advertised in the online channels.
      tags:
        - promotion
      operationId: listOnlineArticles
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
#        - $ref: '#/parameters/PageParam'
#        - $ref: '#/parameters/PageSizeParam'
#        - $ref: '#/parameters/FilterParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'
          examples:
            application/json:

              online_articles:
              - id: dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6
                article_id: '051273'
                title:
                - locale: de
                  value: Mandorla Primitivo di Puglia IGT
                - locale: fr
                  value: Mandorla Primitivo di Puglia IGT
                - locale: it
                  value: Mandorla Primitivo di Puglia IGT
                description:
                - locale: de
                  value: 2013, Apulien, Italien, 6 x 75 cl
                - locale: fr
                  value: 2013, les Pouilles, Italie, 6 x 75 cl
                - locale: it
                  value: 2013, Puglia, Italia, 6 x 75 cl
                prices:
                  sales: 59.4
                  instead: 68.4
                  base: 1.32
                  by_quantity:
                  - quantity: 1
                    sales: 9.9
                    instead: 11.4
                  - quantity: 6
                    sales: 59.4
                    instead: 68.4
                price_info:
                - locale: de
                  value: Konkurrenzvergleich
                - locale: fr
                  value: Comparaison concurrentielle
                - locale: it
                  value: Confronto con la concorrenza
                quantity: 6
                validity:
                  from: '2015-06-23'
                  to: '2015-06-29'
                  short_text:
                  - locale: de
                    value: Gültig von 23.06.–29.06.
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                  long_text:
                  - locale: de
                    value: Angebot gültig von 23.06.2015 bis 29.06.2015
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                availability_limitations:
                  region:
                  - locale: de
                    value: Nur in der deutschen und französischen Schweiz erhältlich
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                  store:
                  - locale: de
                    value: Nur in Filialen mit Frischprodukten erhältlich
                  - locale: fr
                    value: Disponible(s) uniquement dans les succursales aves des produits frais
                  - locale: it
                    value: "..."
                compared: true
                online_group:
                  id: a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee
                  code: 2-9
                  title:
                  - locale: de
                    value: Wein/Champagner
                  - locale: fr
                    value: Vins/champagnes
                  - locale: it
                    value: Vino/champagne
                  parent:
                    id: 8fd653c3-a86b-4529-bbb5-58d06919d484
                    code: 2
                    title:
                    - locale: de
                      value: Getränke
                    - locale: fr
                      value: Boissons
                    - locale: it
                      value: Bevande
                packshot:
                  id: 5983a33d-ac61-49a8-a836-43259e78e9d0
                  cdn_url: https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png
                wine:
                  country:
                    id: IT
                    title:
                    - locale: de
                      value: Italien
                    - locale: fr
                      value: Italie
                    - locale: it
                      value: Italia
                  region:
                    id: b19c42bf-ed78-46ff-ad6f-fc688a059e6a
                    title:
                    - locale: de
                      value: Apulien
                    - locale: fr
                      value: Les Pouilles
                    - locale: it
                      value: Puglia
                  type:
                    id: 2
                    title:
                    - locale: de
                      value: Rotwein
                    - locale: fr
                      value: Vin rouge
                    - locale: it
                      value: Vino rosso
                  year: 2013
                  fits_with:
                  - locale: de
                    value: Pasta, Fleisch mit würzigen Saucen
                  - locale: fr
                    value: Pâtes, viande aux sauces relevées
                  - locale: it
                    value: Pasta, carni accompagnate da salse aromatiche
                  varietal:
                  - locale: de
                    value: Primitivo
                  - locale: fr
                    value: Primitivo
                  - locale: it
                    value: Primitivo
                  character:
                  - locale: de
                    value: Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen
                      und Brombeeren. Geschmeidig im Gaumen.
                  - locale: fr
                    value: Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres.
                      Bouche moelleuse.
                  - locale: it
                    value: Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more.
                      Morbido al palato.
                  temperature:
                  - locale: de
                    value: 16-18 °C
                  - locale: fr
                    value: 16-18 °C
                  - locale: it
                    value: 16-18 °C
                  awards:
                  - locale: de
                    value: ''
                  - locale: fr
                    value: ''
                  - locale: it
                    value: ''
                  storage:
                  - locale: de
                    value: 3 Jahre
                  - locale: fr
                    value: 3 ans
                  - locale: it
                    value: 3 anni

  /tobacco-articles:
    get:
      summary: List all online articles having tobacco article group (not listed otherwise)
      description: |
        Use this operation to get a list of all tobacco articles promoted today and advertised in the online channels.
      tags:
        - promotion
      operationId: listOnlineTobaccoArticles
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
      #        - $ref: '#/parameters/PageParam'
      #        - $ref: '#/parameters/PageSizeParam'
      #        - $ref: '#/parameters/FilterParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'
  /newsletter-articles:
    get:
      summary: List all online articles for newsletter
      description: |
        Use this operation to get a list of all online articles promoted in the given week in the newsletter channels.
      tags:
        - promotion
      operationId: listNewsletterOnlineArticles
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - name: week
          in: query
          required: true
          type: string
          description: >
             Year followed by the week number (ISO 8601, week date system)
             PHP date format 'o-W' (ref: https://www.php.net/manual/en/datetime.format.php)
          pattern: ^[0-9]{4}\-[0-9]{1,2}$
        - $ref: '#/parameters/LocaleQueryParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'
#  /online-groups:
#      get:
#        summary: List all online groups
#        description: >
#          Use this operation to get a list of all online groups (Internet-Sortimente).
#        tags:
#          - online
#        operationId: listOnlineGroups
#        security:
#          - appKey: []
#          - appId: []
#        parameters:
#          - $ref: '#/parameters/PageParam'
#          - $ref: '#/parameters/PageSizeParam'
#        responses:
#          200:
#            description: Successful listing
#            schema:
#              $ref: '#/definitions/OnlineGroupsResponse'
#            examples:
#              application/json:
#
#                page_count: 1
#                page_size: 1
#                total_items: 1
#                online_groups:
#                  -
#                    id: "7627150d-36bd-4867-89b2-091800a03d24"
#                    code: 1001
#                    sort_index: 0
#                    allow_featuring: true
#                    allow_promotion: true
#                    allow_background: true
#                    title:
#                      -
#                        locale: "de"
#                        value: "Frischprodukte"
#                      -
#                        locale: "fr"
#                        value: "Produits frais"
#                      -
#                        locale: "it"
#                        value: "Prodotti freschi"
#                    children:
#                      -
#                        id: "58afec5c-ece9-4b66-bc55-00d6dc1b65b8"
#                        code: 1001
#                        sort_index: 0
#                        allow_featuring: true
#                        allow_promotion: true
#                        allow_background: true
#                        title:
#                          -
#                            locale: "de"
#                            value: "Milchprodukte"
#                          -
#                            locale: "fr"
#                            value: "Produits laitiers"
#                          -
#                            locale: "it"
#                            value: "Latticini"
#                        children: []
#                      -
#                        id: "e5216167-9da5-41d6-b7b3-96362b60de89"
#                        code: 1002
#                        sort_index: 1
#                        allow_featuring: true
#                        allow_promotion: true
#                        allow_background: true
#                        title:
#                          -
#                            locale: "de"
#                            value: "Eier"
#                          -
#                            locale: "fr"
#                            value: "Oeufs"
#                          -
#                            locale: "it"
#                            value: "Uova"
#                        children: []

#parameters:
#  PageParam:
#    name: page
#    description: >
#      The page number.
#      Default: 1
#    in: query
#    type: integer
#    required: false
#    format: int32
#    minimum: 0
#    default: 1
#  PageSizeParam:
#    name: page_size
#    description: >
#      The page size.
#      Default: -1 (no limit)
#    in: query
#    type: integer
#    required: false
#    format: int32
#    default: -1
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
#  FilterParam:
#    name: filter
#    in: query
#    type: string
#    required: false
#    description: |
#      Filters: JSON array of Filter object, urlencoded.
#
#      Filter object:
#      - property: Property to filter on.
#      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
#      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
#      - value: Value. Must be of the defined type.
#
#      Examples:
#      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
#      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]

  ### Store
  /stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - store
      operationId: listStores
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
#        - name: f.open
#          description: >
#            Filter by opening, e.g. "f.open=__in_now,20:00" will return all stores which are open right now or today at 8:00 pm.
#          in: query
#          type: string
#        - name: f.services
#          description: >
#            Filter by services, e.g. "f.services=__in_d4d34d84-b32b-46fb-b45f-2bde4b72be81" will return all stores which have at least one of the given services.
#          in: query
#          type: string
#        - name: f.channel
#          description: >
#            Filter by channels, e.g. "f.channel=__in_18549f95-6471-4e21-968f-8a0bf2e0f79b" will return all stores which have one of the given channels.
#          in: query
#          type: string
#        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'
          examples:
            application/json:

#              page_count: 1
#              page_size: 1
              total_stores: 794
              stores:
                -
                  id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  name: null
                  address: "Werdstrasse"
                  number: "36"
                  zip_code: 8004
                  canton_code: "ZH"
                  city: "Zürich"
                  country_code: "CH"
                  phone: "044 240 22 83"
                  hotline: "0848 99 66 33"
                  payment_types:
                    - "cash"
                    - "euro"
                    - "maestro"
                    - "post"
                  credit_card: true
                  open_from: "1998-08-01"
                  open_to: null
                  renovation_from: "2015-06-25"
                  renovation_to: "2015-06-26"
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: "de"
                  email: "info@denner.ch"
                  homepage: "http://www.denner.ch"
                  parking_count: 0
                  channel:
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    title: "Denner"
                  opening_times:
                    -
                      weekday: 1
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 2
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 3
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 4
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 5
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 6
                      open_from: "08:00"
                      open_to: "12:00"
                    -
                      weekday: 6
                      open_from: "14:00"
                      open_to: "20:00"
                  special_opening_times:
                    -
                      day: "2015-06-25"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-26"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-28"
                      open_from: "10:00"
                      open_to: "16:00"
                      reason: "Sonntagsverkauf"
                      closed: false
                  services:
                    -
                      id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                      title: "Humidor"
                    -
                      id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                      title: "Früchte und Gemüse"
                    -
                      id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                      title: "Backstation"

  ### Production
  /base-posters:
    post:
      summary: Create base poster
      description: >
        Crate an A4 base poster (for pre-printed paper) from article.
      tags:
        - production
      operationId: createBasePoster
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/BasePosterInput'
      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/PdfFile'
          examples:
            application/json:
              url: "https://denner-assets-test.s3.eu-west-1.amazonaws.com/regio-publisher/e4654297-35f7-46bd-9525-11d9e5af7a22/Sunrise-Cabernet-Sauvignon-Concha-y-Toro.pdf"
        400:
          description: 400 Bad Request
        500:
          description: 500 Internal Server Error

  ### Display Advertising
  /display-publications:
    get:
      summary: List all display-publications
      description: >
        Use this operation to get a list of all display-publications.
      tags:
        - advertising
      operationId: listDisplayPublications
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
#          schema: #todo
#            $ref: '#/definitions/DisplayPublicationsResponse'
  /display-publications/{layout}:
    get:
      summary: Fetch display-publication
      description: >
          Use this operation to fetch the first display-publication for a specific layout and language on current day.
      tags:
          - advertising
      operationId: fetchDisplayPublication
      security:
         - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - name: layout
          in: path
          required: true
          default: standard
          type: string
          description: Layout
          enum:
            - standard
            - week-end
            - discount
            - perfume
            - wine
            - cigarettes
        - $ref: '#/parameters/LocaleQueryParam'
      responses:
        200:
          description: Successful listing
#          schema: #todo
#            $ref: '#/definitions/DisplayPublication'
        204:
          description: No result

  ### Screen Advertising
  /screen-publications:
    get:
      summary: List all screen publications
      description: >
        Use this operation to get a list of all publications targeted at advertising screens (Screen-Werbemittel).
      tags:
        - advertising
      operationId: listScreenPublications
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ScreenPublicationsResponse'
          examples:
            application/json:

              screen_publications:
                - id: 372bd590-1781-4905-beb4-5eeaeee6cf19
                  name: Parisienne Limited Edition Jaune (KW 29/2020) für Werbescreens
                  year: 2020
                  week: 29
                  sort_index: 250
                  created_on: '2020-06-15T00:11:21+0200'
                  validity:
                    from: '2020-07-14'
                    to: '2020-07-20'
                    text: []
                  promotion_type:
                    id: 089f8537-981a-42ba-9b0a-b3cba4a1c7d5
                    code: FLUGBLATT
                    name: Dennerwoche
                  automatic: true
                  article_count: 8
                  screens:
                    - id: tobacco
                      name: Tabak
                    - id: pos
                      name: POS
                  design:
                    id: a59f84d6-f779-4075-95fe-5803aceae2f1
                    code: 1
                    name: Standard
                  template:
                    id: week-hit
                    code: 1
                    name: Wo-Hit
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Jaune
                    - locale: fr
                      value: Parisienne Limited Edition Jaune
                    - locale: it
                      value: Parisienne Limited Edition Jaune
                  footer: []
                - id: 2559ed38-02d6-43b7-9c0d-756719b053db
                  name: Jack Daniel's Whiskey (KW 29/2020) für Werbescreens
                  year: 2020
                  week: 29
                  sort_index: 2150
                  created_on: '2020-06-15T00:11:21+0200'
                  validity:
                    from: '2020-07-14'
                    to: '2020-07-20'
                    text: []
                  promotion_type:
                    id: 089f8537-981a-42ba-9b0a-b3cba4a1c7d5
                    code: FLUGBLATT
                    name: Dennerwoche
                  automatic: true
                  article_count: 1
                  screens:
                    - id: tobacco
                      name: Tabak
                  design:
                    id: a59f84d6-f779-4075-95fe-5803aceae2f1
                    code: 1
                    name: Standard
                  template:
                    id: spirit
                    code: 5
                    name: Spiri
                  title:
                    - locale: de
                      value: Jack Daniel's Whiskey
                    - locale: fr
                      value: Jack Daniel's Whiskey
                    - locale: it
                      value: Jack Daniel's Whiskey
                  footer: []
                - id: bffa7c0b-592a-494e-9363-8788e6100d1b
                  name: Chesterfield Orange (KW 29/2020) für Werbescreens
                  year: 2020
                  week: 29
                  sort_index: 5600
                  created_on: '2020-06-15T00:11:21+0200'
                  validity:
                    from: '2020-07-17'
                    to: '2020-07-18'
                    text:
                      - locale: de
                        value: Gültig am Freitag + Samstag
                      - locale: fr
                        value: Valable vendredi + samedi
                      - locale: it
                        value: Valido venerdì + sabato
                  promotion_type:
                    id: 37f205e5-0661-424f-bcd9-a68ce93016cb
                    code: WOCHENEND
                    name: Wochenend-Knaller
                  automatic: true
                  article_count: 8
                  banner:
                    images:
                      - locale: de
                        formats:
                          - type: image/png
                            url: https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_DE.png
                            created_on: '2020-06-15T00:11:21+0200'
                      - locale: fr
                        formats:
                          - type: image/png
                            url: https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_FR.png
                            created_on: '2020-06-15T00:11:21+0200'
                      - locale: it
                        formats:
                          - type: image/png
                            url: https://s3-eu-west-1.amazonaws.com/denner-assets/screen-banners/week-end_IT.png
                            created_on: '2020-06-15T00:11:21+0200'
                  screens:
                    - id: tobacco
                      name: Tabak
                  design:
                    id: a59f84d6-f779-4075-95fe-5803aceae2f1
                    code: 1
                    name: Standard
                  template:
                    id: weekend
                    code: 4
                    name: WE-Knaller
                  title:
                    - locale: de
                      value: Chesterfield Orange
                    - locale: fr
                      value: Chesterfield Orange
                    - locale: it
                      value: Chesterfield Orange
                  footer: []
                - id: ad4a6d47-2506-41a7-9cdc-b9f81bc5b56c
                  name: Argento Selección Malbec (KW 29/2020) für Werbescreens
                  year: 2020
                  week: 29
                  sort_index: 325
                  created_on: '2020-07-01T08:41:27+0200'
                  validity:
                    from: '2020-07-14'
                    to: '2020-07-20'
                    text: []
                  promotion_type:
                    id: 089f8537-981a-42ba-9b0a-b3cba4a1c7d5
                    code: FLUGBLATT
                    name: Dennerwoche
                  automatic: true
                  article_count: 1
                  screens:
                    - id: pos
                      name: POS
                  design:
                    id: a59f84d6-f779-4075-95fe-5803aceae2f1
                    code: 1
                    name: Standard
                  template:
                    id: non-tobacco
                    code: 6
                    name: Nicht-Tabak
                  title:
                    - locale: de
                      value: Argento Selección Malbec
                    - locale: fr
                      value: Argento Selección Malbec
                    - locale: it
                      value: Argento Selección Malbec
                  footer: []
              page_count: 1
              page_size: 10
              total_items: 4

  /screen-publications/{publication_id}:
    get:
      summary: Get single screen publication (includes all advertised articles)
      description: >
        Use this operation to get a single publication targeted at advertising screens (Screen-Werbemittel).
        The response will include the articles assigned to this publication.
      tags:
        - advertising
      operationId: getScreenPublication
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/ScreenPublicationWithArticles'
          examples:
            application/json:

              id: 372bd590-1781-4905-beb4-5eeaeee6cf19
              name: Parisienne Limited Edition Jaune (KW 29/2020) für Werbescreens
              year: 2020
              week: 29
              sort_index: 250
              created_on: '2020-06-15T00:11:21+0200'
              validity:
                from: '2020-07-14'
                to: '2020-07-20'
                text: []
              promotion_type:
                id: 089f8537-981a-42ba-9b0a-b3cba4a1c7d5
                code: FLUGBLATT
                name: Dennerwoche
              articles:
                - id: d62a78d1-520a-47cb-875c-e147c4b55499
                  sort_index: 1
                  article_id: 098000
                  advertised_article_id: 6c1911ac-05c3-417b-8f27-09a0a43ae38f
                  quantity: 1
                  advertised_quantity: 1
                  name: Parisienne Jaune Box LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition
                    - locale: fr
                      value: Parisienne Limited Edition
                    - locale: it
                      value: Parisienne Limited Edition
                  description:
                    - locale: de
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Ohne
                        - Verte Ohne
                        Box, 20 Zigaretten
                    - locale: fr
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Sans
                        - Verte Sans
                        Box, 20 cigarettes
                    - locale: it
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Senza
                        - Verte Senza
                        Box, 20 sigarette
                  composite_info:
                    title:
                      - locale: de
                        value: Parisienne Limited Edition
                      - locale: fr
                        value: Parisienne Limited Edition
                      - locale: it
                        value: Parisienne Limited Edition
                    description:
                      - locale: de
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Ohne
                          - Verte Ohne
                          Box, 20 Zigaretten
                      - locale: fr
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Sans
                          - Verte Sans
                          Box, 20 cigarettes
                      - locale: it
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Senza
                          - Verte Senza
                          Box, 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 7.–
                  stopper:
                    id: c36a0cc5-e7a2-4909-9e17-cd5bfca94c21
                    type:
                      id: promotion
                    markup_text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 8.–
                    - locale: fr
                      value: au lieu de 8.–
                    - locale: it
                      value: invece di 8.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Packung
                    - locale: fr
                      value: Par paquet
                    - locale: it
                      value: Per pacchetto
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: e9297375-8ac5-4af3-9caa-f9aa5e023586
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/e9297375-8ac5-4af3-9caa-f9aa5e023586/web/098000_9_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2020-05-22T17:19:16+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: 2d553701-a1ea-4848-8d26-808e4389ed17
                  sort_index: 5
                  article_id: 090392
                  advertised_article_id: a5b7eb20-4159-475f-95c9-ce21c36a4e6b
                  quantity: 1
                  advertised_quantity: 1
                  name: Parisienne OHNE Orange LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Orange Ohne
                    - locale: fr
                      value: Parisienne Limited Edition Orange Sans
                    - locale: it
                      value: Parisienne Limited Edition Orange Senza
                  description:
                    - locale: de
                      value: Box, 20 Zigaretten
                    - locale: fr
                      value: Box, 20 cigarettes
                    - locale: it
                      value: Box, 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 7.–
                  stopper:
                    id: e871dd7a-4204-4845-b978-48586d55b480
                    type:
                      id: promotion
                    markup_text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 8.–
                    - locale: fr
                      value: au lieu de 8.–
                    - locale: it
                      value: invece di 8.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Packung
                    - locale: fr
                      value: Par paquet
                    - locale: it
                      value: Per pacchetto
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: 18787f78-f88f-437c-90da-dea98f5cb650
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/18787f78-f88f-437c-90da-dea98f5cb650/web/090392_3_c_K.png
                    archived: false
                    auto_assigned: true
                    created_on: '2020-05-22T17:19:15+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: 1a2dea4d-1054-472e-ac55-cb6525aac8e8
                  sort_index: 7
                  article_id: 090393
                  advertised_article_id: 6a6d5477-236d-430f-8c4f-1d5f4a5ba50e
                  quantity: 1
                  advertised_quantity: 1
                  name: Parisienne OHNE Verte LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Verte Ohne
                    - locale: fr
                      value: Parisienne Limited Edition Verte Sans
                    - locale: it
                      value: Parisienne Limited Edition Verte Senza
                  description:
                    - locale: de
                      value: Box, 20 Zigaretten
                    - locale: fr
                      value: Box, 20 cigarettes
                    - locale: it
                      value: Box, 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 7.–
                  stopper:
                    id: d8564a9f-e7c7-479b-a049-4d8ccde37233
                    type:
                      id: promotion
                    markup_text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 8.–
                    - locale: fr
                      value: au lieu de 8.–
                    - locale: it
                      value: invece di 8.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Packung
                    - locale: fr
                      value: Par paquet
                    - locale: it
                      value: Per pacchetto
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: 17c81f69-3d45-46e9-91d3-cd9b124adede
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/17c81f69-3d45-46e9-91d3-cd9b124adede/web/090393_3_c_K.png
                    archived: false
                    auto_assigned: true
                    created_on: '2020-05-22T17:19:15+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: 90d6f99e-9a9a-4d1d-85bd-df6b1a8b880e
                  sort_index: 3
                  article_id: 098001
                  advertised_article_id: 46c453bb-6bea-4566-949e-23667b2cc0f6
                  quantity: 1
                  advertised_quantity: 1
                  name: Parisienne Blonde Box LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Blonde
                    - locale: fr
                      value: Parisienne Limited Edition Blonde
                    - locale: it
                      value: Parisienne Limited Edition Blonde
                  description:
                    - locale: de
                      value: Box, 20 Zigaretten
                    - locale: fr
                      value: Box, 20 cigarettes
                    - locale: it
                      value: Box, 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 7.–
                  stopper:
                    id: dd1b56ae-f9f0-4564-a54e-6b62404d24ef
                    type:
                      id: promotion
                    markup_text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: AKTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: ACTION
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: AZIONE
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 8.–
                    - locale: fr
                      value: au lieu de 8.–
                    - locale: it
                      value: invece di 8.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Packung
                    - locale: fr
                      value: Par paquet
                    - locale: it
                      value: Per pacchetto
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: f19771e8-2aac-47f2-8347-00031e9c576d
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/f19771e8-2aac-47f2-8347-00031e9c576d/web/098001_9_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2020-05-22T17:19:16+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: a49ab603-d6a1-44e5-9c86-e9cffd204fe3
                  sort_index: 0
                  article_id: 098000
                  advertised_article_id: 66008d35-e331-43db-bdd2-d6110d550c59
                  quantity: 10
                  advertised_quantity: 10
                  name: Parisienne Jaune Box LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition
                    - locale: fr
                      value: Parisienne Limited Edition
                    - locale: it
                      value: Parisienne Limited Edition
                  description:
                    - locale: de
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Ohne
                        - Verte Ohne
                        Box, 10 x 20 Zigaretten
                    - locale: fr
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Sans
                        - Verte Sans
                        Box, 10 x 20 cigarettes
                    - locale: it
                      value: |-
                        - Jaune
                        - Blonde
                        - Orange Senza
                        - Verte Senza
                        Box, 10 x 20 sigarette
                  composite_info:
                    title:
                      - locale: de
                        value: Parisienne Limited Edition
                      - locale: fr
                        value: Parisienne Limited Edition
                      - locale: it
                        value: Parisienne Limited Edition
                    description:
                      - locale: de
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Ohne
                          - Verte Ohne
                          Box, 10 x 20 Zigaretten
                      - locale: fr
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Sans
                          - Verte Sans
                          Box, 10 x 20 cigarettes
                      - locale: it
                        value: |-
                          - Jaune
                          - Blonde
                          - Orange Senza
                          - Verte Senza
                          Box, 10 x 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 70.–
                  stopper:
                    id: fe2bccd3-8ff4-49df-9f98-402e75ea2e2d
                    type:
                      id: save_value
                    markup_text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 80.–
                    - locale: fr
                      value: au lieu de 80.–
                    - locale: it
                      value: invece di 80.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Stange
                    - locale: fr
                      value: Par cartouche
                    - locale: it
                      value: Per stecca
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: 8eeb5a82-ee31-418a-a41c-55df0976853f
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/8eeb5a82-ee31-418a-a41c-55df0976853f/web/098000_8_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2020-05-22T17:19:16+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: 4868b9f1-53b3-4c2d-a395-af3dbce5ce76
                  sort_index: 4
                  article_id: 090392
                  advertised_article_id: 81455753-e25c-482f-8b11-29098c32b6c9
                  quantity: 10
                  advertised_quantity: 10
                  name: Parisienne OHNE Orange LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Orange Ohne
                    - locale: fr
                      value: Parisienne Limited Edition Orange Sans
                    - locale: it
                      value: Parisienne Limited Edition Orange Senza
                  description:
                    - locale: de
                      value: Box, 10 x 20 Zigaretten
                    - locale: fr
                      value: Box, 10 x 20 cigarettes
                    - locale: it
                      value: Box, 10 x 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 70.–
                  stopper:
                    id: f78f02d8-df36-493d-9f35-931dd4711147
                    type:
                      id: save_value
                    markup_text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 80.–
                    - locale: fr
                      value: au lieu de 80.–
                    - locale: it
                      value: invece di 80.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Stange
                    - locale: fr
                      value: Par cartouche
                    - locale: it
                      value: Per stecca
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: f8d6bccf-7650-40cb-b91a-ec40c9cae67b
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/f8d6bccf-7650-40cb-b91a-ec40c9cae67b/web/090221_2_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2017-07-17T10:18:52+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: 0f27ce16-c5f4-4050-8ecd-e3797239b160
                  sort_index: 6
                  article_id: 090393
                  advertised_article_id: 07734cc6-257d-43da-bcbf-e21701a827e1
                  quantity: 10
                  advertised_quantity: 10
                  name: Parisienne OHNE Verte LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Verte Ohne
                    - locale: fr
                      value: Parisienne Limited Edition Verte Sans
                    - locale: it
                      value: Parisienne Limited Edition Verte Senza
                  description:
                    - locale: de
                      value: Box, 10 x 20 Zigaretten
                    - locale: fr
                      value: Box, 10 x 20 cigarettes
                    - locale: it
                      value: Box, 10 x 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 70.–
                  stopper:
                    id: 601a67bb-b786-4b2b-a918-941e9649979a
                    type:
                      id: save_value
                    markup_text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 80.–
                    - locale: fr
                      value: au lieu de 80.–
                    - locale: it
                      value: invece di 80.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Stange
                    - locale: fr
                      value: Par cartouche
                    - locale: it
                      value: Per stecca
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: 7a6bb759-f6d8-4574-849a-676650078eee
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/7a6bb759-f6d8-4574-849a-676650078eee/web/090220_2_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2017-07-17T10:18:42+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
                - id: ee8d736e-c74b-47cd-86e0-beb411725b6d
                  sort_index: 2
                  article_id: 098001
                  advertised_article_id: b6837cf8-8b99-4c25-99c5-6d9e1becb63b
                  quantity: 10
                  advertised_quantity: 10
                  name: Parisienne Blonde Box LEP 20
                  title:
                    - locale: de
                      value: Parisienne Limited Edition Blonde
                    - locale: fr
                      value: Parisienne Limited Edition Blonde
                    - locale: it
                      value: Parisienne Limited Edition Blonde
                  description:
                    - locale: de
                      value: Box, 10 x 20 Zigaretten
                    - locale: fr
                      value: Box, 10 x 20 cigarettes
                    - locale: it
                      value: Box, 10 x 20 sigarette
                  eco_labels: []
                  dots: []
                  sales_price: 70.–
                  stopper:
                    id: ba5286cd-346c-493c-89bf-c48206b62c50
                    type:
                      id: save_value
                    markup_text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    text:
                      - locale: de
                        value: "– 10 Fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: fr
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                      - locale: it
                        value: "– 10 fr."
                        created_on: '2020-07-14T15:11:17+0200'
                    images: []
                  instead_price:
                    - locale: de
                      value: statt 80.–
                    - locale: fr
                      value: au lieu de 80.–
                    - locale: it
                      value: invece di 80.–
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  price_unit:
                    - locale: de
                      value: Pro Stange
                    - locale: fr
                      value: Par cartouche
                    - locale: it
                      value: Per stecca
                  promotion_info: []
                  compared: true
                  article_group:
                    id: 163e8f02-105b-494e-8ba3-73ed9007eef3
                    code: 79-02
                    name: Zigaretten
                    parent:
                      id: 548c44b8-8f7d-4c08-8b41-4a2a65432861
                      code: '79'
                      name: Rauchwaren
                  packshot:
                    id: 68c5bffe-c66b-4071-8836-4ef8c5348b59
                    quantity: 1
                    url: https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png
                    image_url: https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png
                    preview_url: https://denner-assets.s3.amazonaws.com/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png?version=1
                    cdn_url: https://denner.imgix.net/assets/68c5bffe-c66b-4071-8836-4ef8c5348b59/web/098001_8_c_K.png
                    archived: false
                    auto_assigned: false
                    created_on: '2020-05-22T17:19:16+0200'
                    view:
                      id: front
                  supplier:
                    code: 31770
              screens:
                - id: tobacco
                  name: Tabak
                - id: pos
                  name: POS
              design:
                id: a59f84d6-f779-4075-95fe-5803aceae2f1
                code: 1
                name: Standard
              template:
                id: week-hit
                code: 1
                name: Wo-Hit
              title:
                - locale: de
                  value: Parisienne Limited Edition Jaune
                - locale: fr
                  value: Parisienne Limited Edition Jaune
                - locale: it
                  value: Parisienne Limited Edition Jaune
              footer: []

parameters:
  FilterParam:
    name: filter
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Filter object, urlencoded.

      Filter object:
      - property: Property to filter on.
      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
      - value: Value. Must be of the defined type.

      Examples:
      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]
  SortParam:
    name: sort
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Sort object, urlencoded.

      Sort object:
      - property: Property to sort on.
      - direction: (optional) Sort direction property. Enumeration ('asc', 'desc').

      Examples:
      - [{"property":"sort_index","direction":"asc"}]
      - [{"property":"year"},{"property":"week","direction":"asc"}]
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
  AcceptLanguageHeader:
    name: Accept-Language
    in: header
    type: string
#    pattern: '/^(de|fr|it)$/'
    required: false
    default: de
    description: >
      Accepted locale (supported are "de", "fr", and "it")
  LocaleQueryParam:
    name: locale
    in: query
    required: false
    type: string
    description: Locale
    enum:
      - de
      - fr
      - it
  BasePosterInput:
    name: BasePosterInput
    in: body
    required: true
    schema:
      required:
        - article_id
      type: object
      properties:
        article_id:
          type: string
          description: The unique identifier of an article
          pattern: '/^[0-9]{6}$/'
        locale:
          type: string
          description: Locale/language (supported are "de", "fr" and "it")
          default: de
        quantity:
          type: integer
          description: Quantity for prices and texts
          format: int32
          minimum: 1
          default: 1
        wine_year:
          type: integer
          description: Wine year for texts
          format: int32
          minimum: 1900
        valid_on:
          type: string
          description: Valid on (e.g. "2018-02-16") for prices
  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    required: true
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
  PublicationArticleIdPathParam:
    name: article_id
    description: The unique identifier of an online publication article
    in: path
    type: string
    required: true
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  SortIndex:
    type: integer
    format: int32
    minimum: 0
    description: Index for sorting

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  Phone:
    type: string
#    pattern: @todo Fixed pattern?
    description: Formatted phone number

  PublicCountry:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/Translations'
    description: Country

  CountryFlag:
    type: object
    description: Country flag
    properties:
      image_url:
        $ref: '#/definitions/Url'

  Country:
    allOf:
      - $ref: '#/definitions/PublicCountry'
      - type: object
        properties:
          flag:
            $ref: '#/definitions/CountryFlag'

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 0 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Week:
    type: integer
    format: int32
    minimum: 1
    maximum: 53
    description: Week number (ISO 8601, week date system)

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 0
    description: Quantity

  SoldQuantity:
    type: integer
    format: int32
    minimum: 0
    description: Sold quantity (for texts and prices)

  AdvertisedQuantity:
    type: integer
    format: int32
    minimum: 0
    description: Advertised quantity (for images)

  CompositeInfo:
    type: object
    properties:
      title:
        $ref: '#/definitions/Translations'
      description:
        $ref: '#/definitions/Translations'

  Supplier:
    type: object
    properties:
      code:
        type: integer
        format: int32

  PromotionType:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Navision promotion type code
      name:
        type: string

  Validity:
    type: object
    description: Generic validity based on dates (from/to) and a corresponding text
    properties:
      from:
        $ref: '#/definitions/Date'
      to:
        $ref: '#/definitions/Date'
      text:
        $ref: '#/definitions/Translations'

  ArticleValidity:
      type: object
      description: Article validity based on dates (from/to) and corresponding texts (short and long version)
      properties:
        from:
          $ref: '#/definitions/Date'
        to:
          $ref: '#/definitions/Date'
        short_text:
          $ref: '#/definitions/Translations'
        long_text:
          $ref: '#/definitions/Translations'

  AvailabilityLimitations:
    type: object
    description: Texts for information about limited availability
    properties:
      region:
        $ref: '#/definitions/Translations'
      store:
        $ref: '#/definitions/Translations'

  PdfFile:
    description: Source of the PDF document
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'

  AssignedArticleGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        pattern: '/^\d{2}(-\d{2,3})?$/'
        description: Navision article group code (e.g. '01', '20', '01-60', '38-998')
      name:
        type: string
        description: Article group name
      parent:
        $ref: '#/definitions/AssignedArticleGroup'

  ### Eco label
  EcoLabel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Eco label ID (e.g. 'suisse-garantie', 'utz')
      name:
        type: string
        description: German name for the eco label
      images:
        type: object
        properties:
          locale:
            $ref: '#/definitions/Locale'
          cdn_url:
            $ref: '#/definitions/Url'

  PackshotView:
    type: object
    properties:
      id:
        type: string
        #        pattern: '/^(front|back)$/'
        enum:
          - front
          - back
        description: View ID that is represented in packshot

  Packshot:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      quantity:
        $ref: '#/definitions/Quantity'
      url:
        $ref: '#/definitions/Url'
      image_url:
        $ref: '#/definitions/Url'
      preview_url:
        $ref: '#/definitions/Url'
      cdn_url:
        $ref: '#/definitions/Url'
      archived:
        $ref: '#/definitions/Quantity'
        type: boolean
        description: Is the packshot archived?
      #      auto_assigned:
      #        type: boolean
      view:
        $ref: '#/definitions/PackshotView'
      created_on:
        $ref: '#/definitions/Date'
    required:
      - id
      - url
      - cdn_url

  LocalizedPackshot:
    allOf:
      - $ref: '#/definitions/Packshot'
      - type: object
        properties:
          locale:
            $ref: '#/definitions/Locale'
        required:
          - locale

  ### Output (base for Stopper and Dot)
  Output:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      type:
        $ref: '#/definitions/OutputType'
      text:
        $ref: '#/definitions/Translations'
      images:
        $ref: '#/definitions/OutputImages'

  Stopper:
    allOf:
      - $ref: '#/definitions/Output'
      - type: object
        properties:
          markup_text:
            allOf:
              - $ref: '#/definitions/Translations'
              - description: Markup text for visual effects

  OutputType:
    type: object
    description: Output type
    properties:
      id:
        type: string
        description: Output type id

  OutputImage:
    type: object
    properties:
      locale:
        type: string
        description: Locale for the image formats
      design:
        $ref: '#/definitions/OutputImageDesign'
      formats:
        $ref: '#/definitions/OutputImageFormats'

  OutputImageDesign:
    type: object
    properties:
      id:
        type: string
        description: Designe of output image (e.g. 'red','white', ...)
      priority:
        type: integer
        format: int32
        minimum: 0

  OutputImageFormat:
    type: object
    properties:
      type:
        type: string
        description: Mime type for the output image
      url:
        type: string
        description: Image url which can be used, for example, in an 'img' tag

  ### Article
  PublicArticlePrices:
    type: object
    properties:
      sales:
        $ref: '#/definitions/Price'
#      list:
#        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      base:
        $ref: '#/definitions/Price'
#      final:
#        type: boolean
#        description: Is the price final?
      by_quantity:
        $ref: '#/definitions/PublicQuantityPrices'

  PublicQuantityPrices:
    type: array
    items:
      $ref: '#/definitions/PublicQuantityPrice'

  PublicQuantityPrice:
    type: object
    properties:
      quantity:
        $ref: '#/definitions/Quantity'
      sales:
        $ref: '#/definitions/Price'
#      list:
#        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
#      final:
#        type: boolean
#        description: Is the price final?

  PublicPackshot:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      cdn_url:
        $ref: '#/definitions/Url'

  PublicArticleWine:
    type: object
    properties:
      country:
        $ref: '#/definitions/PublicCountry'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      year:
        $ref: '#/definitions/Year'
      fits_with:
        $ref: '#/definitions/Translations'
      varietal:
        $ref: '#/definitions/Translations'
      character:
        $ref: '#/definitions/Translations'
      temperature:
        $ref: '#/definitions/Translations'
      awards:
        $ref: '#/definitions/Translations'
      storage:
        $ref: '#/definitions/Translations'

  Region:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/Translations'

  WineType:
    type: object
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: Denner wine type code
      title:
        $ref: '#/definitions/Translations'

  Rating:
    type: object
    properties:
      value:
        type: number
        format: float
        minimum: 0
        maximum: 5
        description: Rating value
      total:
        type: integer
        format: int32
        minimum: 0
        description: Ratng count
      valid:
        type: boolean
        description: Is a valid rating?
      stars:
        type: number
        format: float
        minimum: 0
        maximum: 5
        description: Stars, rounded to the half integer

  PublicOnlineArticle:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      article_id:
        type: string
        pattern: '/^\d{6}$/'
        description: Denner article code
      title:
        $ref: '#/definitions/Translations'
      description:
        $ref: '#/definitions/Translations'
      prices:
        $ref: '#/definitions/PublicArticlePrices'
      price_info:
        $ref: '#/definitions/Translations'
      quantity:
        $ref: '#/definitions/Quantity'
      validity:
        $ref: '#/definitions/ArticleValidity'
      availability_limitations:
        $ref: '#/definitions/AvailabilityLimitations'
      compared:
        type: boolean
        description: Is the article's price compared to an offer from an other company?
      online_group:
        $ref: '#/definitions/PublicAssignedOnlineGroup'
      packshot:
        $ref: '#/definitions/PublicPackshot'
      wine:
        $ref: '#/definitions/PublicArticleWine'

  ### Online group
#  OnlineGroup:
#    type: object
#    properties:
#      id:
#        $ref: '#/definitions/UUIDv4'
#      code:
#        type: integer
#        format: int32
#        description: Navision online group code
#      sort_index:
#        $ref: '#/definitions/SortIndex'
#      allow_featuring:
#        type: boolean
#        description: Does the group allow the assigned articles to be featured (i.e. displayed on front/main/home page)?
#      allow_promotion:
#        type: boolean
#        description: Does the group allow the assigned articles to be promoted (i.e. displayed on a promotional page)?
#      allow_background:
#        type: boolean
#        description: Does the group allow the assigned articles to be displayed with a background (i.e. displayed on a page with a deceptive/trivializing background)?
#      title:
#        $ref: '#/definitions/Translations'
#      children:
#        $ref: '#/definitions/OnlineGroups'

  PublicAssignedOnlineGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Denner online group code
      title:
        $ref: '#/definitions/Translations'
      parent:
        $ref: '#/definitions/PublicAssignedOnlineGroup'

  ### Screen publication
  ScreenArticle:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      sort_index:
        $ref: '#/definitions/SortIndex'
      article_id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      advertised_article_id:
        $ref: '#/definitions/UUIDv4'
      quantity:
        $ref: '#/definitions/SoldQuantity'
      advertised_quantity:
        $ref: '#/definitions/AdvertisedQuantity'
      name:
        type: string
        description: Article name
      title:
        $ref: '#/definitions/Translations'
      description:
        $ref: '#/definitions/Translations'
      composite_info:
        $ref: '#/definitions/CompositeInfo'
      eco_labels:
        $ref: '#/definitions/EcoLabels'
      dots:
        $ref: '#/definitions/Dots'
      sales_price:
        type: string
      stopper:
        $ref: '#/definitions/Stopper'
      instead_price:
        $ref: '#/definitions/Translations'
      price_info:
        $ref: '#/definitions/Translations'
      price_unit:
        $ref: '#/definitions/Translations'
      promotion_info:
        $ref: '#/definitions/Translations'
      compared:
        type: boolean
        description: Is the article's price compared to an offer from an other company?
      article_group:
        $ref: '#/definitions/AssignedArticleGroup'
      packshot:
        $ref: '#/definitions/Packshot'
      supplier:
        $ref: '#/definitions/Supplier'
      country:
        $ref: '#/definitions/Country'
      rating:
        $ref: '#/definitions/Rating'

  ScreenScreen:
    type: object
    properties:
      id:
        type: string
        description: Unique ID (e.g. "tobacco" ,"pos")
      #        pattern: '/^(tobacco|pos)$/'
      name:
        type: string

  ScreenDesign:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
      name:
        type: string

  ScreenTemplate:
    type: object
    properties:
      id:
        type: string
      code:
        type: integer
        format: int32
      name:
        type: string

  ScreenPublication:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      name:
        type: string
      year:
        $ref: '#/definitions/Year'
      week:
        $ref: '#/definitions/Week'
      sort_index:
        $ref: '#/definitions/SortIndex'
      created_on:
        $ref: '#/definitions/Date'
      validity:
        $ref: '#/definitions/Validity'
      promotion_type:
        $ref: '#/definitions/PromotionType'
      automatic:
        type: boolean
      screens:
        $ref: '#/definitions/ScreenScreens'
      design:
        $ref: '#/definitions/ScreenDesign'
      template:
        $ref: '#/definitions/ScreenTemplate'
      title:
        $ref: '#/definitions/Translations'
      footer:
        $ref: '#/definitions/Translations'

  ScreenPublicationWithArticleCount:
    allOf:
      - $ref: '#/definitions/ScreenPublication'
      - properties:
          article_count:
            type: integer
            format: int32

  ScreenPublicationWithArticles:
    allOf:
      - $ref: '#/definitions/ScreenPublication'
      - properties:
          articles:
            $ref: '#/definitions/ScreenArticles'

### Store
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      canton_code:
        type: string
        description: Canton (state) code
      city:
        type: string
        description: City
      country_code:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      phone:
        $ref: '#/definitions/Phone'
      hotline:
        $ref: '#/definitions/Phone'
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      open_from:
        type: string
        format: date
        description: Opening on
      open_to:
        type: string
        format: date
        description: Closing on
      renovation_from:
        type: string
        format: date
        description: Renovation starting on
      renovation_to:
        type: string
        format: date
        description: Renovation ending on
## V2
#      flyers:
#        type: array
#        items:
#          $ref: '#/definitions/StoreFlyer'
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        type: string
        description: Language spoken in the store
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: Email address
      homepage:
        $ref: '#/definitions/Url'
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/StoreChannel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
## V2
#      weekly_opening_days:
#        type: array
#        minItems: 7
#        maxItems: 7
#        items:
#          $ref: '#/definitions/WeeklyOpeningDay'
#        description: Weekly opening days, exact opening plan for the week. Items are sorted for correct display.
      services:
        type: array
        items:
          $ref: '#/definitions/StoreService'
        description: Services provided by the store

  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'
      reason:
        type: string
        description: Reason for the special opening as displayed to users (localized)
      closed:
        type: boolean
        description: Is the store closed on this day?

  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

## V2
#  WeeklyOpeningDay:
#    type: object
#    properties:
#      day:
#        $ref: '#/definitions/Date'
#      weekday:
#        $ref: '#/definitions/DayOfWeek'
#      statements:
#        type: array
#        minItems: 1
#        items:
#          $ref: '#/definitions/DayOpeningStatement'
#        description: Statements for the current day. Items are sorted for correct display.
#
#  DayOpeningStatement:
#    type: object
#    properties:
#      open_from:
#        $ref: '#/definitions/Time'
#      open_to:
#        $ref: '#/definitions/Time'
#      text_override:
#        type: string
#        description: Closure text, instead of open form/to (localized)
#      superseded:
#        type: boolean
#        description: Is the statement striked out?
#      change_info:
#        type: string
#        description: Tooltip info, the reason for the change (localized)

  ### Store Channel
  StoreChannel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Channel title

  ### Store service
  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Service title

#  ### Store Flyer V2
#  StoreFlyer:
#    type: object
#    properties:
#      id:
#        $ref: '#/definitions/UUIDv4'
#      expired:
#        type: boolean
#        description: Is the flyer expired?
#      url:
#        $ref: '#/definitions/Url'
#      sort_index:
#        type: integer
#        format: int32
#        minimum: 0
#        description: Display order of store flyer


  ### Collections
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'

  Translations:
    type: array
    items:
      $ref: '#/definitions/Translation'

  EcoLabels:
    type: array
    items:
      $ref: '#/definitions/EcoLabel'

  OutputImages:
    type: array
    items:
      $ref: '#/definitions/OutputImage'

  OutputImageFormats:
    type: array
    items:
      $ref: '#/definitions/OutputImageFormat'

  Dots:
    type: array
    items:
      $ref: '#/definitions/Output'

  PublicOnlineArticles:
    type: array
    items:
      $ref: '#/definitions/PublicOnlineArticle'

  ScreenPublications:
    type: array
    items:
      $ref: '#/definitions/ScreenPublicationWithArticleCount'

  ScreenScreens:
    type: array
    items:
      $ref: '#/definitions/ScreenScreen'

#  OnlineGroups:
#    type: array
#    items:
#      $ref: '#/definitions/OnlineGroup'

  ### Responses
  PublicOnlineArticlesResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_items:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      online_articles:
        $ref: '#/definitions/PublicOnlineArticles'

#  OnlineGroupsResponse:
#    type: object
#    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_items:
#        description: The number of items on all pages
#        type: integer
#        format: int32
#      online_groups:
#        $ref: '#/definitions/OnlineGroups'

  StoresResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_stores:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'

  DisplayPublicationsResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      display_publications:
        $ref: '#/definitions/ScreenPublications'

  ScreenPublicationsResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      screen_publications:
        $ref: '#/definitions/ScreenPublications'
