swagger: '2.0'
info:
  description: RESTful API for Denner's commercial consumers
  version: 1.0.0
  title: Denner Web Service
  contact:
    name: DETAIL NET
    email: support+denner-api@detailnet.ch
# In Swagger definition is not possible to define multiple servers/hosts/basepth (ref https://swagger.io/docs/specification/2-0/api-host-and-base-path/)
#on migration to OpenApi standard, define servers:
#servers:
#  - url: https://denner-online-api.detailnet.ch/{apiGatewayPath}
#    description: ApiGateway (Regional optimized - eu-west-1)
#    variables:
#      apiGatewayPath
#        enum:
#          - test
#          - v1
#        default: test,
#        description: ApiGateway path
#  - url: https://denner-public-api.detailnet.ch/{apiGatewayPath}
#    description: ApiGateway (Edge optimized)
#    variables:
#      apiGatewayPath
#        enum:
#          - test
#          - v1
#        default: test,
#        description: ApiGateway path
#  - url: https://denner-public-api-v1.detailnet.ch
#    description: CloudFront distribution for V1 (cache 1h)
host: denner-public-api-v1.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Currently online
  /online-articles:
    get:
      summary: List all online articles
      description: |
        Use this operation to get a list of all articles (excluded tobacco) promoted today and advertised in the online-mobile channels.
        
        Warning: result is approximately 1MB in size, this webpage javascript will suffer high performance degradation on response beautification.
      tags:
        - Currently online
      operationId: listCurrentOnlineArticles
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
      #        - $ref: '#/parameters/PageParam'
      #        - $ref: '#/parameters/PageSizeParam'
      #        - $ref: '#/parameters/FilterParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'
          examples:
            application/json:

              online_articles:
                - id: dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6
                  article_id: '051273'
                  title:
                    - locale: de
                      value: Mandorla Primitivo di Puglia IGT
                    - locale: fr
                      value: Mandorla Primitivo di Puglia IGT
                    - locale: it
                      value: Mandorla Primitivo di Puglia IGT
                  description:
                    - locale: de
                      value: 2013, Apulien, Italien, 6 x 75 cl
                    - locale: fr
                      value: 2013, les Pouilles, Italie, 6 x 75 cl
                    - locale: it
                      value: 2013, Puglia, Italia, 6 x 75 cl
                  prices:
                    sales: 59.4
                    instead: 68.4
                    base: 1.32
                    by_quantity:
                      - quantity: 1
                        sales: 9.9
                        instead: 11.4
                      - quantity: 6
                        sales: 59.4
                        instead: 68.4
                  price_info:
                    - locale: de
                      value: Konkurrenzvergleich
                    - locale: fr
                      value: Comparaison concurrentielle
                    - locale: it
                      value: Confronto con la concorrenza
                  quantity: 6
                  validity:
                    from: '2015-06-23'
                    to: '2015-06-29'
                    short_text:
                      - locale: de
                        value: Gültig von 23.06.–29.06.
                      - locale: fr
                        value: "..."
                      - locale: it
                        value: "..."
                    long_text:
                      - locale: de
                        value: Angebot gültig von 23.06.2015 bis 29.06.2015
                      - locale: fr
                        value: "..."
                      - locale: it
                        value: "..."
                  availability_limitations:
                    region:
                      - locale: de
                        value: Nur in der deutschen und französischen Schweiz erhältlich
                      - locale: fr
                        value: "..."
                      - locale: it
                        value: "..."
                    store:
                      - locale: de
                        value: Nur in Filialen mit Frischprodukten erhältlich
                      - locale: fr
                        value: Disponible(s) uniquement dans les succursales aves des produits frais
                      - locale: it
                        value: "..."
                  compared: true
                  online_group:
                    id: a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee
                    code: 2-9
                    title:
                      - locale: de
                        value: Wein/Champagner
                      - locale: fr
                        value: Vins/champagnes
                      - locale: it
                        value: Vino/champagne
                    parent:
                      id: 8fd653c3-a86b-4529-bbb5-58d06919d484
                      code: 2
                      title:
                        - locale: de
                          value: Getränke
                        - locale: fr
                          value: Boissons
                        - locale: it
                          value: Bevande
                  packshot:
                    id: 5983a33d-ac61-49a8-a836-43259e78e9d0
                    cdn_url: https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png
                  wine:
                    country:
                      id: IT
                      title:
                        - locale: de
                          value: Italien
                        - locale: fr
                          value: Italie
                        - locale: it
                          value: Italia
                    region:
                      id: b19c42bf-ed78-46ff-ad6f-fc688a059e6a
                      title:
                        - locale: de
                          value: Apulien
                        - locale: fr
                          value: Les Pouilles
                        - locale: it
                          value: Puglia
                    type:
                      id: 2
                      title:
                        - locale: de
                          value: Rotwein
                        - locale: fr
                          value: Vin rouge
                        - locale: it
                          value: Vino rosso
                    year: 2013
                    fits_with:
                      - locale: de
                        value: Pasta, Fleisch mit würzigen Saucen
                      - locale: fr
                        value: Pâtes, viande aux sauces relevées
                      - locale: it
                        value: Pasta, carni accompagnate da salse aromatiche
                    varietal:
                      - locale: de
                        value: Primitivo
                      - locale: fr
                        value: Primitivo
                      - locale: it
                        value: Primitivo
                    character:
                      - locale: de
                        value: Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen
                          und Brombeeren. Geschmeidig im Gaumen.
                      - locale: fr
                        value: Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres.
                          Bouche moelleuse.
                      - locale: it
                        value: Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more.
                          Morbido al palato.
                    temperature:
                      - locale: de
                        value: 16-18 °C
                      - locale: fr
                        value: 16-18 °C
                      - locale: it
                        value: 16-18 °C
                    awards:
                      - locale: de
                        value: ''
                      - locale: fr
                        value: ''
                      - locale: it
                        value: ''
                    storage:
                      - locale: de
                        value: 3 Jahre
                      - locale: fr
                        value: 3 ans
                      - locale: it
                        value: 3 anni

  /tobacco-articles:
    get:
      summary: List all online articles having tobacco article group (not listed otherwise)
      description: |
        Use this operation to get a list of all tobacco articles promoted today and advertised in the online-mobile channels.
      tags:
        - Currently online
      operationId: listCurrentOnlineTobaccoArticles
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
      #        - $ref: '#/parameters/PageParam'
      #        - $ref: '#/parameters/PageSizeParam'
      #        - $ref: '#/parameters/FilterParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'

  /stores:
    get:
      summary: List all current stores
      description: >
        Use this operation to get a list of all stores (Filialen) open today.
      tags:
        - Currently online
      operationId: listCurrentStores
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/CurrentStoresResponse'
          examples:
            application/json:

              #              page_count: 1
              #              page_size: 1
              total_stores: 794
              stores:
                - id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  name: null
                  address: "Werdstrasse"
                  number: "36"
                  zip_code: 8004
                  canton_code: "ZH"
                  city: "Zürich"
                  country_code: "CH"
                  phone: "044 240 22 83"
                  hotline: "0848 99 66 33"
                  payment_types:
                    - "cash"
                    - "euro"
                    - "maestro"
                    - "post"
                  credit_card: true
                  open_from: "1998-08-01"
                  open_to: null
                  renovation_from: "2015-06-25"
                  renovation_to: "2015-06-26"
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: "de"
                  email: "info@denner.ch"
                  homepage: "http://www.denner.ch"
                  parking_count: 0
                  channel:
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    title: "Denner"
                  opening_times:
                    - weekday: 1
                      open_from: "08:00"
                      open_to: "20:00"
                    - weekday: 2
                      open_from: "08:00"
                      open_to: "20:00"
                    - weekday: 3
                      open_from: "08:00"
                      open_to: "20:00"
                    - weekday: 4
                      open_from: "08:00"
                      open_to: "20:00"
                    - weekday: 5
                      open_from: "08:00"
                      open_to: "20:00"
                    - weekday: 6
                      open_from: "08:00"
                      open_to: "12:00"
                    - weekday: 6
                      open_from: "14:00"
                      open_to: "20:00"
                  special_opening_times:
                    - day: "2015-06-25"
                      reason: "Umbau"
                      closed: true
                    - day: "2015-06-26"
                      reason: "Umbau"
                      closed: true
                    - day: "2015-06-28"
                      open_from: "10:00"
                      open_to: "16:00"
                      reason: "Sonntagsverkauf"
                      closed: false
                  services:
                    - id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                      title: "Humidor"
                    - id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                      title: "Früchte und Gemüse"
                    - id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                      title: "Backstation"

  ### Online advertising
  /online-publications:
    get:
      summary: List all online publications
      description: |
        Use this operation to get a list of all online publications (usually filtered by a specific channel and timeframe).
      tags:
        - Online advertising
      operationId: listOnlinePublications
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationsResponse'

  /online-publications/{publication_id}:
    get:
      summary: Get single online publication (includes all advertised articles)
      description: >
        Use this operation to get a single publication targeted at online channels,
        e.g. denner.ch or the Mobile App (Online-Werbemittel).
        The response will include the articles assigned to this publication.
      tags:
        - Online advertising
      operationId: getOnlinePublication
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
#        - name: view-as-override
#          in: query
#          type: string
#          required: false
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/OnlinePublicationWithArticles'
          examples:
            application/json:
              id: "2c8616be-07c8-4fba-83a2-ee780449ff32"
              name: "Wochenaktionen KW 26/2015"
              year: 2015
              week: 26
              title:
                -
                  locale: "de"
                  value: "Wochenaktionen"
                -
                  locale: "fr"
                  value: "Hits de la semaine"
                -
                  locale: "it"
                  value: "Promozioni della settimana"
              list_title:
                -
                  locale: "de"
                  value: "Weitere Wochenaktionen"
                -
                  locale: "fr"
                  value: "Autre hits de la semaine"
                -
                  locale: "it"
                  value: "Altre promozioni della settimana"
              show_details_text:
                -
                  locale: "de"
                  value: "Alle Wochenaktionen zeigen"
                -
                  locale: "fr"
                  value: "..."
                -
                  locale: "it"
                  value: "..."
              validity:
                from: "2015-06-23"
                to: "2015-06-29"
                text:
                  -
                    locale: "de"
                    value: "23.06.2015 bis 29.06.2015, solange Vorrat"
                  -
                    locale: "fr"
                    value: "tbd"
                  -
                    locale: "it"
                    value: "tbd"
              filters:
                -
                  id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                  name: "Aktionen der Folgewoche"
                  appearances:
                    -
                      from: "2015-06-19"
                      to: "2015-06-22"
                -
                  id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                  name: "Aktionen aktuelle Woche"
                  appearances:
                    -
                      from: "2015-06-23"
                      to: "2015-06-29"
              promotion_type:
                id: "089f8537-981a-42ba-9b0a-b3cba4a1c7d5"
                code: "FLUGBLATT"
                name: "Dennerwoche"
              sort_index: 0
              articles:
                -
                  id: "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6"
                  article_id: "051273"
                  name: "Mandorla Primitivo IGT Puglia"
                  title:
                    -
                      locale: "de"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "fr"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "it"
                      value: "Mandorla Primitivo di Puglia IGT"
                  description:
                    -
                      locale: "de"
                      value: "2013, Apulien, Italien, 6 x 75 cl"
                    -
                      locale: "fr"
                      value: "2013, les Pouilles, Italie, 6 x 75 cl"
                    -
                      locale: "it"
                      value: "2013, Puglia, Italia, 6 x 75 cl"
                  prices:
                    sales: 59.4
                    instead: 68.4
                    base: 1.32
                    by_quantity:
                      -
                        quantity: 1
                        sales: 9.9
                        instead: 11.4
                      -
                        quantity: 6
                        sales: 59.4
                        instead: 68.4
                  price_info:
                    -
                      locale: "de"
                      value: "Konkurrenzvergleich"
                    -
                      locale: "fr"
                      value: "Comparaison concurrentielle"
                    -
                      locale: "it"
                      value: "Confronto con la concorrenza"
                  unit_price_info:
                    -
                      locale: "de"
                      value: "Einzelflasche: 9.90 statt 11.40"
                    -
                      locale: "fr"
                      value: "9.90 la bouteille au lieu de 11.40"
                    -
                      locale: "it"
                      value: "9.90 a bottiglia invece di 11.40"
                  promotion_info:
                    -
                      locale: "de"
                      value: "Aktionspreise für Einzelflaschen nur in der jeweiligen Aktionswoche gültig"
                    -
                      locale: "fr"
                      value: "Les prix promotionnels sur les bouteilles vendues à la pièce ne sont valables que durant la semaine d’action"
                    -
                      locale: "it"
                      value: "I prezzi promozionali delle singole bottiglie sono validi solo nella rispettiva settimana promozionale"
                  dots:
                    -
                      id: "d4bca729-10ad-482c-bdda-b1a1398173b5"
                      type:
                        id: "semi_price_winehit"
                      text:
                        -
                          locale: "de"
                          value: "1/2 Preis\nWeinheit!"
                        -
                          locale: "fr"
                          value: "1/2 prix\nLe top du vin!"
                        -
                          locale: "it"
                          value: "1/2 prezzo\nSuperofferta vino!"
                      images:
                        -
                          locale: "de"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.svg"
                        -
                          locale: "fr"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-fr.svg"
                        -
                          locale: "it"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-it.svg"
                  quantity: 6
                  #                  Removed because we cannot calculate a valid size, neither display a standardized unit
                  #                  content:
                  #                    size: 75
                  #                    unit: 170
                  base:
                    #                    Removed because we cannot calculate a valid size, neither display a standardized unit
                    #                    size: 10
                    #                    unit: 170
                    text:
                      -
                        locale: "de"
                        value: "10 cl"
                      -
                        locale: "fr"
                        value: "10 cl"
                      -
                        locale: "it"
                        value: "10 cl"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    short_text:
                      -
                        locale: "de"
                        value: "Gültig von 23.06.–29.06."
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                    long_text:
                      -
                        locale: "de"
                        value: "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                  availability_limitations:
                    region:
                      -
                        locale: "de"
                        value: "Nur in der deutschen und französischen Schweiz erhältlich"
                      -
                        locale: "fr"
                        value: "Disponible uniquement en Suisse alémanique et romande"
                      -
                        locale: "it"
                        value: "Disponibile solo nella Svizzera tedesca e romanda"
                    store:
                      -
                        locale: "de"
                        value: "Nur in Filialen mit Frischprodukten erhältlich, ohne Denner Satelliten / Denner Express"
                      -
                        locale: "fr"
                        value: "Disponible uniquement dans les succursales avec des produits frais, satellites Denner et Denner Express exclus"
                      -
                        locale: "it"
                        value: "Disponibile solo nelle filiali con prodotti freschi, exclusi i satelliti Denner e i Denner Express"
                    store_filters:
                      -
                        id: "services"
                        value:
                          - "7fefad45-81d2-4228-a0a1-ed618184b96e"
                          - "47191064-ad2e-482a-a5cf-2aa32d0b8116"
                      -
                        id: "channels"
                        value:
                          - "d247ecc8-ee06-47e7-b25c-1d267059cf18"
                          - "8afb451c-614b-412a-bd7b-03d3ab0e61ef"
                          - "a411c290-4b9c-42dd-b753-039918d66b51"
                  sort_index: 0
                  featured_sort_index: 10
                  featured: true
                  promoted: true
                  compared: true
                  cooling: 0
                  legal_warning: 'none'
                  online_group:
                    id: "671988cc-ca5f-484e-8db8-23a65ea0044a"
                    code: 4003
                    disabled: false
                    allow_featuring: true
                    allow_promotion: true
                    allow_background: true
                    title:
                      -
                        locale: "de"
                        value: "Wein"
                      -
                        locale: "fr"
                        value: "Vins"
                      -
                        locale: "it"
                        value: "Vini"
                    parent:
                      id: "5b79391b-b436-45f9-b3e4-93ec3ae1fae2"
                      code: 4001
                      disabled: false
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Tafelgetränke und Mineralwasser"
                        -
                          locale: "fr"
                          value: "Boissons table et eau minérale"
                        -
                          locale: "it"
                          value: "Bevande da tavola e acque minerali"
                  article_group:
                    id: "0c309757-5432-4652-8201-ec35f31c5260"
                    code: "60-56"
                    name: "Italien Rot 70 cl"
                    parent:
                      id: "3f3df00f-6a7e-49a9-8eca-a36727ca4977"
                      code: "60"
                      name: "Weine"
                  eco_labels:
                    -
                      id: "66d94617-bbd7-477e-ae66-183deb67ba5b"
                      code: "bio"
                      name: "Bio"
                  packshot:
                    id: "2059e18a-9e93-452e-9eef-f9d7605a31ad"
                    url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    cdn_url: "https://denner.imgix.net/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    quantity: 6
                    created_on: "2016-03-01T16:22:00+02:00"
                  wine:
                    country:
                      id: "IT"
                      title:
                        -
                          locale: "de"
                          value: "Italien"
                        -
                          locale: "fr"
                          value: "Italie"
                        -
                          locale: "it"
                          value: "Italia"
                    region:
                      id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                      title:
                        -
                          locale: "de"
                          value: "Apulien"
                        -
                          locale: "fr"
                          value: "Les Pouilles"
                        -
                          locale: "it"
                          value: "Puglia"
                    type:
                      id: 2
                      title:
                        -
                          locale: "de"
                          value: "Rotwein"
                        -
                          locale: "fr"
                          value: "Vin rouge"
                        -
                          locale: "it"
                          value: "Vino rosso"
                    online_specials:
                      - id: wine
                        sort_index: 10
                        title:
                          - locale: de
                            value: Weine
                          - locale: fr
                            value: Vins
                          - locale: it
                            value: Vini
                    year: 2013
                    fits_with:
                      -
                        locale: "de"
                        value: "Pasta, Fleisch mit würzigen Saucen"
                      -
                        locale: "fr"
                        value: "Pâtes, viande aux sauces relevées"
                      -
                        locale: "it"
                        value: "Pasta, carni accompagnate da salse aromatiche"
                    varietal:
                      -
                        locale: "de"
                        value: "Primitivo"
                      -
                        locale: "fr"
                        value: "Primitivo"
                      -
                        locale: "it"
                        value: "Primitivo"
                    character:
                      -
                        locale: "de"
                        value: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      -
                        locale: "fr"
                        value: "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      -
                        locale: "it"
                        value: "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    temperature:
                      -
                        locale: "de"
                        value: "16-18 °C"
                      -
                        locale: "fr"
                        value: "16-18 °C"
                      -
                        locale: "it"
                        value: "16-18 °C"
                    awards:
                      -
                        locale: "de"
                        value: ""
                      -
                        locale: "fr"
                        value: ""
                      -
                        locale: "it"
                        value: ""
                    storage:
                      -
                        locale: "de"
                        value: "3 Jahre"
                      -
                        locale: "fr"
                        value: "3 ans"
                      -
                        locale: "it"
                        value: "3 anni"
                    rating:
                      value: 4.45
                      total: 11
                      valid: true
                    stock:
                      value: -15
                      code: 2
                      message:
                        -
                          locale: "de"
                          value: "Derzeit nicht bestellbar"
                        -
                          locale: "fr"
                          value: "Actuellement pas disponible"
                        -
                          locale: "it"
                          value: "Attualmente non disponibile"
                    shop_url: null
              links:
                -
                  locale: "de"
                  url: "https://www.denner.ch/de/shop/wein/weine.html"
                -
                  locale: "fr"
                  url: "https://www.denner.ch/fr/shop/vin/vins.html"
                -
                  locale: "it"
                  url: "https://www.denner.ch/it/shop/vino/vini.html"
        404:
          description: HTTP 404 Not Found

  /newsletter-articles:
    get:
      summary: List all online articles for newsletter
      description: |
        Use this operation to get a list of all online articles promoted in the given week in the newsletter channels.
      tags:
        - Online advertising
      operationId: listNewsletterOnlineArticles
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - name: week
          in: query
          required: true
          type: string
          description: >
             Year followed by the week number (ISO 8601, week date system)
             PHP date format 'o-W' (ref: https://www.php.net/manual/en/datetime.format.php)
          pattern: ^[0-9]{4}\-[0-9]{1,2}$
        - $ref: '#/parameters/LocaleQueryParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'

  /banner-publications/{publication_id}:
    get:
      summary: Fetch online publication with articles for banner
      description: |
        Use this operation fetch an online publication with articles to be displayed in banner.
      tags:
        - Online advertising
      operationId: listOnlinePublicationsWithArticlesForBanner
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/PublicationIdPathParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationWitArticlesResponse'

  /online-groups:
    get:
      summary: List all online groups
      description: >
        Use this operation to get a list of all online groups (Internet-Sortimente).
      tags:
        - Online advertising
      operationId: listOnlineGroups
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeUnlimitableParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineGroupsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              online_groups:
                -
                  id: "7627150d-36bd-4867-89b2-091800a03d24"
                  code: 1001
                  sort_index: 0
                  allow_featuring: true
                  allow_promotion: true
                  allow_background: true
                  title:
                    -
                      locale: "de"
                      value: "Frischprodukte"
                    -
                      locale: "fr"
                      value: "Produits frais"
                    -
                      locale: "it"
                      value: "Prodotti freschi"
                  children:
                    -
                      id: "58afec5c-ece9-4b66-bc55-00d6dc1b65b8"
                      code: 1001
                      sort_index: 0
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Milchprodukte"
                        -
                          locale: "fr"
                          value: "Produits laitiers"
                        -
                          locale: "it"
                          value: "Latticini"
                      children: []
                    -
                      id: "e5216167-9da5-41d6-b7b3-96362b60de89"
                      code: 1002
                      sort_index: 1
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Eier"
                        -
                          locale: "fr"
                          value: "Oeufs"
                        -
                          locale: "it"
                          value: "Uova"
                      children: []

  /online-filters:
    get:
      summary: List all online filters
      description: >
        Use this operation to get a list of all online filters
        (Angebotsfilter; e.g. "Aktionen aktuelle Woche" or "Aktionen der Folgewoche").
      tags:
        - Online advertising
      operationId: listOnlineFilters
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeUnlimitableParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 2
              total_items: 2
              online_filters:
                -
                  id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                  name: "Aktionen der Folgewoche"
                  title:
                    -
                      locale: "de"
                      value: "Aktionen der Folgewoche"
                    -
                      locale: "fr"
                      value: "Hits de la semaine suivante"
                    -
                      locale: "it"
                      value: "Promozioni della settimana seguente"
                  sort_index: 0
                -
                  id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                  name: "Aktionen aktuelle Woche"
                  title:
                    -
                      locale: "de"
                      value: "Aktionen aktuelle Woche"
                    -
                      locale: "fr"
                      value: "Hits de la semaine en cours"
                    -
                      locale: "it"
                      value: "Promozioni della settimana corrente"
                  sort_index: 1

  /online-stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - Online advertising
      operationId: listStores
      security:
        - appKey: [ ]
      parameters:
        #- $ref: '#/parameters/FilterParam'
        #- $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageSizeUnlimitableParam'
        - $ref: '#/parameters/PageParam'

      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              stores:
                - id: bcb8a388-8998-4d08-85a6-4864199704ee
                  code: 302
                  address: Werdstrasse
                  number: '36'
                  zip_code: 8004
                  canton_code: ZH
                  city: Zürich
                  country_code: CH
                  phone: 044 240 22 83
                  hotline: '0848 99 66 33'
                  payment_types:
                    - cash
                    - euro
                    - maestro
                    - post
                  credit_card: true
                  open_from: '1998-08-01'
                  open_to:
                  renovation_from: '2015-06-25'
                  renovation_to: '2015-06-26'
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: de
                  email: info@denner.ch
                  homepage: http://www.denner.ch
                  parking_count: 0
                  channel:
                    id: 5d1c3dd5-35a9-4c66-ab20-3409ea640334
                    code: 1
                    name: Denner
                    title:
                      - locale: de
                        value: Denner
                      - locale: fr
                        value: Denner
                      - locale: it
                        value: Denner
                  opening_times:
                    - weekday: 1
                      open_from: '08:00'
                      open_to: '20:00'
                    - weekday: 2
                      open_from: '08:00'
                      open_to: '20:00'
                    - weekday: 3
                      open_from: '08:00'
                      open_to: '20:00'
                    - weekday: 4
                      open_from: '08:00'
                      open_to: '20:00'
                    - weekday: 5
                      open_from: '08:00'
                      open_to: '20:00'
                    - weekday: 6
                      open_from: '08:00'
                      open_to: '12:00'
                    - weekday: 6
                      open_from: '14:00'
                      open_to: '20:00'
                  special_opening_times:
                    - day: '2015-06-25'
                      reason:
                        - locale: de
                          value: Umbau
                        - locale: fr
                          value: tbd
                        - locale: it
                          value: tbd
                      closed: true
                    - day: '2015-06-26'
                      reason:
                        - locale: de
                          value: Umbau
                        - locale: fr
                          value: tbd
                        - locale: it
                          value: tbd
                      closed: true
                    - day: '2015-06-28'
                      open_from: '10:00'
                      open_to: '16:00'
                      reason:
                        - locale: de
                          value: Sonntagsverkauf
                        - locale: fr
                          value: tbd
                        - locale: it
                          value: tbd
                      closed: false
                  calendar_opening_times:
                    - day: '2015-06-22'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-06-23'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-06-24'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-06-27'
                      open_from: '08:00'
                      open_to: '12:00'
                    - day: '2015-06-27'
                      open_from: '14:00'
                      open_to: '20:00'
                    - day: '2015-06-28'
                      open_from: '10:00'
                      open_to: '16:00'
                    - day: '2015-06-29'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-06-30'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-07-01'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-07-02'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-07-03'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-07-04'
                      open_from: '08:00'
                      open_to: '12:00'
                    - day: '2015-07-04'
                      open_from: '14:00'
                      open_to: '20:00'
                    - day: '2015-07-06'
                      open_from: '08:00'
                      open_to: '20:00'
                    - day: '2015-07-07'
                      open_from: '08:00'
                      open_to: '20:00'
                  weekly_opening_days:
                    - day: '2015-06-22'
                      weekday: 1
                      statements:
                        - open_from: '08:00'
                          open_to: '20:00'
                          superseded: false
                    - day: '2015-06-23'
                      weekday: 2
                      statements:
                        - open_from: '08:00'
                          open_to: '20:00'
                          superseded: false
                    - day: '2015-06-24'
                      weekday: 3
                      statements:
                        - open_from: '08:00'
                          open_to: '20:00'
                          superseded: false
                    - day: '2015-06-25'
                      weekday: 4
                      statements:
                        - open_from: '08:00'
                          open_to: '20:00'
                          superseded: true
                          change_info:
                            - locale: de
                              value: Umbau
                            - locale: fr
                              value: tbd
                            - locale: it
                              value: tbd
                    - day: '2015-06-26'
                      weekday: 5
                      statements:
                        - open_from: '08:00'
                          open_to: '20:00'
                          superseded: true
                          change_info:
                            - locale: de
                              value: Umbau
                            - locale: fr
                              value: tbd
                            - locale: it
                              value: tbd
                    - day: '2015-06-27'
                      weekday: 6
                      statements:
                        - open_from: '08:00'
                          open_to: '12:00'
                          superseded: false
                        - open_from: '14:00'
                          open_to: '20:00'
                          superseded: false
                    - day: '2015-06-28'
                      weekday: 7
                      statements:
                        - text_override:
                            - locale: de
                              value: geschlossen
                            - locale: fr
                              value: fermée
                            - locale: it
                              value: chiusa
                          superseded: true
                          change_info:
                            - locale: de
                              value: Sonntagsverkauf
                            - locale: fr
                              value: tbd
                            - locale: it
                              value: tbd
                        - open_from: '10:00'
                          open_to: '16:00'
                          superseded: false
                  services:
                    - id: acb911fb-b7e3-480f-ab91-1109e750892a
                      code: 1
                      name: Humidor
                      title:
                        - locale: de
                          value: Humidor
                        - locale: fr
                          value: Humidor
                        - locale: it
                          value: Humidor
                      appearances:
                        - from: '2015-06-01'
                          to: '2015-06-30'
                        - from: '2016-06-01'
                          to: '2016-06-30'
                    - id: d7b4925e-79f8-415f-9436-0adb4a9cc4de
                      code: 3
                      name: Früchte und Gemüse
                      title:
                        - locale: de
                          value: Früchte und Gemüse
                        - locale: fr
                          value: Fruits et Légumes
                        - locale: it
                          value: Frutta e verdura
                      appearances:
                        - from: '2013-01-01'
                    - id: 57d0301a-fd5d-4dce-ab0d-75dee1d16631
                      code: 5
                      name: Backstation
                      title:
                        - locale: de
                          value: Backstation
                        - locale: fr
                          value: Four à pain
                        - locale: it
                          value: Punto cottura
                      appearances:
                        - from: '2013-01-01'

  /online-specials:
    get:
      summary: List all online specials
      description: >
        Use this operation to get a list of all online specials (Raritäten).
      tags:
        - Online advertising
      operationId: listOnlineSpecials
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/PageSizeUnlimitableParam'
        - $ref: '#/parameters/PageParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineSpecialsResponse'

  /store-channels:
    get:
      summary: List all store channels
      description: >
        Use this operation to get a list of all store channels
        (Filialkanäle; e.g. "Denner" or "Denner Satellit").
      tags:
        - Online advertising
      operationId: listStoreChannels
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/PageSizeUnlimitableParam'
        - $ref: '#/parameters/PageParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoreChannelsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 2
              total_items: 2
              store_channels:
                - id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                  code: 1
                  name: "Denner"
                  title:
                    - locale: "de"
                      value: "Denner"
                    - locale: "fr"
                      value: "Denner"
                    - locale: "it"
                      value: "Denner"
                - id: "18549f95-6471-4e21-968f-8a0bf2e0f79b"
                  code: 2
                  name: "Denner Satellit und Denner Express"
                  title:
                    - locale: "de"
                      value: "Denner Satellit und Denner Express"
                    - locale: "fr"
                      value: "Satellite Denner et Denner Express"
                    - locale: "it"
                      value: "Satelliti Denner e Denner Express"

  /store-services:
    get:
      summary: List all store services
      description: >
        Use this operation to get a list of all store services
        (Filialangebote; e.g. "Humidor" or "Backstation").
      tags:
        - Online advertising
      operationId: listStoreServices
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/PageSizeUnlimitableParam'
        - $ref: '#/parameters/PageParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoreServicesResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 5
              total_items: 5
              store_services:
                - id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                  code: 1
                  name: ""
                  title:
                    - locale: "de"
                      value: "Humidor"
                    - locale: "fr"
                      value: "Humidor"
                    - locale: "it"
                      value: "Humidor"
                - id: "85aa57ad-2bf3-48e5-a1a0-813889cbae26"
                  code: 2
                  name: "Bordeaux Grands Crus"
                  title:
                    - locale: "de"
                      value: "Bordeaux Grands Crus"
                    - locale: "fr"
                      value: "Bordeaux Grands Crus"
                    - locale: "it"
                      value: "Bordeaux Grands Crus"
                - id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                  code: 3
                  name: "Früchte und Gemüse"
                  title:
                    - locale: "de"
                      value: "Früchte und Gemüse"
                    - locale: "fr"
                      value: "Fruits et Légumes"
                    - locale: "it"
                      value: "Frutta e verdura"
                - id: "47191064-ad2e-482a-a5cf-2aa32d0b8116"
                  code: 4
                  name: "Früchte und Gemüse im Offenverkauf"
                  title:
                    - locale: "de"
                      value: "Früchte und Gemüse im Offenverkauf"
                    - locale: "fr"
                      value: "Fruits et légumes en vrac"
                    - locale: "it"
                      value: "Frutta e verdura in vendita sfusa"
                - id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                  code: 5
                  name: "Backstation"
                  title:
                    - locale: "de"
                      value: "Backstation"
                    - locale: "fr"
                      value: "Four à pain"
                    - locale: "it"
                      value: "Punto cottura"

  ### Display Advertising
  /display-publications:
    get:
      summary: List all display-publications
      description: >
        Use this operation to get a list of all display-publications.
      tags:
        - Display advertising
      operationId: listDisplayPublications
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DisplayPublicationsResponse'
          examples:
            application/json:
              {
                "display_publications": [
                  {
                    "id": "2433ae87-5238-4272-9c86-373b67472c9e",
                    "screen": "f10",
                    "layout": "week-end",
                    "locale": "de",
                    "name": "F10_Plakate - F10_Wochenendknaller (DE)",
                    "year": 2022,
                    "week": 44,
                    "valid_from": "2022-11-04",
                    "valid_to": "2022-11-05",
                    "validity_text": "Gültig am Freitag, 4. und Samstag, 5.11.2022",
                    "articles": [
                      {
                        "id": "11266f43-0acf-4615-a21d-1a0c5edaaee8",
                        "article_id": "901317",
                        "advertised_article_id": "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                        "composite_article": false,
                        "name": "Lammnierstück Nature ca. 400",
                        "size": "medium",
                        "title": "Denner Lammnierstück",
                        "description": "nature, Australien/Neuseeland, 2 Stück, ca. 400 g, per 100 g",
                        "sort_index": 602,
                        "packshot_image": "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                        "sales_price": "3.25",
                        "instead_price": "statt 4.95",
                        "article_group": "09-130",
                        "labels": [ ],
                        "stopper": {
                          "text": "34%"
                        }
                      },
                      {
                        "id": "8626e2b8-ec45-41d5-a50e-315a240d9b1c",
                        "article_id": "050052",
                        "advertised_article_id": "abe37069-0006-47a2-b94e-9e263d7f0d34",
                        "composite_article": true,
                        "name": "Fetzer Zinfandel 75",
                        "size": "medium",
                        "title": "Fetzer",
                        "description": "Kalifornien, USA, 6 x 75 cl \n- Zinfandel, 2020\n- Cabernet Sauvignon, 2020\n- Chardonnay, 2021",
                        "sort_index": 605,
                        "packshot_image": "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                        "carousel_images": [
                          "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                          "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png",
                          "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png"
                        ],
                        "sales_price": "41.85",
                        "instead_price": "statt 83.70",
                        "article_group": "60-64",
                        "labels": [ ],
                        "stopper": {
                          "text": "50%"
                        },
                        "wine": {
                          "country": {
                            "id": "US",
                            "text": "USA",
                            "flag": "https://denner.imgix.net/flags/US.png"
                          },
                          "rating": {
                            "text": "Kunden-Rating:",
                            "stars": 4
                          }
                        }
                      },
                      {
                        "id": "c0ebacf6-0280-4040-a1f8-d92673fe5b05",
                        "article_id": "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                        "composite_article": false,
                        "name": "KW44_Schaumweine/Champagner",
                        "size": "horizontal",
                        "title": "Alle Champagner und Schaumweine",
                        "description": "Auch auf bestehende Aktionspreise!",
                        "disclaimer": "Ausgenommen Online Specials und Einzelflaschen mit gelbem Rabattkleber. Nicht mit anderen Gutscheinen und Bons kumulierbar.",
                        "sort_index": 202,
                        "packshot_image": "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                        "sales_price": "Sortimentsaktion",
                        "article_group": "59-20",
                        "labels": [ ],
                        "stopper": {
                          "text": "20%",
                          "validity": "Gültig ab 19.10.2022"
                        }
                      }
                    ],
                    "sort_index": 100,
                    "created_on": "2022-11-01T08:31:37+0100"
                  },
                  {
                    "id": "d9413bb2-1ef4-461e-a994-0f9caee9038b",
                    "screen": "f10",
                    "layout": "week-end",
                    "locale": "fr",
                    "name": "F10_Plakate - F10_Wochenendknaller (FR)",
                    "year": 2022,
                    "week": 44,
                    "valid_from": "2022-11-04",
                    "valid_to": "2022-11-05",
                    "validity_text": "Valables le vendredi 4 et le samedi 5.11.2022",
                    "articles": [
                      {
                        "id": "8cebbe34-5c27-45e9-9136-e141fe4278e3",
                        "article_id": "901317",
                        "advertised_article_id": "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                        "composite_article": false,
                        "name": "Lammnierstück Nature ca. 400",
                        "size": "medium",
                        "title": "Filet d'agneau Denner",
                        "description": "nature, Australie/Nouvelle-Zélande, 2 pièces, env. 400 g, les 100 g",
                        "sort_index": 602,
                        "packshot_image": "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                        "sales_price": "3.25",
                        "instead_price": "au lieu de 4.95",
                        "article_group": "09-130",
                        "labels": [ ],
                        "stopper": {
                          "text": "34%"
                        }
                      },
                      {
                        "id": "fc2d83ba-8c64-49eb-9f57-a0fb38fb927b",
                        "article_id": "050052",
                        "advertised_article_id": "abe37069-0006-47a2-b94e-9e263d7f0d34",
                        "composite_article": true,
                        "name": "Fetzer Zinfandel 75",
                        "size": "medium",
                        "title": "Fetzer",
                        "description": "2020, Californie, États-Unis, 6 x 75 cl \n- Zinfandel\n- Cabernet Sauvignon",
                        "sort_index": 605,
                        "packshot_image": "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                        "carousel_images": [
                          "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                          "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png",
                          "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png"
                        ],
                        "sales_price": "41.85",
                        "instead_price": "au lieu de 83.70",
                        "article_group": "60-64",
                        "labels": [ ],
                        "stopper": {
                          "text": "50%"
                        },
                        "wine": {
                          "country": {
                            "id": "US",
                            "text": "USA",
                            "flag": "https://denner.imgix.net/flags/US.png"
                          },
                          "rating": {
                            "text": "Évaluation client:",
                            "stars": 4
                          }
                        }
                      },
                      {
                        "id": "6f112c21-7bae-4247-9a27-43f6da81fda0",
                        "article_id": "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                        "composite_article": false,
                        "name": "KW44_Schaumweine/Champagner",
                        "size": "medium",
                        "title": "Tous les champagnes\net vins mousseux",
                        "description": "Également sur les prix promotionnels!",
                        "disclaimer": "Excepté les offres spéciales en ligne et les bouteilles munies d’un autocollant de rabais jaune. Non cumulable avec d’autres bons.",
                        "sort_index": 202,
                        "packshot_image": "https://denner.imgix.net/assets/b586e370-f08a-4e80-a948-3bfa008fcf44/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_fr.png",
                        "sales_price": "Promotion sur l’assortiment",
                        "article_group": "59-20",
                        "labels": [ ],
                        "stopper": {
                          "text": "20%"
                        }
                      }
                    ],
                    "sort_index": 101,
                    "created_on": "2022-11-01T08:31:37+0100"
                  },
                  {
                    "id": "84beee35-9453-49d2-bc64-5f81d4805a14",
                    "screen": "f10",
                    "layout": "week-end",
                    "locale": "it",
                    "name": "F10_Plakate - F10_Wochenendknaller (IT)",
                    "year": 2022,
                    "week": 44,
                    "valid_from": "2022-11-04",
                    "valid_to": "2022-11-05",
                    "validity_text": "Valide venerdì 4 e sabato 5.11.2022",
                    "articles": [
                      {
                        "id": "183714d5-2d4d-458c-9bd8-4a13491eb57a",
                        "article_id": "901317",
                        "advertised_article_id": "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                        "composite_article": false,
                        "name": "Lammnierstück Nature ca. 400",
                        "size": "medium",
                        "title": "Filetto d'agnello Denner",
                        "description": "al naturale, Australia/Nuova Zelanda, 2 pezzi, ca. 400 g, per 100 g",
                        "sort_index": 602,
                        "packshot_image": "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                        "sales_price": "3.25",
                        "instead_price": "invece di 4.95",
                        "article_group": "09-130",
                        "labels": [ ],
                        "stopper": {
                          "text": "34%"
                        }
                      },
                      {
                        "id": "50d1a30a-2670-49c5-986a-e3ebba5cc2d9",
                        "article_id": "050052",
                        "advertised_article_id": "abe37069-0006-47a2-b94e-9e263d7f0d34",
                        "composite_article": true,
                        "name": "Fetzer Zinfandel 75",
                        "size": "medium",
                        "title": "Fetzer",
                        "description": "2020, California, Stati Uniti, 6 x 75 cl \n- Zinfandel\n- Cabernet Sauvignon",
                        "sort_index": 605,
                        "packshot_image": "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                        "carousel_images": [
                          "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                          "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png",
                          "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png"
                        ],
                        "sales_price": "41.85",
                        "instead_price": "invece di 83.70",
                        "article_group": "60-64",
                        "labels": [ ],
                        "stopper": {
                          "text": "50%"
                        },
                        "wine": {
                          "country": {
                            "id": "US",
                            "text": "USA",
                            "flag": "https://denner.imgix.net/flags/US.png"
                          },
                          "rating": {
                            "text": "Rating della clientela:",
                            "stars": 4
                          }
                        }
                      },
                      {
                        "id": "a091ab15-90b5-44e4-ae3e-fe3d4f83ddd7",
                        "article_id": "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                        "composite_article": false,
                        "name": "KW44_Schaumweine/Champagner",
                        "size": "medium",
                        "title": "Tutti gli champagne\ne gli spumanti",
                        "description": "Anche sugli attuali prez zi promozionali!",
                        "disclaimer": "Sono esclusi online specials e singole bottiglie con adesivo giallo di sconto.\nNon cumulabile con altri buoni.",
                        "sort_index": 202,
                        "packshot_image": "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                        "sales_price": "Promozione assortimento",
                        "article_group": "59-20",
                        "labels": [ ],
                        "stopper": {
                          "text": "20%"
                        }
                      }
                    ],
                    "sort_index": 102,
                    "created_on": "2022-11-01T08:31:37+0100"
                  }
                ],
                "page_count": 1,
                "page_size": 10,
                "total_items": 3
              }

  /display-publications/{screen}/{layout}:
    get:
      summary: Fetch display-publication
      description: >
          Use this operation to fetch the first display-publication for a specific screen, layout and language to display on current day.
      tags:
          - Display advertising
      operationId: fetchDisplayPublication
      security:
         - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - name: screen
          in: path
          required: true
          default: f10
          type: string
          description: Screen
          enum:
            - f10
            - tobacco
            - pos
        - name: layout
          in: path
          required: true
          default: standard
          type: string
          description: Layout
          enum:
            - standard
            - week-end
            - discount
            - perfume
            - wine
            - cigarettes
            - week-end-cigarettes
        - name: display-on
          in: query
          required: false
          type: string
          description: >
            Any valid date string that can be parsed by [php strtotime](https://www.php.net/manual/en/function.strtotime.php).
            
            Examples:
             - 2023-01-10
             - today
             - tomorrow
             - next Thursday
             - last Monday
            
            Default when not set 'today'.
        - $ref: '#/parameters/LocaleQueryParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DisplayPublication'
          examples:
            application/json:
              {
                "id": "2433ae87-5238-4272-9c86-373b67472c9e",
                "screen": "f10",
                "layout": "week-end",
                "locale": "de",
                "name": "F10_Plakate - F10_Wochenendknaller (DE)",
                "year": 2022,
                "week": 44,
                "valid_from": "2022-11-04",
                "valid_to": "2022-11-05",
                "validity_text": "Gültig am Freitag, 4. und Samstag, 5.11.2022",
                "articles": [
                  {
                    "id": "11266f43-0acf-4615-a21d-1a0c5edaaee8",
                    "article_id": "901317",
                    "advertised_article_id": "8c6b1e07-11a5-45ba-ad6e-a6ac2c9b34d1",
                    "composite_article": false,
                    "name": "Lammnierstück Nature ca. 400",
                    "size": "medium",
                    "title": "Denner Lammnierstück",
                    "description": "nature, Australien/Neuseeland, 2 Stück, ca. 400 g, per 100 g",
                    "sort_index": 602,
                    "packshot_image": "https://denner.imgix.net/assets/332e7f98-6c92-4c99-a551-e0ba54e15e59/web/912859_1_c_K.png",
                    "sales_price": "3.25",
                    "instead_price": "statt 4.95",
                    "article_group": "09-130",
                    "labels": [ ],
                    "stopper": {
                      "text": "34%"
                    }
                  },
                  {
                    "id": "8626e2b8-ec45-41d5-a50e-315a240d9b1c",
                    "article_id": "050052",
                    "advertised_article_id": "abe37069-0006-47a2-b94e-9e263d7f0d34",
                    "composite_article": true,
                    "name": "Fetzer Zinfandel 75",
                    "size": "medium",
                    "title": "Fetzer",
                    "description": "Kalifornien, USA, 6 x 75 cl \n- Zinfandel, 2020\n- Cabernet Sauvignon, 2020\n- Chardonnay, 2021",
                    "sort_index": 605,
                    "packshot_image": "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                    "carousel_images": [
                      "https://denner.imgix.net/assets/39b4ffe3-fba0-469c-a87e-01e5a43e29ad/web/050052_6.png",
                      "https://denner.imgix.net/assets/b017bc4d-54a4-4128-a839-00e6e8a3d47f/web/050055_6.png",
                      "https://denner.imgix.net/assets/3d26ea0f-ed5f-4c8a-8f6b-4582627aa665/web/050054_6.png"
                    ],
                    "sales_price": "41.85",
                    "instead_price": "statt 83.70",
                    "article_group": "60-64",
                    "labels": [ ],
                    "stopper": {
                      "text": "50%"
                    },
                    "wine": {
                      "country": {
                        "id": "US",
                        "text": "USA",
                        "flag": "https://denner.imgix.net/flags/US.png"
                      },
                      "rating": {
                        "text": "Kunden-Rating:",
                        "stars": 4
                      }
                    }
                  },
                  {
                    "id": "c0ebacf6-0280-4040-a1f8-d92673fe5b05",
                    "article_id": "ad93e72b-79f8-4a84-a9f9-86f203c2d929",
                    "composite_article": false,
                    "name": "KW44_Schaumweine/Champagner",
                    "size": "horizontal",
                    "title": "Alle Champagner und Schaumweine",
                    "description": "Auch auf bestehende Aktionspreise!",
                    "disclaimer": "Ausgenommen Online Specials und Einzelflaschen mit gelbem Rabattkleber. Nicht mit anderen Gutscheinen und Bons kumulierbar.",
                    "sort_index": 202,
                    "packshot_image": "https://denner.imgix.net/assets/a41dc747-c2a9-4df6-b142-2a1e3c357082/web/KW44_Sortimentaktion_Range_Schaumwein_2000x2000_di.png",
                    "sales_price": "Sortimentsaktion",
                    "article_group": "59-20",
                    "labels": [ ],
                    "stopper": {
                      "text": "20%",
                      "validity": "Gültig ab 19.10.2022"
                    }
                  }
                ],
                "sort_index": 100,
                "created_on": "2022-11-01T08:31:37+0100"
              }
        204:
          description: No result

  ### Promotion planing (XPT)
  /articles:
    get:
      summary: List articles for XPT
      description: |
        Use this operation to get a list of all articles serialized for XPT.
      tags:
        - Promotion planing (XPT)
      operationId: listXptArticles
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/FilterParam'
        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticlesResponse'

  /advertised-articles/{year_week}:
    get:
      summary: List advertised articles by week for XPT
      description: |
        Use this operation to get a list of all advertised-articles of a specific week serialized for XPT.
      tags:
        - Promotion planing (XPT)
      operationId: listXptAdvertisedArticlesByWeek
      security:
        - appKey: [ ]
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - name: year_week
          in: path
          required: true
          type: string
          description: >
            Year followed by the week number (ISO 8601, week date system)
            PHP date format 'o-W' (ref: https://www.php.net/manual/en/datetime.format.php)
          pattern: ^[0-9]{4}\-[0-9]{1,2}$
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/AdvertisedArticlesResponse'

  ### Print production
  /base-posters:
    post:
      summary: Create base poster
      description: >
        Crate an A4 base poster (for pre-printed paper) from article.
      tags:
        - Print production
      operationId: createBasePoster
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/BasePosterInput'
      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/PdfFile'
          examples:
            application/json:
              url: "https://denner-assets-test.s3.eu-west-1.amazonaws.com/regio-publisher/e4654297-35f7-46bd-9525-11d9e5af7a22/Sunrise-Cabernet-Sauvignon-Concha-y-Toro.pdf"
        400:
          description: 400 Bad Request
        500:
          description: 500 Internal Server Error

parameters:
  FilterParam:
    name: filter
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Filter object, urlencoded.

      Filter object:
      - property: Property to filter on.
      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
      - value: Value. Must be of the defined type.

      Examples:
      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]
      - [{"property":"channels","value":"vf-banner"},{"property":"week","value":12},{"property":"year","value":2023}]
  SortParam:
    name: sort
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Sort object, urlencoded.

      Sort object:
      - property: Property to sort on.
      - direction: (optional) Sort direction property. Enumeration ('asc', 'desc').

      Examples:
      - [{"property":"sort_index","direction":"asc"}]
      - [{"property":"year"},{"property":"week","direction":"asc"}]
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
  PageSizeUnlimitableParam:
    name: page_size
    description: >
      The page size that might be unlimited.
      Default: -1 (no limit)
    in: query
    type: integer
    required: false
    format: int32
    default: -1
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
  AcceptLanguageHeader:
    name: Accept-Language
    in: header
    type: string
#    pattern: '/^(de|fr|it)$/'
    required: false
    default: de
    description: >
      Accepted locale (supported are "de", "fr", and "it")
  LocaleQueryParam:
    name: locale
    in: query
    required: false
    type: string
    description: Locale
    enum:
      - de
      - fr
      - it
  BasePosterInput:
    name: BasePosterInput
    in: body
    required: true
    schema:
      type: object
      properties:
        article_id:
          type: string
          description: The unique identifier of an article
          pattern: '/^[0-9]{6}$/'
        locale:
          type: string
          description: Locale/language
          default: de
          enum:
            - de
            - fr
            - it
        quantity:
          type: integer
          description: Quantity for prices and texts
          format: int32
          minimum: 1
          default: 1
        wine_year:
          type: integer
          format: int32
          description: Wine year for texts, when not defined the wine year sold in shop is used, -1 for wine year suppression in text
        valid_on:
          type: string
          description: Valid on (e.g. "2018-02-16") for prices, when not defined the current day is used
      required:
        - article_id
      example:
        {
          "article_id": "051683",
          "locale": "it",
          "quantity": 6
        }

  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    required: true
    pattern: ^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$
  PublicationArticleIdPathParam:
    name: article_id
    description: The unique identifier of an online publication article
    in: path
    type: string
    required: true
    pattern: ^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: ^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$
    description: Unique identifier

  ArticleId:
    type: string
    pattern: ^\d{6}$
    description: Denner article code

  Locale:
    type: string
    enum:
      - de
      - fr
      - it
    description: Locale

  SortIndex:
    type: integer
    format: int32
    minimum: 0
    description: Index for sorting

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  CdnUrl:
    type: string
    pattern: ^https://denner.imgix.net/.*$
    description: |
      Image provided through the [ImgIX](https://imgix.com) CDN, query parameters can be appended to apply rendering effects.
      Follow instructions in the [ImgIX rendering API](https://docs.imgix.com/apis/rendering) reference.
      Every image (included query params) is cached for performance (main task of a CDN), if an image is changed its cache is purged.

  Email:
    type: string
    format: email # Best effort Ref.: https://swagger.io/specification/#data-types
    description: E-mail address

  Phone:
    type: string
#    pattern: @todo Fixed pattern?
    description: Formatted phone number

  CountryCode:
    type: string
    pattern: ^[A-Z]{2}$
    description: Country code definition from ISO 3166

  PublicCountry:
    type: object
    properties:
      id:
        $ref: '#/definitions/CountryCode'
      title:
        type: array
        items:
          $ref: '#/definitions/Translation'
    description: Country

  CountryFlag:
    type: object
    description: Country flag
    properties:
      image_url:
        $ref: '#/definitions/CdnUrl'

  Country:
    allOf:
      - $ref: '#/definitions/PublicCountry'
      - type: object
        properties:
          flag:
            $ref: '#/definitions/CountryFlag'

  DayDate:
    type: string
    format: date
    description: 'DayDate; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: ^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$
    description: 'Time; Format HH:MM'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 1 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 7 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 7 = Sunday

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Week:
    type: integer
    format: int32
    minimum: 1
    maximum: 53
    description: Week number (ISO 8601, week date system)

  FullWeek:
    type: object
    properties:
      year:
        $ref: '#/definitions/Year'
      number:
        $ref: '#/definitions/Week'
    required:
      - year
      - number

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 0
    description: Quantity

  SoldQuantity:
    type: integer
    format: int32
    minimum: 0
    description: Sold quantity (for texts and prices)

  AdvertisedQuantity:
    type: integer
    format: int32
    minimum: 0
    description: Advertised quantity (for images)

  ContentSize:
    type: number
    format: float
    minimum: 0
    description: Content size

  Cooling:
    type: number
    format: int32
    minimum: 0
    description: Cooling type (0 = no cooling, 1 = refrigerated, 2 = frozen)

  LegalWarning:
    type: string
    enum:
      - none
      - deadly-smoking
      - tobacco-cancerous
      - dangerous-tobacco-and-addictive
      - dangerous-and-addictive
      - dangerous-smoking
      - driving-compromised
      - unhealthy-and-addictive
      - unhealthy
    description: Indicates which legal warning info **must** be displayed.

  LegalTexts:
    type: array
    items:
      $ref: '#/definitions/Translation'
    description: |
      Mandatory text to display with article. 
      **Must occupy at least 10% of article advertising area.**
      Texts are chained with the legal warning.

  Appearance:
    type: object
    properties:
      from:
        $ref: '#/definitions/DayDate'
      to:
        $ref: '#/definitions/DayDate'

  CompositeInfo:
    type: object
    properties:
      title:
        type: array
        items:
          $ref: '#/definitions/Translation'
      description:
        type: array
        items:
          $ref: '#/definitions/Translation'

  Supplier:
    type: object
    properties:
      code:
        type: integer
        format: int32

  PromotionType:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Navision promotion type code
      name:
        type: string

  Validity:
    type: object
    description: Generic validity based on dates (from/to) and a corresponding text
    properties:
      from:
        $ref: '#/definitions/DayDate'
      to:
        $ref: '#/definitions/DayDate'
      text:
        type: array
        items:
          $ref: '#/definitions/Translation'

  ArticleValidity:
      type: object
      description: Article validity based on dates (from/to) and corresponding texts (short and long version)
      properties:
        from:
          $ref: '#/definitions/DayDate'
        to:
          $ref: '#/definitions/DayDate'
        short_text:
          type: array
          items:
            $ref: '#/definitions/Translation'
        long_text:
          type: array
          items:
            $ref: '#/definitions/Translation'

  AvailabilityLimitations:
    type: object
    description: Texts for information about limited availability
    properties:
      region:
        type: array
        items:
          $ref: '#/definitions/Translation'
      store:
        type: array
        items:
          $ref: '#/definitions/Translation'

  PdfFile:
    description: Source of the PDF document
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'

  ArticleGroupCode:
    type: string
    pattern: ^\d{2}(-\d{2,3})?$
    description: Navision article group code (e.g. '01', '20', '01-60', '38-998')

  AssignedArticleGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        $ref: '#/definitions/ArticleGroupCode'
      name:
        type: string
        description: Article group name
      parent:
        $ref: '#/definitions/AssignedArticleGroup'

  ### Eco label
  EcoLabel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Eco label ID (e.g. 'suisse-garantie', 'utz')
      name:
        type: string
        description: German name for the eco label
      images:
        type: array
        items:
          $ref: '#/definitions/EcoLabelImage'

  EcoLabelImage:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      cdn_url:
        $ref: '#/definitions/CdnUrl'

  PackshotView:
    type: object
    properties:
      id:
        type: string
        # pattern: ^(front|back|package|package\+item)$
        enum:
          - front
          - back
        description: View ID that is represented in packshot

  Packshot:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      quantity:
        $ref: '#/definitions/Quantity'
      url:
        $ref: '#/definitions/Url'
      image_url:
        $ref: '#/definitions/Url'
      preview_url:
        $ref: '#/definitions/Url'
      cdn_url:
        $ref: '#/definitions/CdnUrl'
      archived:
        $ref: '#/definitions/Quantity'
        type: boolean
        description: Is the packshot archived?
      #      auto_assigned:
      #        type: boolean
      view:
        $ref: '#/definitions/PackshotView'
      created_on:
        $ref: '#/definitions/DayDate'
    required:
      - id
      - url
      - cdn_url

  LocalizedPackshot:
    allOf:
      - $ref: '#/definitions/Packshot'
      - type: object
        properties:
          locale:
            $ref: '#/definitions/Locale'
        required:
          - locale

  ### Output (base for Stopper and Dot)
  Output:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      type:
        $ref: '#/definitions/OutputType'
      text:
        type: array
        items:
          $ref: '#/definitions/Translation'
      images:
        type: array
        items:
          $ref: '#/definitions/OutputImage'

  Dot:
    allOf:
      - $ref: '#/definitions/Output'

  Stopper:
    allOf:
      - $ref: '#/definitions/Output'
      - type: object
        properties:
          markup_text:
            type: array
            items:
              $ref: '#/definitions/Translation'
            description: Markup text for visual effects

  OutputType:
    type: object
    description: Output type
    properties:
      id:
        type: string
        description: Output type id

  OutputImage:
    type: object
    properties:
      locale:
        type: string
        description: Locale for the image formats
      design:
        $ref: '#/definitions/OutputImageDesign'
      formats:
        type: array
        items:
          $ref: '#/definitions/OutputImageFormat'

  OutputImageDesign:
    type: object
    properties:
      id:
        type: string
        description: Design of output image (e.g. 'red','white', ...)
      priority:
        type: integer
        format: int32
        minimum: 0

  OutputImageFormat:
    type: object
    properties:
      type:
        type: string
        description: Mime type for the output image
      url:
        type: string
        description: Image url which can be used, for example, in an 'img' tag

  ### Article
  PurchasingDepartment:
    type: string
    pattern: ^[A-Z]{1,2}$
    description: Denner purchasing depatment code (e.g. 'BC', 'DD', 'F', 'FG', 'FR', 'G', 'NF', 'TW', 'W')

  Article:
    type: object
    properties:
      id:
        type: string
        pattern: ^\d{6}$
        description: Navision article code
      name:
        type: string
        description: Article name
      title:
        type: array
        items:
          $ref: '#/definitions/Translation'
      description:
        type: array
        items:
          $ref: '#/definitions/Translation'
      composite_description:
        type: array
        items:
          $ref: '#/definitions/Translation'
      article_group:
        $ref: '#/definitions/AssignedArticleGroup'
      purchasing_department:
        $ref: '#/definitions/PurchasingDepartment'
      online_group:
        $ref: '#/definitions/AssignedOnlineGroup'
      prices:
        $ref: '#/definitions/ArticlePrices'
      barcodes:
        type: array
        items:
          $ref: '#/definitions/Barcode'
      content:
        $ref: '#/definitions/Content'
      base:
        $ref: '#/definitions/BaseContent'
      cooling:
        $ref: '#/definitions/Cooling'
      legal_warning:
        $ref: '#/definitions/LegalWarning'
      legal_texts:
        $ref: '#/definitions/LegalTexts'
      eco_labels:
        type: array
        items:
          $ref: '#/definitions/EcoLabel'
      packshots:
        type: array
        items:
          $ref: '#/definitions/Packshot'
      wine:
        $ref: '#/definitions/ExtendedArticleWine'

  ArticlePrices:
    type: object
    properties:
      sales:
        $ref: '#/definitions/Price'
      list:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      base:
        $ref: '#/definitions/Price'
      final:
        type: boolean
        description: Is the price final?
      by_quantity:
        $ref: '#/definitions/QuantityPrices'

  QuantityPrices:
    type: array
    items:
      $ref: '#/definitions/QuantityPrice'

  QuantityPrice:
    type: object
    properties:
      quantity:
        $ref: '#/definitions/Quantity'
      sales:
        $ref: '#/definitions/Price'
      list:
        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      final:
        type: boolean
        description: Is the price final?

  Content:
    type: object
    properties:
      size:
        $ref: '#/definitions/ContentSize'
      #      unit:
      #        $ref: '#/definitions/ContentUnit'
      label:
        type: array
        items:
          $ref: '#/definitions/Translation'
      text:
        type: array
        items:
          $ref: '#/definitions/Translation'

  BaseContent:
    type: object
    properties:
      #      Removed because we cannot calculate a valid size, neither display a standardized unit
      #      size:
      #        $ref: '#/definitions/ContentSize'
      #      unit:
      #        $ref: '#/definitions/ContentUnit'
      text:
        type: array
        items:
          $ref: '#/definitions/Translation'

  BasicArticleWine:
    #  Has no definitions/WineBox and definitions/WineCanister
    #  Uses definitions/BasicShopInfo
    type: object
    properties:
      country:
        $ref: '#/definitions/Country'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      online_specials:
        type: array
        items:
          $ref: '#/definitions/OnlineSpecial'
      year:
        $ref: '#/definitions/Year'
      fits_with:
        type: array
        items:
          $ref: '#/definitions/Translation'
      varietal:
        type: array
        items:
          $ref: '#/definitions/Translation'
      character:
        type: array
        items:
          $ref: '#/definitions/Translation'
      temperature:
        type: array
        items:
          $ref: '#/definitions/Translation'
      awards:
        type: array
        items:
          $ref: '#/definitions/Translation'
      storage:
        type: array
        items:
          $ref: '#/definitions/Translation'
      rating:
        $ref: '#/definitions/Rating'
      shop:
        $ref: '#/definitions/BasicShopInfo'

  ExtendedArticleWine:
    #  Has definitions/WineBox
    #  Uses definitions/ExtendedShopInfo
    type: object
    properties:
      country:
        $ref: '#/definitions/Country'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      online_specials:
        type: array
        items:
          $ref: '#/definitions/OnlineSpecial'
      canister:
        $ref: '#/definitions/WineCanister'
      box:
        $ref: '#/definitions/WineBox'
      year:
        $ref: '#/definitions/Year'
      fits_with:
        type: array
        items:
          $ref: '#/definitions/Translation'
      varietal:
        type: array
        items:
          $ref: '#/definitions/Translation'
      character:
        type: array
        items:
          $ref: '#/definitions/Translation'
      temperature:
        type: array
        items:
          $ref: '#/definitions/Translation'
      awards:
        type: array
        items:
          $ref: '#/definitions/Translation'
      storage:
        type: array
        items:
          $ref: '#/definitions/Translation'
      rating:
        $ref: '#/definitions/Rating'
      shop:
        $ref: '#/definitions/ExtendedShopInfo'

  BasicShopInfo:
    #  Has no title (shop title)
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'
      stock:
        $ref: '#/definitions/Stock'
      quantity:
        $ref: '#/definitions/Quantity'
      prices:
        $ref: '#/definitions/ArticlePrices'
      discount:
        type: array
        items:
          $ref: '#/definitions/Translation'
      packshot:
        $ref: '#/definitions/Packshot'

  ExtendedShopInfo:
    #  Has title (shop title)
    #    allOf:
    #      - $ref: '#/definitions/BasicShopInfo'
    #      - properties:
    #        title:
    #          $ref: '#/definitions/Translations'
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'
      stock:
        $ref: '#/definitions/Stock'
      quantity:
        $ref: '#/definitions/Quantity'
      prices:
        $ref: '#/definitions/ArticlePrices'
      discount:
        type: array
        items:
          $ref: '#/definitions/Translation'
      title:
        type: array
        items:
          $ref: '#/definitions/Translation'
      packshot:
        $ref: '#/definitions/Packshot'

  Stock:
    type: object
    properties:
      value:
        type: integer
        format: int32
        description: Navision stock count, might be negative
      code:
        type: integer
        format: int32
        minimum: 0
        description: Navision stock code
      message:
        type: array
        items:
[...]
