swagger: '2.0'
info:
  description: RESTful API for the Denner Portal
  version: 1.0.0
  title: Denner Portal 2.0
  contact:
    name: DETAIL NET
    email: support+denner-api@detailnet.ch
host: denner-api.detailnet.ch
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application identifier
    name: App-ID
    in: header
  appId:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Stores
  /stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - stores
      operationId: listStores
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              stores:
                -
                  id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  address: "Werdstrasse"
                  number: "36"
                  zip_code: 8004
                  canton_code: "ZH"
                  city: "Zürich"
                  country: "CH"
                  phone: "044 240 22 83"
                  hotline: "0848 99 66 33"
                  payment_types:
                    - "cash"
                    - "euro"
                    - "maestro"
                    - "post"
                  credit_card: true
                  open_from: "1998-08-01"
                  open_to: null,
                  renovation_from: "2015-06-25"
                  renovation_to: "2015-06-26"
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: "de"
                  email: "info@denner.ch"
                  homepage: "http://www.denner.ch"
                  parking_count: 0
                  channel:
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    code: 1
                    name: "Denner"
                    title:
                      -
                        locale: "de"
                        value: "Denner"
                      -
                        locale: "fr"
                        value: "Denner"
                      -
                        locale: "it"
                        value: "Denner"
                  opening_times:
                    -
                      weekday: 1
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      weekday: 2
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      weekday: 3
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      weekday: 4
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      weekday: 5
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      weekday: 6
                      open_from: "08:00:00"
                      open_to: "12:00:00"
                    -
                      weekday: 6
                      open_from: "14:00:00"
                      open_to: "20:00:00"
                  special_opening_times:
                    -
                      day: "2015-06-25"
                      reason:
                        -
                          locale: "de"
                          value: "Umbau"
                        -
                          locale: "fr"
                          value: "tbd"
                        -
                          locale: "it"
                          value: "tbd"
                      closed: true
                    -
                      day: "2015-06-26"
                      reason:
                        -
                          locale: "de"
                          value: "Umbau"
                        -
                          locale: "fr"
                          value: "tbd"
                        -
                          locale: "it"
                          value: "tbd"
                      closed: true
                    -
                      day: "2015-06-28"
                      open_from: "10:00:00"
                      open_to: "16:00:00"
                      reason:
                        -
                          locale: "de"
                          value: "Sonntagsverkauf"
                        -
                          locale: "fr"
                          value: "tbd"
                        -
                          locale: "it"
                          value: "tbd"
                      closed: false
                  calendar_opening_times:
                    -
                      day: "2015-06-22"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-23"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-24"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-27"
                      open_from: "08:00:00"
                      open_to: "12:00:00"
                    -
                      day: "2015-06-27"
                      open_from: "14:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-28"
                      open_from: "10:00:00"
                      open_to: "16:00:00"
                    -
                      day: "2015-06-29"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-30"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-01"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-02"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-03"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-04"
                      open_from: "08:00:00"
                      open_to: "12:00:00"
                    -
                      day: "2015-07-04"
                      open_from: "14:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-06"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-07"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                  services:
                    -
                      id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                      code: 1
                      name: "Humidor"
                      title:
                        -
                          locale: "de"
                          value: "Humidor"
                        -
                          locale: "fr"
                          value: "Humidor"
                        -
                          locale: "it"
                          value: "Humidor"
                      appearances:
                        -
                          from: "2015-06-01"
                          to: "2015-06-30"
                        -
                          from: "2016-06-01"
                          to: "2016-06-30"
                    -
                      id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                      code: 3
                      name: "Früchte und Gemüse"
                      title:
                        -
                          locale: "de"
                          value: "Früchte und Gemüse"
                        -
                          locale: "fr"
                          value: "Fruits et Légumes"
                        -
                          locale: "it"
                          value: "Frutta e verdura"
                      appearances:
                        -
                          from: "2013-01-01"
                    -
                      id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                      code: 5
                      name: "Backstation"
                      title:
                        -
                          locale: "de"
                          value: "Backstation"
                        -
                          locale: "fr"
                          value: "Four à pain"
                        -
                          locale: "it"
                          value: "Punto cottura"
                      appearances:
                        -
                          from: "2013-01-01"

  /screen-stores:
    get:
      summary: List all screen stores
      description: >
        Use this operation to get a list of all screen stores (Filialen für Werbescreens).
      tags:
        - stores
      operationId: listScreenStores
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ScreenStoresResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              stores:
                -
                  id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  calendar_opening_times:
                    -
                      day: "2015-06-22"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-23"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-24"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-27"
                      open_from: "08:00:00"
                      open_to: "12:00:00"
                    -
                      day: "2015-06-27"
                      open_from: "14:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-28"
                      open_from: "10:00:00"
                      open_to: "16:00:00"
                    -
                      day: "2015-06-29"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-06-30"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-01"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-02"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-03"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-04"
                      open_from: "08:00:00"
                      open_to: "12:00:00"
                    -
                      day: "2015-07-04"
                      open_from: "14:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-06"
                      open_from: "08:00:00"
                      open_to: "20:00:00"
                    -
                      day: "2015-07-07"
                      open_from: "08:00:00"
                      open_to: "20:00:00"

  /store-channels:
    get:
      summary: List all store channels
      description: >
        Use this operation to get a list of all store channels
        (Filialkanäle; e.g. "Denner" or "Denner Satellit").
      tags:
        - stores
      operationId: listStoreChannels
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoreChannelsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 2
              total_items: 2
              store_channels:
                  -
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    code: 1
                    name: "Denner"
                    title:
                      -
                        locale: "de"
                        value: "Denner"
                      -
                        locale: "fr"
                        value: "Denner"
                      -
                        locale: "it"
                        value: "Denner"
                  -
                    id: "18549f95-6471-4e21-968f-8a0bf2e0f79b"
                    code: 2
                    name: "Denner Satellit und Denner Express"
                    title:
                      -
                        locale: "de"
                        value: "Denner Satellit und Denner Express"
                      -
                        locale: "fr"
                        value: "Satellite Denner et Denner Express"
                      -
                        locale: "it"
                        value: "Satelliti Denner e Denner Express"

  /store-services:
    get:
      summary: List all store services
      description: >
        Use this operation to get a list of all store services
        (Filialangebote; e.g. "Humidor" or "Backstation").
      tags:
        - stores
      operationId: listStoreServices
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoreServicesResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 5
              total_items: 5
              store_services:
                -
                  id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                  code: 1
                  name: ""
                  title:
                    -
                      locale: "de"
                      value: "Humidor"
                    -
                      locale: "fr"
                      value: "Humidor"
                    -
                      locale: "it"
                      value: "Humidor"
                -
                  id: "85aa57ad-2bf3-48e5-a1a0-813889cbae26"
                  code: 2
                  name: "Bordeaux Grands Crus"
                  title:
                    -
                      locale: "de"
                      value: "Bordeaux Grands Crus"
                    -
                      locale: "fr"
                      value: "Bordeaux Grands Crus"
                    -
                      locale: "it"
                      value: "Bordeaux Grands Crus"
                -
                  id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                  code: 3
                  name: "Früchte und Gemüse"
                  title:
                    -
                      locale: "de"
                      value: "Früchte und Gemüse"
                    -
                      locale: "fr"
                      value: "Fruits et Légumes"
                    -
                      locale: "it"
                      value: "Frutta e verdura"
                -
                  id: "47191064-ad2e-482a-a5cf-2aa32d0b8116"
                  code: 4
                  name: "Früchte und Gemüse im Offenverkauf"
                  title:
                    -
                      locale: "de"
                      value: "Früchte und Gemüse im Offenverkauf"
                    -
                      locale: "fr"
                      value: "Fruits et légumes en vrac"
                    -
                      locale: "it"
                      value: "Frutta e verdura in vendita sfusa"
                -
                  id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                  code: 5
                  name: "Backstation"
                  title:
                    -
                      locale: "de"
                      value: "Backstation"
                    -
                      locale: "fr"
                      value: "Four à pain"
                    -
                      locale: "it"
                      value: "Punto cottura"

  ### Articles/Promotions
  /article-groups:
    get:
      summary: List all article groups
      description: >
        Use this operation to get a list of all article groups (Warengruppen).
      tags:
        - articles
      operationId: listArticleGroups
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticleGroupsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 2
              total_items: 2
              article_groups:
                -
                  id: "7e00e926-53d0-41a8-985a-e1a514b0a642"
                  code: "01"
                  name: "Molkereiprodukte & Eier"
                  children:
                    -
                      id: "2ee0bc65-7d8a-4633-bc33-51929d21dc62"
                      code: "01-10"
                      name: "Butter"
                      children: []
                    -
                      id: "01b53b41-e35a-4abe-91a5-63e74468375d"
                      code: "01-15"
                      name: "Milch"
                      children: []
                -
                  id: "3f3df00f-6a7e-49a9-8eca-a36727ca4977"
                  code: "60"
                  name: "Weine"
                  children:
                    -
                      id: "0c309757-5432-4652-8201-ec35f31c5260"
                      code: "60-56"
                      name: "Italien Rot 70 cl"
                      children: []

  /articles:
    get:
      summary: List all articles
      description: |
        Use this operation to get a list of all articles.

        To get only wines set 'filter' param to '[{"property":"wine_type_id","operator":"!=","type":"integer","value":0}]'
      tags:
        - articles
      operationId: listArticles
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/FilterParam'
#        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticlesResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              articles:
              -
                id: "051273"
                name: "Mandorla Primitivo IGT Puglia"
                title:
                  -
                    locale: "de"
                    value: "Mandorla Primitivo di Puglia IGT"
                  -
                    locale: "fr"
                    value: "Mandorla Primitivo di Puglia IGT"
                  -
                    locale: "it"
                    value: "Mandorla Primitivo di Puglia IGT"
                description:
                  -
                    locale: "de"
                    value: "2013, Apulien, Italien, 6 x 75 cl"
                  -
                    locale: "fr"
                    value: "2013, les Pouilles, Italie, 6 x 75 cl"
                  -
                    locale: "it"
                    value: "2013, Puglia, Italia, 6 x 75 cl"
                composite_description:
                  -
                    locale: "de"
                    value: ""
                  -
                    locale: "fr"
                    value: ""
                  -
                    locale: "it"
                    value: ""
                article_group:
                  id: "0c309757-5432-4652-8201-ec35f31c5260"
                  code: "60-56"
                  name: "Italien Rot 70 cl"
                  parent:
                    id: "3f3df00f-6a7e-49a9-8eca-a36727ca4977"
                    code: "60"
                    name: "Weine"
                purchasing_department: "W"
                online_group:
                  id: "a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee"
                  code: "2-9"
                  disabled: false
                  allow_featuring: true
                  allow_promotion: true
                  allow_background: true
                  title:
                    -
                      locale: "de"
                      value: "Wein/Champagner"
                    -
                      locale: "fr"
                      value: "Vins/champagnes"
                    -
                      locale: "it"
                      value: "Vino/champagne"
                  parent:
                    id: "8fd653c3-a86b-4529-bbb5-58d06919d484"
                    code: "2"
                    disabled: false
                    allow_featuring: true
                    allow_promotion: true
                    allow_background: true
                    title:
                      -
                        locale: "de"
                        value: "Getränke"
                      -
                        locale: "fr"
                        value: "Boissons"
                      -
                        locale: "it"
                        value: "Bevande"
                prices:
                  sales: 9.9
                  instead: 11.4
                  base: 1.32
                  final: true
                  by_quantity:
                    -
                      quantity: 1
                      sales: 9.9
                      instead: 11.4
                      final: true
                    -
                      quantity: 6
                      sales: 59.4
                      instead: 68.4
                      final: true
                barcodes:
                  -
                    value: "086003000094"
                    type: "UPC12"
                    quantity: 1
                    master: false
                  -
                    value: "086003004344"
                    type: "UPC12"
                    quantity: 6
                    master: false
                  -
                    value: "5010186016172"
                    type: "EAN13"
                    quantity: 1
                    master: true
                  -
                    value: "0860030043442"
                    type: "EAN13"
                    quantity: 6
                    master: true
                content:
                  size: 0.75
                  label:
                    -
                      locale: "de"
                      value: "cl"
                    -
                      locale: "fr"
                      value: "cl"
                    -
                      locale: "it"
                      value: "cl"
                  text:
                    -
                      locale: "de"
                      value: "75 cl"
                    -
                      locale: "fr"
                      value: "75 cl"
                    -
                      locale: "it"
                      value: "75 cl"
                base:
                  text:
                    -
                      locale: "de"
                      value: "10 cl"
                    -
                      locale: "fr"
                      value: "10 cl"
                    -
                      locale: "it"
                      value: "10 cl"
                cooling: 0
                eco_labels:
                  -
                    id: "66d94617-bbd7-477e-ae66-183deb67ba5b"
                    code: "bio"
                    name: "Bio"
                packshots:
                  -
                    id: "5983a33d-ac61-49a8-a836-43259e78e9d0"
                    url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                    cdn_url: "https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                    quantity: 6
                    created_on: "2016-01-07 15:42:19"
                wine:
                  country:
                    id: "IT"
                    title:
                      -
                        locale: "de"
                        value: "Italien"
                      -
                        locale: "fr"
                        value: "Italie"
                      -
                        locale: "it"
                        value: "Italia"
                    flag:
                      image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/flags/IT.png"
                  region:
                    id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                    title:
                      -
                        locale: "de"
                        value: "Apulien"
                      -
                        locale: "fr"
                        value: "Les Pouilles"
                      -
                        locale: "it"
                        value: "Puglia"
                  type:
                    id: 2
                    title:
                      -
                        locale: "de"
                        value: "Rotwein"
                      -
                        locale: "fr"
                        value: "Vin rouge"
                      -
                        locale: "it"
                        value: "Vino rosso"
                  year: 2013
                  fits_with:
                    -
                      locale: "de"
                      value: "Pasta, Fleisch mit würzigen Saucen"
                    -
                      locale: "fr"
                      value: "Pâtes, viande aux sauces relevées"
                    -
                      locale: "it"
                      value: "Pasta, carni accompagnate da salse aromatiche"
                  varietal:
                    -
                      locale: "de"
                      value: "Primitivo"
                    -
                      locale: "fr"
                      value: "Primitivo"
                    -
                      locale: "it"
                      value: "Primitivo"
                  character:
                    -
                      locale: "de"
                      value: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                    -
                      locale: "fr"
                      value: "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                    -
                      locale: "it"
                      value: "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                  temperature:
                    -
                      locale: "de"
                      value: "16-18 °C"
                    -
                      locale: "fr"
                      value: "16-18 °C"
                    -
                      locale: "it"
                      value: "16-18 °C"
                  awards:
                    -
                      locale: "de"
                      value: ""
                    -
                      locale: "fr"
                      value: ""
                    -
                      locale: "it"
                      value: ""
                  storage:
                    -
                      locale: "de"
                      value: "3 Jahre"
                    -
                      locale: "fr"
                      value: "3 ans"
                    -
                      locale: "it"
                      value: "3 anni"
                  rating:
                    value: 4.45
                    total: 11
                    valid: true
                  shop:
                    url: "http://denner-wineshop.ch/skuredirect/051273/"
                    stock:
                      value: -15
                      code: 2
                      message:
                        -
                          locale: "de"
                          value: "Derzeit nicht bestellbar"
                        -
                          locale: "fr"
                          value: "Actuellement pas disponible"
                        -
                          locale: "it"
                          value: "Attualmente non disponibile"
                    quantity: 6
                    prices:
                      sales: 59.4
                      instead: 68.4
                      final: true
                      by_quantity:
                        -
                          quantity: 1
                          sales: 9.9
                          instead: 11.4
                          final: true
                        -
                          quantity: 6
                          sales: 59.4
                          instead: 68.4
                          final: true
                    discount:
                      -
                        locale: "de"
                        value: "13%"
                      -
                        locale: "fr"
                        value: "13%"
                      -
                        locale: "it"
                        value: "13%"
                    packshot:
                      id: "5983a33d-ac61-49a8-a836-43259e78e9d0"
                      url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                      cdn_url: "https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                      quantity: 6
                      created_on: "2016-01-07 15:42:19"
                  box:
                    code: "KA"
                    batch_size: 3

  /shop-wines:
    get:
      summary: List all wines currently targeted for the Wineshop
      description: |
        Use this operation to get a list of all wines targeted for the Wineshop.
      tags:
        - articles
      operationId: listShopWines
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/FilterParam'
#        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticlesResponse'

  /mobile-wines:
    get:
      summary: List all wines currently targeted for the Mobile App
      description: |
        Use this operation to get a list of all wines targeted for the Mobile App.
      tags:
        - articles
      operationId: listMobileWines
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/FilterParam'
#        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ArticlesResponse'

  /promotion-types:
    get:
      summary: List all promotion types
      description: >
        Use this operation to get a list of all promotion types (Aktionstypen).
      tags:
        - articles
      operationId: listPromotionTypes
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PromotionTypesResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 7
              total_items: 7
              promotion_types:
                -
                  id: "bc46653b-53a8-4eaf-b6c5-5780605a3147"
                  code: "F UND G"
                  name: "Früchte und Gemüse"
                -
                  id: "089f8537-981a-42ba-9b0a-b3cba4a1c7d5"
                  code: "FLUGBLATT"
                  name: "Dennerwoche"
                -
                  id: "e4103942-cc11-45e7-a87e-99b8aba8cc2a"
                  code: "KASSENPL."
                  name: "Kassenplatz"
                -
                  id: "0dd46184-3c01-4ba0-8fa6-baf6e3abcd50"
                  code: "PARFUM"
                  name: "Parfum"
                -
                  id: "c41c907d-8f84-4bf4-91f0-dbae19afdd2d"
                  code: "REGIOWERB"
                  name: "Regionalwerbung"
                -
                  id: "92d092c5-c023-49bb-b7f2-b90afde0e637"
                  code: "SAISON"
                  name: "Saison"
                -
                  id: "37f205e5-0661-424f-bcd9-a68ce93016cb"
                  code: "WOCHENEND"
                  name: "Wochenend-Knaller"

  ### Online Advertising
  /online-publications:
    get:
      summary: List all online publications
      description: >
        Use this operation to get a list of all publications targeted at online channels,
        e.g. denner.ch or the Mobile App (Online-Werbemittel).
      tags:
        - advertising
      operationId: listOnlinePublications
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              online_publications:
                -
                  id: "2c8616be-07c8-4fba-83a2-ee780449ff32"
                  name: "Wochenaktionen KW 26/2015"
                  year: 2015
                  week: 26
                  title:
                    -
                      locale: "de"
                      value: "Wochenaktionen"
                    -
                      locale: "fr"
                      value: "Hits de la semaine"
                    -
                      locale: "it"
                      value: "Promozioni della settimana"
                  list_title:
                    -
                      locale: "de"
                      value: "Weitere Wochenaktionen"
                    -
                      locale: "fr"
                      value: "Autre hits de la semaine"
                    -
                      locale: "it"
                      value: "Altre promozioni della settimana"
                  show_details_text:
                    -
                      locale: "de"
                      value: "Alle Wochenaktionen zeigen"
                    -
                      locale: "fr"
                      value: "..."
                    -
                      locale: "it"
                      value: "..."
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    text:
                      -
                        locale: "de"
                        value: "23.06.2015 bis 29.06.2015, solange Vorrat"
                      -
                        locale: "fr"
                        value: "tbd"
                      -
                        locale: "it"
                        value: "tbd"
                  filters:
                    -
                      id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                      name: "Aktionen der Folgewoche"
                      appearances:
                        -
                          from: "2015-06-19"
                          to: "2015-06-22"
                    -
                      id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                      name: "Aktionen aktuelle Woche"
                      appearances:
                        -
                          from: "2015-06-23"
                          to: "2015-06-29"
                  promotion_type:
                    id: "089f8537-981a-42ba-9b0a-b3cba4a1c7d5"
                    code: "FLUGBLATT"
                    name: "Dennerwoche"
                  sort_index: 0

  /online-publications/{publication_id}:
    get:
      summary: Get single online publication (includes all advertised articles)
      description: >
        Use this operation to get a single publication targeted at online channels,
        e.g. denner.ch or the Mobile App (Online-Werbemittel).
        The response will include the articles assigned to this publication.
      tags:
        - advertising
      operationId: getOnlinePublication
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/OnlinePublicationWithArticles'
          examples:
            application/json:
              id: "2c8616be-07c8-4fba-83a2-ee780449ff32"
              name: "Wochenaktionen KW 26/2015"
              year: 2015
              week: 26
              title:
                -
                  locale: "de"
                  value: "Wochenaktionen"
                -
                  locale: "fr"
                  value: "Hits de la semaine"
                -
                  locale: "it"
                  value: "Promozioni della settimana"
              list_title:
                -
                  locale: "de"
                  value: "Weitere Wochenaktionen"
                -
                  locale: "fr"
                  value: "Autre hits de la semaine"
                -
                  locale: "it"
                  value: "Altre promozioni della settimana"
              show_details_text:
                -
                  locale: "de"
                  value: "Alle Wochenaktionen zeigen"
                -
                  locale: "fr"
                  value: "..."
                -
                  locale: "it"
                  value: "..."
              validity:
                from: "2015-06-23"
                to: "2015-06-29"
                text:
                  -
                    locale: "de"
                    value: "23.06.2015 bis 29.06.2015, solange Vorrat"
                  -
                    locale: "fr"
                    value: "tbd"
                  -
                    locale: "it"
                    value: "tbd"
              filters:
                -
                  id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                  name: "Aktionen der Folgewoche"
                  appearances:
                    -
                      from: "2015-06-19"
                      to: "2015-06-22"
                -
                  id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                  name: "Aktionen aktuelle Woche"
                  appearances:
                    -
                      from: "2015-06-23"
                      to: "2015-06-29"
              promotion_type:
                id: "089f8537-981a-42ba-9b0a-b3cba4a1c7d5"
                code: "FLUGBLATT"
                name: "Dennerwoche"
              sort_index: 0
              articles:
                -
                  id: "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6"
                  article_id: "051273"
                  name: "Mandorla Primitivo IGT Puglia"
                  title:
                    -
                      locale: "de"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "fr"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "it"
                      value: "Mandorla Primitivo di Puglia IGT"
                  description:
                    -
                      locale: "de"
                      value: "2013, Apulien, Italien, 6 x 75 cl"
                    -
                      locale: "fr"
                      value: "2013, les Pouilles, Italie, 6 x 75 cl"
                    -
                      locale: "it"
                      value: "2013, Puglia, Italia, 6 x 75 cl"
                  prices:
                    sales: 59.4
                    instead: 68.4
                    base: 1.32
                    by_quantity:
                      -
                        quantity: 1
                        sales: 9.9
                        instead: 11.4
                      -
                        quantity: 6
                        sales: 59.4
                        instead: 68.4
                  price_info:
                    -
                      locale: "de"
                      value: "Konkurrenzvergleich"
                    -
                      locale: "fr"
                      value: "Comparaison concurrentielle"
                    -
                      locale: "it"
                      value: "Confronto con la concorrenza"
                  unit_price_info:
                    -
                      locale: "de"
                      value: "Einzelflasche: 9.90 statt 11.40"
                    -
                      locale: "fr"
                      value: "9.90 la bouteille au lieu de 11.40"
                    -
                      locale: "it"
                      value: "9.90 a bottiglia invece di 11.40"
                  promotion_info:
                    -
                      locale: "de"
                      value: "Aktionspreise für Einzelflaschen nur in der jeweiligen Aktionswoche gültig"
                    -
                      locale: "fr"
                      value: "Les prix promotionnels sur les bouteilles vendues à la pièce ne sont valables que durant la semaine d’action"
                    -
                      locale: "it"
                      value: "I prezzi promozionali delle singole bottiglie sono validi solo nella rispettiva settimana promozionale"
                  dots:
                    -
                      id: "d4bca729-10ad-482c-bdda-b1a1398173b5"
                      type:
                        id: "semi_price_winehit"
                      text:
                        -
                          locale: "de"
                          value: "1/2 Preis\nWeinheit!"
                        -
                          locale: "fr"
                          value: "1/2 prix\nLe top du vin!"
                        -
                          locale: "it"
                          value: "1/2 prezzo\nSuperofferta vino!"
                      images:
                        -
                          locale: "de"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.svg"
                        -
                          locale: "fr"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-fr.svg"
                        -
                          locale: "it"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-it.svg"
                  panel:
                    -
                      locale: "de"
                      value: "9.- sparen"
                    -
                      locale: "fr"
                      value: "9.- éparmié"
                    -
                      locale: "it"
                      value: "9.- risparmiati"
                  quantity: 6
#                  Removed because we cannot calculate a valid size, neither display a standardized unit
#                  content:
#                    size: 75
#                    unit: 170
                  base:
#                    Removed because we cannot calculate a valid size, neither display a standardized unit
#                    size: 10
#                    unit: 170
                    text:
                      -
                        locale: "de"
                        value: "10 cl"
                      -
                        locale: "fr"
                        value: "10 cl"
                      -
                        locale: "it"
                        value: "10 cl"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    short_text:
                      -
                        locale: "de"
                        value: "Gültig von 23.06.–29.06."
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                    long_text:
                      -
                        locale: "de"
                        value: "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                  availability_limitations:
                    region:
                      -
                        locale: "de"
                        value: "Nur in der deutschen und französischen Schweiz erhältlich"
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                    store:
                      -
                        locale: "de"
                        value: "Nur in Filialen mit Frischprodukten erhältlich"
                      -
                        locale: "fr"
                        value: "Disponible(s) uniquement dans les succursales aves des produits frais"
                      -
                        locale: "it"
                        value: "..."
                  sort_index: 0
                  featured_sort_index: 10
                  featured: true
                  promoted: true
                  compared: true
                  cooling: 0
                  online_group:
                    id: "671988cc-ca5f-484e-8db8-23a65ea0044a"
                    code: 4003
                    disabled: false
                    allow_featuring: true
                    allow_promotion: true
                    allow_background: true
                    title:
                      -
                        locale: "de"
                        value: "Wein"
                      -
                        locale: "fr"
                        value: "Vins"
                      -
                        locale: "it"
                        value: "Vini"
                    parent:
                      id: "5b79391b-b436-45f9-b3e4-93ec3ae1fae2"
                      code: 4001
                      disabled: false
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Tafelgetränke und Mineralwasser"
                        -
                          locale: "fr"
                          value: "Boissons table et eau minérale"
                        -
                          locale: "it"
                          value: "Bevande da tavola e acque minerali"
                  article_group:
                    id: "0c309757-5432-4652-8201-ec35f31c5260"
                    code: "60-56"
                    name: "Italien Rot 70 cl"
                    parent:
                      id: "3f3df00f-6a7e-49a9-8eca-a36727ca4977"
                      code: "60"
                      name: "Weine"
                  eco_labels:
                    -
                      id: "66d94617-bbd7-477e-ae66-183deb67ba5b"
                      code: "bio"
                      name: "Bio"
                  packshot:
                    id: "2059e18a-9e93-452e-9eef-f9d7605a31ad"
                    url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    cdn_url: "https://denner.imgix.net/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    quantity: 6
                    created_on: "2016-03-01 16:22:00"
                  wine:
                    country:
                      id: "IT"
                      title:
                        -
                          locale: "de"
                          value: "Italien"
                        -
                          locale: "fr"
                          value: "Italie"
                        -
                          locale: "it"
                          value: "Italia"
                    region:
                      id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                      title:
                        -
                          locale: "de"
                          value: "Apulien"
                        -
                          locale: "fr"
                          value: "Les Pouilles"
                        -
                          locale: "it"
                          value: "Puglia"
                    type:
                      id: 2
                      title:
                        -
                          locale: "de"
                          value: "Rotwein"
                        -
                          locale: "fr"
                          value: "Vin rouge"
                        -
                          locale: "it"
                          value: "Vino rosso"
                    year: 2013
                    fits_with:
                      -
                        locale: "de"
                        value: "Pasta, Fleisch mit würzigen Saucen"
                      -
                        locale: "fr"
                        value: "Pâtes, viande aux sauces relevées"
                      -
                        locale: "it"
                        value: "Pasta, carni accompagnate da salse aromatiche"
                    varietal:
                      -
                        locale: "de"
                        value: "Primitivo"
                      -
                        locale: "fr"
                        value: "Primitivo"
                      -
                        locale: "it"
                        value: "Primitivo"
                    character:
                      -
                        locale: "de"
                        value: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      -
                        locale: "fr"
                        value: "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      -
                        locale: "it"
                        value: "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    temperature:
                      -
                        locale: "de"
                        value: "16-18 °C"
                      -
                        locale: "fr"
                        value: "16-18 °C"
                      -
                        locale: "it"
                        value: "16-18 °C"
                    awards:
                      -
                        locale: "de"
                        value: ""
                      -
                        locale: "fr"
                        value: ""
                      -
                        locale: "it"
                        value: ""
                    storage:
                      -
                        locale: "de"
                        value: "3 Jahre"
                      -
                        locale: "fr"
                        value: "3 ans"
                      -
                        locale: "it"
                        value: "3 anni"
                    rating:
                      value: 4.45
                      total: 11
                      valid: true
                    stock:
                      value: -15
                      code: 2
                      message:
                        -
                          locale: "de"
                          value: "Derzeit nicht bestellbar"
                        -
                          locale: "fr"
                          value: "Actuellement pas disponible"
                        -
                          locale: "it"
                          value: "Attualmente non disponibile"
                    shop_url: null

  /online-filters:
    get:
      summary: List all online filters
      description: >
        Use this operation to get a list of all online filters
        (Angebotsfilter; e.g. "Aktionen aktuelle Woche" or "Aktionen der Folgewoche").
      tags:
        - advertising
      operationId: listOnlineFilters
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 2
              total_items: 2
              online_filters:
                -
                  id: "3734ef1f-4c1a-428c-af24-7d85af7c5041"
                  name: "Aktionen der Folgewoche"
                  title:
                    -
                      locale: "de"
                      value: "Aktionen der Folgewoche"
                    -
                      locale: "fr"
                      value: "Hits de la semaine suivante"
                    -
                      locale: "it"
                      value: "Promozioni della settimana seguente"
                  sort_index: 0
                -
                  id: "f5064fb7-c5d5-467e-9bdb-e5c4ed4dea6c"
                  name: "Aktionen aktuelle Woche"
                  title:
                    -
                      locale: "de"
                      value: "Aktionen aktuelle Woche"
                    -
                      locale: "fr"
                      value: "Hits de la semaine en cours"
                    -
                      locale: "it"
                      value: "Promozioni della settimana corrente"
                  sort_index: 1

  /online-groups:
    get:
      summary: List all online groups
      description: >
        Use this operation to get a list of all online groups (Internet-Sortimente).
      tags:
        - advertising
      operationId: listOnlineGroups
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineGroupsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              online_groups:
                -
                  id: "7627150d-36bd-4867-89b2-091800a03d24"
                  code: 1001
                  sort_index: 0
                  allow_featuring: true
                  allow_promotion: true
                  allow_background: true
                  title:
                    -
                      locale: "de"
                      value: "Frischprodukte"
                    -
                      locale: "fr"
                      value: "Produits frais"
                    -
                      locale: "it"
                      value: "Prodotti freschi"
                  children:
                    -
                      id: "58afec5c-ece9-4b66-bc55-00d6dc1b65b8"
                      code: 1001
                      sort_index: 0
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Milchprodukte"
                        -
                          locale: "fr"
                          value: "Produits laitiers"
                        -
                          locale: "it"
                          value: "Latticini"
                      children: []
                    -
                      id: "e5216167-9da5-41d6-b7b3-96362b60de89"
                      code: 1002
                      sort_index: 1
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Eier"
                        -
                          locale: "fr"
                          value: "Oeufs"
                        -
                          locale: "it"
                          value: "Uova"
                      children: []

  ### Screen Advertising
  /screen-publications:
    get:
      summary: List all screen publications
      description: >
        Use this operation to get a list of all publications targeted at advertising screens (Screen-Werbemittel).
      tags:
        - advertising
      operationId: listScreenPublications
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/ScreenPublicationsResponse'
          examples:
            application/json:

              page_count: 1
              page_size: 1
              total_items: 1
              screen_publications:
                -
                  id: "f410c33f-844f-43ca-ab2c-4dccf6905f7e"
                  name: "Wochenaktionen KW 26/2015 für Werbescreens"
                  year: 2015
                  week: 26
                  title:
                    -
                      locale: "de"
                      value: "Wochenaktionen"
                    -
                      locale: "fr"
                      value: "Hits de la semaine"
                    -
                      locale: "it"
                      value: "Promozioni della settimana"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    text:
                      -
                        locale: "de"
                        value: "23.06.2015 bis 29.06.2015, solange Vorrat"
                      -
                        locale: "fr"
                        value: "tbd"
                      -
                        locale: "it"
                        value: "tbd"

  /screen-publications/{publication_id}:
    get:
      summary: Get single screen publication (includes all advertised articles)
      description: >
        Use this operation to get a single publication targeted at advertising screens (Screen-Werbemittel).
        The response will include the articles assigned to this publication.
      tags:
        - advertising
      operationId: getScreenPublication
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/ScreenPublicationWithArticles'
          examples:
            application/json:

              id: "f410c33f-844f-43ca-ab2c-4dccf6905f7e"
              name: "Wochenaktionen KW 26/2015 für Werbescreens"
              year: 2015
              week: 26
              title:
                -
                  locale: "de"
                  value: "Wochenaktionen"
                -
                  locale: "fr"
                  value: "Hits de la semaine"
                -
                  locale: "it"
                  value: "Promozioni della settimana"
              validity:
                from: "2015-06-23"
                to: "2015-06-29"
                text:
                  -
                    locale: "de"
                    value: "23.06.2015 bis 29.06.2015, solange Vorrat"
                  -
                    locale: "fr"
                    value: "tbd"
                  -
                    locale: "it"
                    value: "tbd"
              articles:
                -
                  id: "b2d29de4-dcd5-4f3a-8e1a-811e42573f5f"
                  article_id: "051273"
                  name: "Mandorla Primitivo IGT Puglia"
                  title:
                    -
                      locale: "de"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "fr"
                      value: "Mandorla Primitivo di Puglia IGT"
                    -
                      locale: "it"
                      value: "Mandorla Primitivo di Puglia IGT"
                  description:
                    -
                      locale: "de"
                      value: "2013, Apulien, Italien, 6 x 75 cl"
                    -
                      locale: "fr"
                      value: "2013, les Pouilles, Italie, 6 x 75 cl"
                    -
                      locale: "it"
                      value: "2013, Puglia, Italia, 6 x 75 cl"
                  prices:
                    sales: 59.4
                    instead: 68.4
                    base: 1.32
                    by_quantity:
                      -
                        quantity: 1
                        sales: 9.9
                        instead: 11.4
                      -
                        quantity: 6
                        sales: 59.4
                        instead: 68.4
                  price_info:
                    -
                      locale: "de"
                      value: "Konkurrenzvergleich"
                    -
                      locale: "fr"
                      value: "Comparaison concurrentielle"
                    -
                      locale: "it"
                      value: "Confronto con la concorrenza"
                  unit_price_info:
                    -
                      locale: "de"
                      value: "Einzelflasche: 9.90 statt 11.40"
                    -
                      locale: "fr"
                      value: "9.90 la bouteille au lieu de 11.40"
                    -
                      locale: "it"
                      value: "9.90 a bottiglia invece di 11.40"
                  dots:
                    -
                      id: "d4bca729-10ad-482c-bdda-b1a1398173b5"
                      type:
                        id: "semi_price_winehit"
                      text:
                        -
                          locale: "de"
                          value: "1/2 Preis\nWeinheit!"
                        -
                          locale: "fr"
                          value: "1/2 prix\nLe top du vin!"
                        -
                          locale: "it"
                          value: "1/2 prezzo\nSuperofferta vino!"
                      images:
                        -
                          locale: "de"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.svg"
                            -
                              type: "image/png"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-de.png"
                        -
                          locale: "fr"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-fr.svg"
                            -
                              type: "image/png"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-fr.png"
                        -
                          locale: "it"
                          formats:
                            -
                              type: "image/svg+xml"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-it.svg"
                            -
                              type: "image/png"
                              url: "https://s3-eu-west-1.amazonaws.com/denner-assets/dots/d4bca729-10ad-482c-bdda-b1a1398173b5/051273-it.png"
                  panel:
                    -
                      locale: "de"
                      value: "9.- sparen"
                    -
                      locale: "fr"
                      value: "9.- éparmié"
                    -
                      locale: "it"
                      value: "9.- risparmiati"
                  quantity: 6
#                  Removed because we cannot calculate a valid size, neither display a standardized unit
#                  content:
#                    size: 75
#                    unit: 170
                  base:
#                    Removed because we cannot calculate a valid size, neither display a standardized unit
#                    size: 10
#                    unit: 170
                    text:
                      -
                        locale: "de"
                        value: "10 cl"
                      -
                        locale: "fr"
                        value: "10 cl"
                      -
                        locale: "it"
                        value: "10 cl"
                  validity:
                    from: "2015-06-23"
                    to: "2015-06-29"
                    short_text:
                      -
                        locale: "de"
                        value: "Gültig von 23.06.–29.06."
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                    long_text:
                      -
                        locale: "de"
                        value: "Angebot gültig von 23.06.2015 bis 29.06.2015"
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                  availability_limitations:
                    region:
                      -
                        locale: "de"
                        value: "Nur in der deutschen und französischen Schweiz erhältlich"
                      -
                        locale: "fr"
                        value: "..."
                      -
                        locale: "it"
                        value: "..."
                    store:
                      -
                        locale: "de"
                        value: "Nur in Filialen mit Frischprodukten erhältlich"
                      -
                        locale: "fr"
                        value: "Disponible(s) uniquement dans les succursales aves des produits frais"
                      -
                        locale: "it"
                        value: "..."
                  sort_index: 0
                  compared: true
                  cooling: 0
                  online_group:
                    id: "671988cc-ca5f-484e-8db8-23a65ea0044a"
                    code: 4003
                    disabled: false
                    allow_featuring: true
                    allow_promotion: true
                    allow_background: true
                    title:
                      -
                        locale: "de"
                        value: "Wein"
                      -
                        locale: "fr"
                        value: "Vins"
                      -
                        locale: "it"
                        value: "Vini"
                    parent:
                      id: "5b79391b-b436-45f9-b3e4-93ec3ae1fae2"
                      code: 4001
                      disabled: false
                      allow_featuring: true
                      allow_promotion: true
                      allow_background: true
                      title:
                        -
                          locale: "de"
                          value: "Tafelgetränke und Mineralwasser"
                        -
                          locale: "fr"
                          value: "Boissons table et eau minérale"
                        -
                          locale: "it"
                          value: "Bevande da tavola e acque minerali"
                  article_group:
                    id: "0c309757-5432-4652-8201-ec35f31c5260"
                    code: "60-56"
                    name: "Italien Rot 70 cl"
                    parent:
                      id: "3f3df00f-6a7e-49a9-8eca-a36727ca4977"
                      code: "60"
                      name: "Weine"
                  packshot:
                    id: "2059e18a-9e93-452e-9eef-f9d7605a31ad"
                    url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    cdn_url: "https://denner.imgix.net/assets/2059e18a-9e93-452e-9eef-f9d7605a31ad/022617.png"
                    quantity: 6
                    created_on: "2016-03-01 16:22:00"
                  wine:
                    country:
                      id: "IT"
                      title:
                        -
                          locale: "de"
                          value: "Italien"
                        -
                          locale: "fr"
                          value: "Italie"
                        -
                          locale: "it"
                          value: "Italia"
                    region:
                      id: "b19c42bf-ed78-46ff-ad6f-fc688a059e6a"
                      title:
                        -
                          locale: "de"
                          value: "Apulien"
                        -
                          locale: "fr"
                          value: "Les Pouilles"
                        -
                          locale: "it"
                          value: "Puglia"
                    type:
                      id: 2
                      title:
                        -
                          locale: "de"
                          value: "Rotwein"
                        -
                          locale: "fr"
                          value: "Vin rouge"
                        -
                          locale: "it"
                          value: "Vino rosso"
                    year: 2013
                    fits_with:
                      -
                        locale: "de"
                        value: "Pasta, Fleisch mit würzigen Saucen"
                      -
                        locale: "fr"
                        value: "Pâtes, viande aux sauces relevées"
                      -
                        locale: "it"
                        value: "Pasta, carni accompagnate da salse aromatiche"
                    varietal:
                      -
                        locale: "de"
                        value: "Primitivo"
                      -
                        locale: "fr"
                        value: "Primitivo"
                      -
                        locale: "it"
                        value: "Primitivo"
                    character:
                      -
                        locale: "de"
                        value: "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                      -
                        locale: "fr"
                        value: "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                      -
                        locale: "it"
                        value: "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    temperature:
                      -
                        locale: "de"
                        value: "16-18 °C"
                      -
                        locale: "fr"
                        value: "16-18 °C"
                      -
                        locale: "it"
                        value: "16-18 °C"
                    awards:
                      -
                        locale: "de"
                        value: ""
                      -
                        locale: "fr"
                        value: ""
                      -
                        locale: "it"
                        value: ""
                    storage:
                      -
                        locale: "de"
                        value: "3 Jahre"
                      -
                        locale: "fr"
                        value: "3 ans"
                      -
                        locale: "it"
                        value: "3 anni"
                    rating:
                      value: 4.45
                      total: 11
                      valid: true
                    stock:
                      value: -15
                      code: 2
                      message:
                        -
                          locale: "de"
                          value: "Derzeit nicht bestellbar"
                        -
                          locale: "fr"
                          value: "Actuellement pas disponible"
                        -
                          locale: "it"
                          value: "Attualmente non disponibile"
                    shop_url: null
  # Appraisals
  /appraisals:
    get:
      summary: List wine appraisals
      description: >
        Use this operation to get a list of all wine appraisals (Weinbewertungen).
      tags:
        - appraisals
      operationId: listAppraisals
      security:
        - appKey: []
#        - appId: []
      parameters:
        - name: f.email
          description: >
            Filter by email, e.g. "f.email=__in_john.doe@gmx.com,hans.muster@gmail.com" will return all appraisals which have been created by john.doe@gmx.com or hans.muster@gmail.com.
          in: query
          type: string
        - name: f.created_on
          description: >
            Filter by creation date, e.g. "f.created_on=2016-04-07T09:01:34Z" will return all appraisals which have been created on 2016-04-07 at 09:01:34 UTC.
          in: query
          type: string
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
        - $ref: '#/parameters/SortParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/AppraisalsResponse'
          examples:
            application/json:

              appraisals:
                -
                  id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
                  created_on: "2015-10-20T14:37:56+0200"
                  wine_year: 2013
                  title: "Ein Primitivo passt immer."
                  description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
                  original_title: "Ein Primitivo passt immer."
                  original_description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
                  response: "Eine Antwort von Denner"
                  rating: 4
                  firstname: "Michelle"
                  lastname: "Muster"
                  address: "Bahnhofstrasse 7"
                  zip_code: "8034"
                  city: "Zurich"
                  email: "email@gmx.ch"
                  gender: "female"
                  shop_user_id: 123456789
                  language: "de"
                  article:
                    id: "050202"
                  marked: true
                  processed: false
                  approved: false
                  approved_image: false
                  source: "web"
                  image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/bef741d6-e734-41b0-ac06-3d3fe3f4fc0e/090072.png"
                  type: "wine_selfie"
                  edited_by: "Hans Muster"
                  edited_on: "2016-01-22T11:00:45"
              total_appraisals: 1

  /appraisals/{appraisal_id}:
    get:
      summary: Get single appraisal
      description: >
        Use this operation to get a single appraisal.
      tags:
        - appraisals
      operationId: getAppraisal
      security:
        - appKey: []
#        - appId: []
      parameters:
        - $ref: '#/parameters/AppraisalIdPathParam'
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/Appraisal'
          examples:
            application/json:

              id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
              created_on: "2015-10-20T14:37:56+0200"
              wine_year: 2013
              title: "Ein Primitivo passt immer."
              description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
              original_title: "Ein Primitivo passt immer."
              original_description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
              response: "Eine Antwort von Denner"
              rating: 4
              firstname: "Michelle"
              lastname: "Muster"
              address: "Bahnhofstrasse 7"
              zip_code: "8034"
              city: "Zurich"
              email: "email@gmx.ch"
              gender: "female"
              shop_user_id: 123456789
              language: "de"
              article:
                id: "050202"
              marked: true
              processed: false
              approved: false
              approved_image: false
              source: "web"
              image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/bef741d6-e734-41b0-ac06-3d3fe3f4fc0e/090072.png"
              type: "wine_selfie"
              edited_by: "Hans Muster"
              edited_on: "2016-01-22T11:00:45"

#    patch:
#      summary: Update an appraisal
#      description: >
#        Use this operation to create a new appraisal (Bewertung) for a specific wine.
#      tags:
#        - appraisals
#      operationId: updateAppraisal
#      parameters:
#        - $ref: '#/parameters/AcceptHeader'
#        - $ref: '#/parameters/ContentTypeHeader'
##        - $ref: '#/parameters/AcceptLanguageHeader'
#        - $ref: '#/parameters/AppraisalIdPathParam'
#        - name: appraisal
#          description: >
#            Data for the appraisal
#          in: body
#          schema:
#            $ref: '#/definitions/UpdateAppraisal'
#          required: true
#      responses:
#        200:
#          description: Successful object
#          schema:
#            $ref: '#/definitions/Appraisal'
#          examples:
#            application/json:
#
#              id: "a8c82c69-e975-4d3b-b0ba-aae6ed961cd7"
#              created_on: "2015-10-20T14:37:56+0200"
#              wine_year: 2013
#              title: "Ein Primitivo passt immer."
#              description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
#              original_title: "Ein Primitivo passt immer."
#              original_description: "preis leistung genuss-was will der kenner mehr...sensationell im dennerangebot."
#              response: "Eine Antwort von Denner"
#              rating: 4
#              firstname: "Michelle"
#              lastname: "Muster"
#              address: "Bahnhofstrasse 7"
#              zip_code: "8034"
#              city: "Zurich"
#              email: "email@gmx.ch"
#              gender: "female"
#              shop_user_id: 123456789
#              language: "de"
#              article:
#                id: "050202"
#              marked: true
#              processed: false
#              approved: false
#              approved_image: false
#              source: "web"
#              image_url: "https://denner-assets.s3-eu-west-1.amazonaws.com/assets/bef741d6-e734-41b0-ac06-3d3fe3f4fc0e/090072.png"
#              type: "wine_selfie"
#              edited_by: "Hans Muster"
#              edited_on: "2016-01-22T11:00:45"

  /appraisal-statistic/{date}:
    get:
      summary: Get appraisal statistics
      description: >
        Use this operation to get day and overall appraisal statistics.
      tags:
        - appraisals
      operationId: getAppraisalStatistic
      security:
        - appKey: []
#        - appId: []
      parameters:
        - $ref: '#/parameters/DatePathParam'
      responses:
        200:
          description: Successful object
          schema:
            $ref: '#/definitions/AppraisalStatisticResponse'
          examples:
            application/json:

              day: "2015-10-20"
              on_day:
                total: 4
                processed: 0
                not_processed: 4
                approved: 0
                not_approved: 4
                unique: 3
                sweepstake_total: 0
                sweepstake_unique: 0
                rating:
                  -
                    value: 1
                    count: 0
                  -
                    value: 2
                    count: 0
                  -
                    value: 3
                    count: 2
                  -
                    value: 4
                    count: 1
                  -
                    value: 5
                    count: 1
              overall:
                total: 38530
                processed: 38530
                not_processed: 0
                approved: 31334
                not_approved: 7196
                unique: 11406
                sweepstake_total: 0
                sweepstake_unique: 0
                rating:
                  -
                    value: 1
                    count: 464
                  -
                    value: 2
                    count: 685
                  -
                    value: 3
                    count: 3514
                  -
                    value: 4
                    count: 14066
                  -
                    value: 5
                    count: 12605

  /sweepstake-participants:
    get:
      summary: List sweepstake participants
      description: >
        Use this operation to get a list of all sweepstake participants (Bewerbunsteilnehmer) within a given time frame.
      tags:
        - appraisals
      operationId: listSweepstakeParticipants
      security:
        - appKey: []
#        - appId: []
      parameters:
        - name: f.email
          description: >
            Filter by email, e.g. "f.email=__in_john.doe@gmx.com,hans.muster@gmail.com" will return all sweepstake participants matching email addresses by john.doe@gmx.com or hans.muster@gmail.com.
          in: query
          type: string
        - name: f.created_on
          description: >
            Filter by creation date, e.g. "f.created_on=2016-04-07T09:01:34Z" will return all sweepstake participants which have been created on 2016-04-07 at 09:01:34 UTC.
          in: query
          type: string
        - name: f.created_from
          description: >
            Filter by creation date greater (and equal) than, e.g. "f.created_from=2016-04-07" will return all sweepstake participants which have been created later or on the 2016-04-07.
          in: query
          type: string
        - name: f.created_to
          description: >
            Filter by creation date lower (and equal) than, e.g. "f.created_to=2016-04-07" will return all sweepstake participants which have been created before or on the 2016-04-07.
          in: query
          type: string
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
        - $ref: '#/parameters/SortParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/SweepstakeParticipantsResponse'
          examples:
            application/json:

              participants:
                -
                  id: "47a4891c-9e11-4c22-b1ea-e9c9801a1f24"
                  created_on: "2016-04-07T09:01:34+00:00"
                  display_name: "Ivan M."
                  firstname: "Ivan"
                  lastname: "Muster"
                  address: "Bahnhofstrasse 7"
                  zip_code: "8034"
                  city: "Zurich"
                  email: "email@gmx.ch"
                  gender: "female"
                  shop_user_id: 123456789
                  language: "de"
              total_participants: 1

parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: -1 (no limit)
    in: query
    type: integer
    required: false
    format: int32
    default: -1
  SortParam:
    name: sort
    description: >
      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
    in: query
    type: string
    required: false
  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    required: true
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
  AppraisalIdPathParam:
    name: appraisal_id
    description: The unique identifier of an appraisal
    in: path
    type: string
    required: true
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
  DatePathParam:
    name: date
    description: The unique identifier of a date; Format YYYY-MM-DD'
    in: path
    type: string
    required: true
    pattern: '/^[0-9]{4}\-[0-9]{2}\-[0-9]{2}$/'
  FilterParam:
    name: filter
    in: query
    type: string
    required: false
    description: |
      Filters: JSON array of Filter object, urlencoded.

      Filter object:
      - property: Property to filter on.
      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
      - value: Value. Must be of the defined type.

      Examples:
      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  CountryFlag:
    type: object
    description: Country flag
    properties:
      image_url:
        $ref: '#/definitions/Url'

  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/Translations'
      flag:
        $ref: '#/definitions/CountryFlag'
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 0 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Week:
    type: integer
    format: int32
    minimum: 1
    maximum: 53
    description: Week number (ISO 8601, week date system)

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 0
    description: Quantity

  ContentSize:
    type: number
    format: float
    minimum: 0
    description: Content size

#  Removed because we cannot calculate a valid size, neither display a standardized unit
#  ContentUnit:
#    # @todo Define an pattern or standard reference (e.g. ISO 80000-3)?
#    type: integer
#    format: int32
#    description: Content unit code from navision

  Cooling:
    type: number
    format: int32
    minimum: 0
    description: Cooling type (0 = no cooling, 1 = refrigerated, 2 = frozen)

  Appearance:
    type: object
    properties:
      from:
        type: string
        format: date
      to:
        type: string
        format: date

  Validity:
    type: object
    description: Generic validity based on dates (from/to) and a corresponding text
    properties:
      from:
        $ref: '#/definitions/Date'
      to:
        $ref: '#/definitions/Date'
      text:
        $ref: '#/definitions/Translations'

  ArticleValidity:
      type: object
      description: Article validity based on dates (from/to) and corresponding texts (short and long version)
      properties:
        from:
          $ref: '#/definitions/Date'
        to:
          $ref: '#/definitions/Date'
        short_text:
          $ref: '#/definitions/Translations'
        long_text:
          $ref: '#/definitions/Translations'

  AvailabilityLimitations:
    type: object
    description: Texts for information about limited availability
    properties:
      region:
        $ref: '#/definitions/Translations'
      store:
        $ref: '#/definitions/Translations'

  Phone:
    type: string
#    pattern: @todo Fixed pattern?
    description: Formatted phone number

  SortIndex:
    type: integer
    format: int32
    minimum: 0
    description: Index for sorting

  ### Store
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      canton_code:
        type: string
        description: Canton (state) code
      country:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      phone:
        $ref: '#/definitions/Phone'
      hotline:
        $ref: '#/definitions/Phone'
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      open_from:
        type: string
        format: date
        description: Opening on
      open_to:
        type: string
        format: date
        description: Closing on
      renovation_from:
        type: string
        format: date
        description: Renovation starting on
      renovation_to:
        type: string
        format: date
        description: Renovation ending on
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        type: string
        description: Language spoken in the store
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: E-mail address
      homepage:
        $ref: '#/definitions/Url'
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/StoreChannel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      services:
        type: array
        items:
          $ref: '#/definitions/AssignedStoreService'
        description: Services provided by the store

  ScreenStore:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times

  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'
      reason:
        $ref: '#/definitions/Translations'
      closed:
        type: boolean
        description: Is the store closed on this day?

  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  ### Store Channel
  StoreChannel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision channel code
      name:
        type: string
        description: Channel name
      title:
        $ref: '#/definitions/Translations'

  ### Store Service
  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        description: Navision service code
      name:
        type: string
        description: Service name
      title:
        $ref: '#/definitions/Translations'

  AssignedStoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        description: Navision service code
      name:
        type: string
        description: Service name
      title:
        $ref: '#/definitions/Translations'
      appearances:
        $ref: '#/definitions/Appearances'

  ### Article group
  ArticleGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        pattern: '/^\d{2}(-\d{2,3})?$/'
        description: Navision article group code (e.g. '01', '20', '01-60', '38-998')
      name:
        type: string
        description: Article group name
      children:
        $ref: '#/definitions/ArticleGroups'

  AssignedArticleGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        pattern: '/^\d{2}(-\d{2,3})?$/'
        description: Navision article group code (e.g. '01', '20', '01-60', '38-998')
      name:
        type: string
        description: Article group name
      parent:
        $ref: '#/definitions/AssignedArticleGroup'

  ### Eco label
  EcoLabel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: string
        description: Navision identification code
      name:
        type: string
        description: German name for the eco label

  ### Purchasing department
  PurchasingDepartment:
    type: string
    pattern: '/^[A-Z]{1,2}$/'
    description: Denner purchasing depatment code (e.g. 'BC', 'DD', 'F', 'FG', 'FR', 'G', 'NF', 'TW', 'W')

  ### Article
  Article:
    type: object
    properties:
      id:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      name:
[...]
