swagger: '2.0'
info:
  description: RESTful API for the Denner Portal 2.0
  version: 0.1.0
  title: Denner Portal 2.0
  contact:
    name: Denner Portal 2.0 API Support
    email: support+denner-api@detailnet.ch
host: denner-portal.detailnet.ch
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /online-filters:
    get:
      description: 'List all online filters ("Angebotsfilter")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'
#  /online-publications:
#    get:
#      description: 'List all online publications ("Online-Werbemittel")'
  /online-publications/{publication_id}/articles:
    get:
      description: 'List all (advertised) articles of the online publication ("beworbene Artikel im Online-Werbemittel")'
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationArticlesResponse'
#  /online-groups:
#    get:
#      description: 'List all online groups ("Internet-Sortimente")'
#  /article-groups:
#    get:
#      description: 'List all article groups ("Warengruppen")'
  /stores:
    get:
      description: 'List all stores ("Filialen")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'

parameters:
  PageParam:
    name: page
    description: The page number
    in: query
    type: integer
    format: int32
  PageSizeParam:
    name: page_size
    description: The page size
    in: query
    type: integer
    format: int32
  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
definitions:

  ### Responses
  OnlineFiltersResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      online_filters:
        $ref: '#/definitions/OnlineFilters'
  OnlineFilters:
    type: array
    items:
      $ref: '#/definitions/OnlineFilter'

  StoresResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'

  ### Common models
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Language:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Language

  TranslatedField:              # Can't be used if a specific description is needed
    type: array
    items:
      $ref: '#/definitions/Translation'
  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Language'
      value:
        type: string
        description: Translated text value

  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/TranslatedField'
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'
  DayOfWeek:
    type: integer
    format: int32
    minimum: 0   # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6   # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  ### Main models

  ## OnlineFilter models
  OnlineFilter:
      type: object
      properties:
        id:
          $ref: '#/definitions/UUIDv4'
        name:
          type: string
        title:
          type: array
          items:
            $ref: '#/definitions/Translation'
          description: Title of the filter (as displayed below "Angebotsfilter" on denner.ch)

  ## Store models
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      canton_code:
        type: string
        description: Canton (state) code
      country:
        $ref: '#/definitions/Country'
      phone:
        type: string
#        pattern: @todo Fixed pattern?
        description: Phone number
      hotline:
        type: string
#        pattern: @todo Fixed pattern?
        description: Hotline number
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      opened_on:
        type: string
        format: date
        description: Opened on
      closed_on:
        type: string
        format: date
        description: Closed on
      renovation_from:
        type: string
        format: date
        description: Renovation from
      renovation_to:
        type: string
        format: date
        description: Renovation to
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        $ref: '#/definitions/Language'
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: E-mail address
      homepage:
        type: string
#        pattern: @todo Fixed pattern?
        description: Website
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/Channel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      services:
        type: array
        items:
          $ref: '#/definitions/StoreService' # StoreService diffears from Service
        description: Services provided
  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/TranslatedField'
      appearances:
        type: array
        items:
          $ref: '#/definitions/Appearance'
  Appearance:
    type: object
    properties:
      from:
        type: string
        format: date
      to:
        type: string
        format: date
  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'
  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'
      reason:
        $ref: '#/definitions/TranslatedField'
      closed:
        type: boolean
        description: Is closed whole day?
  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'

  ## Channel model
  Channel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision channel code
      title:
        $ref: '#/definitions/TranslatedField'

  ## Service model
  Service:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/TranslatedField'


  ## Other models to refactor
  OnlinePublicationArticlesResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      articles:
        $ref: '#/definitions/AdvertisedArticles'
  AdvertisedArticles:
    type: array
    items:
      $ref: '#/definitions/AdvertisedArticle'
  AdvertisedArticle:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      code:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      name:
        type: string
        description: Article name
      texts:
        $ref: '#/definitions/ArticleTexts'
      prices:
        $ref: '#/definitions/Prices'
      prices_by_quantity:
        $ref: '#/definitions/QuantityPrices'
  ArticleTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/ArticleText'
      fr:
        $ref: '#/definitions/ArticleText'
      it:
        $ref: '#/definitions/ArticleText'
  ArticleText:
    type: object
    properties:
      title:
        type: string
        description: Localized article title
      description:
        type: string
        description: Localized article description
      saving:
        type: string
        description: Localized article saving text
      base:
        type: string
        description: Localized article base content text
      info:
        type: string
        description: Localized article info text
      validity:
        type: string
        description: Localized article validity text
  Prices:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price
      base:
        type: number
        format: float
        minimum: 0
        description: Price for base amount
  QuantityPrices:
    type: object
    properties:
      '{amount}':
        $ref: '#/definitions/QuantityPrice'
  QuantityPrice:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price
