swagger: '2.0'
info:
  description: RESTful API for the Denner Portal 2.0
  version: 0.1.0
  title: Denner Portal 2.0
  contact:
    name: Denner Portal 2.0 API Support
    email: support+denner-api@detailnet.ch
host: denner-portal.detailnet.ch
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /online-filters:
    get:
      description: 'List all online filters ("Angebotsfilter")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'
#  /online-categories:
#    get:
#      description: 'List all online categories ("Werbemittel")'
#  /online-categories/(categoryId)/articles:
#    get:
#      description: 'List all articles of the online category'
#  /article-categories:
#    get:
#      description: 'List all article categories ("Internet-Sortimente")'
#  /article-groups:
#    get:
#      description: 'List all article groups ("Warengruppen")'
  /stores:
    get:
      description: 'List all stores ("Filialen")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'

parameters:
  PageParam:
    name: page
    description: The page number
    in: query
    type: integer
    format: int32
  PageSizeParam:
    name: page_size
    description: The page size
    in: query
    type: integer
    format: int32
definitions:
  OnlineFiltersResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      online_filters:
        $ref: '#/definitions/OnlineFilters'
  OnlineFilterText:
    type: object
    properties:
      title:
        type: string
        description: 'Title of the filter (as displayed below "Angebotsfilter")'
  OnlineFilter:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      texts:
        type: object
        additionalProperties:
          $ref: '#/definitions/OnlineFilterText'
  OnlineFilters:
    type: array
    items:
      $ref: '#/definitions/OnlineFilter'
  StoresResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'
  Store:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      navision_id:
        type: string
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      country_code:
        type: string
        description: Country code
      canton_code:
        type: string
        description: Canton (state) code
      phone:
        type: string
        description: Phone number
      hotline:
        type: string
        description: Hotline number
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      opened_on:
        type: string
        format: date
        description: Opened on
      closed_on:
        type: string
        format: date
        description: Closed on
      renovation_from:
        type: string
        format: date
        description: Renovation from
      renovation_to:
        type: string
        format: date
        description: Renovation to
      latitude:
        type: number
        format: float
        description: Geographic latitude
      longitude:
        type: number
        format: float
        description: Geographic longitude
      language:
        type: string
        description: Language
        pattern: '/^(de|fr|it)$/'
      email:
        type: string
        description: E-mail address
      homepage:
        type: string
        description: Website
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      services:
        type: array
        items:
          $ref: '#/definitions/Service'
        description: Services provided
      channel:
        type: object
        properties:
          id:
            type: string
            description: Unique identifier
          labels:
            type: object
            properties:
              de:
                name:
                  type: string
                  description: Localized channel name
              fr:
                name:
                  type: string
                  description: Localized channel name
              it:
                name:
                  type: string
                  description: Localized channel name
  PaymentType:
    type: string
    description: Payment type
  Service:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      labels:
        $ref: '#/definitions/ServiceLabels'
    description: Angebot
  ServiceLabels:
    type: object
    properties:
      de:
        $ref: '#/definitions/ServiceLabel'
      fr:
        $ref: '#/definitions/ServiceLabel'
      it:
        $ref: '#/definitions/ServiceLabel'
  ServiceLabel:
    type: object
    properties:
      name:
        type: string
        description: Localized name of service
  OpeningTime:
    type: object
    properties:
      weekday:
        type: integer
        format: int32
        description: Day of week; 0 = Sunday
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      valid_from:
        type: string
        format: date-time
        description: 'Valid from; Format date-time of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
  SpecialOpeningTime:
    type: object
    properties:
      day:
         type: string
         format: date
         description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      is_closed_whole_day:
        type: boolean
  CalendarOpeningTime:
    type: object
    properties:
      day:
        type: string
        format: date
        description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
