swagger: '2.0'
info:
  description: RESTful API for Denner's open data
  version: 1.0.0
  title: Denner Public Web Service
  contact:
    name: DETAIL NET
    email: support+denner-public-api@detailnet.ch
# In Swagger definition is not possible to define multiple servers/hosts/basepth (ref https://swagger.io/docs/specification/2-0/api-host-and-base-path/)
#on migration to OpenApi standard, define servers:
#servers:
#  - url: https://denner-public-api.detailnet.ch/{apiGatewayPath}
#    description: ApiGateway
#    variables:
#      apiGatewayPath
#        enum:
#          - test
#          - v1
#        default: test,
#        description: ApiGateway path
#  - url: https://denner-public-api-v1.detailnet.ch
#    description: CloudFront distribution for V1 (cache 1h)
host: denner-public-api-v1.detailnet.ch
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Articles/Promotions
  /online-articles:
    get:
      summary: List all online articles
      description: |
        Use this operation to get a list of all articles currently in promotion and advertised in the online channels.
      tags:
        - promotion
      operationId: listOnlineArticles
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
#        - $ref: '#/parameters/PageParam'
#        - $ref: '#/parameters/PageSizeParam'
#        - $ref: '#/parameters/FilterParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/PublicOnlineArticlesResponse'
          examples:
            application/json:

              online_articles:
              - id: dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6
                article_id: '051273'
                title:
                - locale: de
                  value: Mandorla Primitivo di Puglia IGT
                - locale: fr
                  value: Mandorla Primitivo di Puglia IGT
                - locale: it
                  value: Mandorla Primitivo di Puglia IGT
                description:
                - locale: de
                  value: 2013, Apulien, Italien, 6 x 75 cl
                - locale: fr
                  value: 2013, les Pouilles, Italie, 6 x 75 cl
                - locale: it
                  value: 2013, Puglia, Italia, 6 x 75 cl
                prices:
                  sales: 59.4
                  instead: 68.4
                  base: 1.32
                  by_quantity:
                  - quantity: 1
                    sales: 9.9
                    instead: 11.4
                  - quantity: 6
                    sales: 59.4
                    instead: 68.4
                price_info:
                - locale: de
                  value: Konkurrenzvergleich
                - locale: fr
                  value: Comparaison concurrentielle
                - locale: it
                  value: Confronto con la concorrenza
                quantity: 6
                validity:
                  from: '2015-06-23'
                  to: '2015-06-29'
                  short_text:
                  - locale: de
                    value: Gültig von 23.06.–29.06.
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                  long_text:
                  - locale: de
                    value: Angebot gültig von 23.06.2015 bis 29.06.2015
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                availability_limitations:
                  region:
                  - locale: de
                    value: Nur in der deutschen und französischen Schweiz erhältlich
                  - locale: fr
                    value: "..."
                  - locale: it
                    value: "..."
                  store:
                  - locale: de
                    value: Nur in Filialen mit Frischprodukten erhältlich
                  - locale: fr
                    value: Disponible(s) uniquement dans les succursales aves des produits frais
                  - locale: it
                    value: "..."
                compared: true
                online_group:
                  id: a2664d3a-93b4-4277-9e6e-c95ad8b6c6ee
                  code: 2-9
                  title:
                  - locale: de
                    value: Wein/Champagner
                  - locale: fr
                    value: Vins/champagnes
                  - locale: it
                    value: Vino/champagne
                  parent:
                    id: 8fd653c3-a86b-4529-bbb5-58d06919d484
                    code: 2
                    title:
                    - locale: de
                      value: Getränke
                    - locale: fr
                      value: Boissons
                    - locale: it
                      value: Bevande
                packshot:
                  id: 5983a33d-ac61-49a8-a836-43259e78e9d0
                  cdn_url: https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png
                wine:
                  country:
                    id: IT
                    title:
                    - locale: de
                      value: Italien
                    - locale: fr
                      value: Italie
                    - locale: it
                      value: Italia
                  region:
                    id: b19c42bf-ed78-46ff-ad6f-fc688a059e6a
                    title:
                    - locale: de
                      value: Apulien
                    - locale: fr
                      value: Les Pouilles
                    - locale: it
                      value: Puglia
                  type:
                    id: 2
                    title:
                    - locale: de
                      value: Rotwein
                    - locale: fr
                      value: Vin rouge
                    - locale: it
                      value: Vino rosso
                  year: 2013
                  fits_with:
                  - locale: de
                    value: Pasta, Fleisch mit würzigen Saucen
                  - locale: fr
                    value: Pâtes, viande aux sauces relevées
                  - locale: it
                    value: Pasta, carni accompagnate da salse aromatiche
                  varietal:
                  - locale: de
                    value: Primitivo
                  - locale: fr
                    value: Primitivo
                  - locale: it
                    value: Primitivo
                  character:
                  - locale: de
                    value: Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen
                      und Brombeeren. Geschmeidig im Gaumen.
                  - locale: fr
                    value: Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres.
                      Bouche moelleuse.
                  - locale: it
                    value: Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more.
                      Morbido al palato.
                  temperature:
                  - locale: de
                    value: 16-18 °C
                  - locale: fr
                    value: 16-18 °C
                  - locale: it
                    value: 16-18 °C
                  awards:
                  - locale: de
                    value: ''
                  - locale: fr
                    value: ''
                  - locale: it
                    value: ''
                  storage:
                  - locale: de
                    value: 3 Jahre
                  - locale: fr
                    value: 3 ans
                  - locale: it
                    value: 3 anni

#  /online-groups:
#      get:
#        summary: List all online groups
#        description: >
#          Use this operation to get a list of all online groups (Internet-Sortimente).
#        tags:
#          - online
#        operationId: listOnlineGroups
#        security:
#          - appKey: []
#          - appId: []
#        parameters:
#          - $ref: '#/parameters/PageParam'
#          - $ref: '#/parameters/PageSizeParam'
#        responses:
#          200:
#            description: Successful listing
#            schema:
#              $ref: '#/definitions/OnlineGroupsResponse'
#            examples:
#              application/json:
#
#                page_count: 1
#                page_size: 1
#                total_items: 1
#                online_groups:
#                  -
#                    id: "7627150d-36bd-4867-89b2-091800a03d24"
#                    code: 1001
#                    sort_index: 0
#                    allow_featuring: true
#                    allow_promotion: true
#                    allow_background: true
#                    title:
#                      -
#                        locale: "de"
#                        value: "Frischprodukte"
#                      -
#                        locale: "fr"
#                        value: "Produits frais"
#                      -
#                        locale: "it"
#                        value: "Prodotti freschi"
#                    children:
#                      -
#                        id: "58afec5c-ece9-4b66-bc55-00d6dc1b65b8"
#                        code: 1001
#                        sort_index: 0
#                        allow_featuring: true
#                        allow_promotion: true
#                        allow_background: true
#                        title:
#                          -
#                            locale: "de"
#                            value: "Milchprodukte"
#                          -
#                            locale: "fr"
#                            value: "Produits laitiers"
#                          -
#                            locale: "it"
#                            value: "Latticini"
#                        children: []
#                      -
#                        id: "e5216167-9da5-41d6-b7b3-96362b60de89"
#                        code: 1002
#                        sort_index: 1
#                        allow_featuring: true
#                        allow_promotion: true
#                        allow_background: true
#                        title:
#                          -
#                            locale: "de"
#                            value: "Eier"
#                          -
#                            locale: "fr"
#                            value: "Oeufs"
#                          -
#                            locale: "it"
#                            value: "Uova"
#                        children: []

#parameters:
#  PageParam:
#    name: page
#    description: >
#      The page number.
#      Default: 1
#    in: query
#    type: integer
#    required: false
#    format: int32
#    minimum: 0
#    default: 1
#  PageSizeParam:
#    name: page_size
#    description: >
#      The page size.
#      Default: -1 (no limit)
#    in: query
#    type: integer
#    required: false
#    format: int32
#    default: -1
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
#  FilterParam:
#    name: filter
#    in: query
#    type: string
#    required: false
#    description: |
#      Filters: JSON array of Filter object, urlencoded.
#
#      Filter object:
#      - property: Property to filter on.
#      - operator: Operation property. Enumeration ('eq', 'like', 'lt', 'gt', 'in', ...). Dependent from property (not all might be allowed).
#      - type: Type of value. Enumeration ('string', 'integer', 'boolean', 'array') Dependent from property and operator (not all might be allowed).
#      - value: Value. Must be of the defined type.
#
#      Examples:
#      - [{"property":"id","operator":"in","type":"array","value":["7627150d-36bd-4867-89b2-091800a03d24","58afec5c-ece9-4b66-bc55-00d6dc1b65b8"]}]
#      - [{"property":"in_shop","operator":"eq","type":"boolean","value":true}]

  ### Store
  /stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - store
      operationId: listStores
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/AcceptHeader'
        - $ref: '#/parameters/AcceptLanguageHeader'
#        - name: f.open
#          description: >
#            Filter by opening, e.g. "f.open=__in_now,20:00" will return all stores which are open right now or today at 8:00 pm.
#          in: query
#          type: string
#        - name: f.services
#          description: >
#            Filter by services, e.g. "f.services=__in_d4d34d84-b32b-46fb-b45f-2bde4b72be81" will return all stores which have at least one of the given services.
#          in: query
#          type: string
#        - name: f.channel
#          description: >
#            Filter by channels, e.g. "f.channel=__in_18549f95-6471-4e21-968f-8a0bf2e0f79b" will return all stores which have one of the given channels.
#          in: query
#          type: string
#        - $ref: '#/parameters/SortParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'
          examples:
            application/json:

#              page_count: 1
#              page_size: 1
              total_stores: 794
              stores:
                -
                  id: "bcb8a388-8998-4d08-85a6-4864199704ee"
                  code: 302
                  name: null
                  address: "Werdstrasse"
                  number: "36"
                  zip_code: 8004
                  canton_code: "ZH"
                  city: "Zürich"
                  country_code: "CH"
                  phone: "044 240 22 83"
                  hotline: "0848 99 66 33"
                  payment_types:
                    - "cash"
                    - "euro"
                    - "maestro"
                    - "post"
                  credit_card: true
                  open_from: "1998-08-01"
                  open_to: null
                  renovation_from: "2015-06-25"
                  renovation_to: "2015-06-26"
                  latitude: 47.3728447
                  longitude: 8.5295153
                  language: "de"
                  email: "info@denner.ch"
                  homepage: "http://www.denner.ch"
                  parking_count: 0
                  channel:
                    id: "5d1c3dd5-35a9-4c66-ab20-3409ea640334"
                    title: "Denner"
                  opening_times:
                    -
                      weekday: 1
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 2
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 3
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 4
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 5
                      open_from: "08:00"
                      open_to: "20:00"
                    -
                      weekday: 6
                      open_from: "08:00"
                      open_to: "12:00"
                    -
                      weekday: 6
                      open_from: "14:00"
                      open_to: "20:00"
                  special_opening_times:
                    -
                      day: "2015-06-25"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-26"
                      reason: "Umbau"
                      closed: true
                    -
                      day: "2015-06-28"
                      open_from: "10:00"
                      open_to: "16:00"
                      reason: "Sonntagsverkauf"
                      closed: false
                  services:
                    -
                      id: "acb911fb-b7e3-480f-ab91-1109e750892a"
                      title: "Humidor"
                    -
                      id: "d7b4925e-79f8-415f-9436-0adb4a9cc4de"
                      title: "Früchte und Gemüse"
                    -
                      id: "57d0301a-fd5d-4dce-ab0d-75dee1d16631"
                      title: "Backstation"

  ### Production
  /base-posters:
    post:
      summary: Create base poster
      description: >
        Crate an A4 base poster (for pre-printed paper) from article.
      tags:
        - production
      operationId: createBasePoster
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - appKey: []
      parameters:
        - $ref: '#/parameters/BasePosterInput'
      responses:
        201:
          description: Successful creation
          schema:
            $ref: '#/definitions/PdfFile'
          examples:
            application/json:
              url: "https://denner-assets-test.s3.eu-west-1.amazonaws.com/regio-publisher/e4654297-35f7-46bd-9525-11d9e5af7a22/Sunrise-Cabernet-Sauvignon-Concha-y-Toro.pdf"
        400:
          description: 400 Bad Request
        500:
          description: 500 Internal Server Error

parameters:
  PageParam:
    name: page
    description: >
      The page number.
      Default: 1
    in: query
    type: integer
    required: false
    format: int32
    minimum: 0
    default: 1
  PageSizeParam:
    name: page_size
    description: >
      The page size.
      Default: 10

      To disable pagination (when supported) send "-1".
    in: query
    type: integer
    required: false
    format: int32
    default: 10
#  SortParam:
#    name: sort
#    description: >
#      Sort the results, e.g. "sort=name__desc" will sort by name (Z to A)
#    in: query
#    type: string
#    required: false
  AcceptHeader:
    name: Accept
    in: header
    type: string
    required: false
    default: application/json
    description: >
      Accepted content type (supported is "application/json")
  AcceptLanguageHeader:
    name: Accept-Language
    in: header
    type: string
#    pattern: '/^(de|fr|it)$/'
    required: false
    default: de
    description: >
      Accepted locale (supported are "de", "fr", and "it")
  BasePosterInput:
    name: BasePosterInput
    in: body
    required: true
    schema:
      required:
        - article_id
      type: object
      properties:
        article_id:
          type: string
          description: The unique identifier of an article
          pattern: '/^[0-9]{6}$/'
        locale:
          type: string
          description: Locale/language (supported are "de", "fr" and "it")
          default: de
        quantity:
          type: integer
          description: Quantity for prices and texts
          format: int32
          minimum: 1
          default: 1
        wine_year:
          type: integer
          description: Wine year for texts
          format: int32
          minimum: 1900
        valid_on:
          type: string
          description: Valid on (e.g. "2018-02-16") for prices

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Url:
    type: string
    description: Web URL address
#    pattern: @todo Fixed pattern?

  Phone:
    type: string
#    pattern: @todo Fixed pattern?
    description: Formatted phone number

  PublicCountry:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/Translations'
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 0 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  Year:
    type: integer
    format: int32
    minimum: 1800
    description: Year

  Price:
    type: number
    format: float
    minimum: 0
    description: Price in CHF

  Quantity:
    type: integer
    format: int32
    minimum: 0
    description: Quantity

  ArticleValidity:
      type: object
      description: Article validity based on dates (from/to) and corresponding texts (short and long version)
      properties:
        from:
          $ref: '#/definitions/Date'
        to:
          $ref: '#/definitions/Date'
        short_text:
          $ref: '#/definitions/Translations'
        long_text:
          $ref: '#/definitions/Translations'

  AvailabilityLimitations:
    type: object
    description: Texts for information about limited availability
    properties:
      region:
        $ref: '#/definitions/Translations'
      store:
        $ref: '#/definitions/Translations'

  PdfFile:
    description: Source of the PDF document
    type: object
    properties:
      url:
        $ref: '#/definitions/Url'


#  SortIndex:
#    type: integer
#    format: int32
#    minimum: 0
#    description: Index for sorting

  ### Article
  PublicArticlePrices:
    type: object
    properties:
      sales:
        $ref: '#/definitions/Price'
#      list:
#        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
      base:
        $ref: '#/definitions/Price'
#      final:
#        type: boolean
#        description: Is the price final?
      by_quantity:
        $ref: '#/definitions/PublicQuantityPrices'

  PublicQuantityPrices:
    type: array
    items:
      $ref: '#/definitions/PublicQuantityPrice'

  PublicQuantityPrice:
    type: object
    properties:
      quantity:
        $ref: '#/definitions/Quantity'
      sales:
        $ref: '#/definitions/Price'
#      list:
#        $ref: '#/definitions/Price'
      instead:
        $ref: '#/definitions/Price'
#      final:
#        type: boolean
#        description: Is the price final?

  PublicPackshot:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      cdn_url:
        $ref: '#/definitions/Url'

  PublicArticleWine:
    type: object
    properties:
      country:
        $ref: '#/definitions/PublicCountry'
      region:
        $ref: '#/definitions/Region'
      type:
        $ref: '#/definitions/WineType'
      year:
        $ref: '#/definitions/Year'
      fits_with:
        $ref: '#/definitions/Translations'
      varietal:
        $ref: '#/definitions/Translations'
      character:
        $ref: '#/definitions/Translations'
      temperature:
        $ref: '#/definitions/Translations'
      awards:
        $ref: '#/definitions/Translations'
      storage:
        $ref: '#/definitions/Translations'

  Region:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/Translations'

  WineType:
    type: object
    properties:
      id:
        type: integer
        format: int32
        minimum: 0
        description: Denner wine type code
      title:
        $ref: '#/definitions/Translations'

  PublicOnlineArticle:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      article_id:
        type: string
        pattern: '/^\d{6}$/'
        description: Denner article code
      title:
        $ref: '#/definitions/Translations'
      description:
        $ref: '#/definitions/Translations'
      prices:
        $ref: '#/definitions/PublicArticlePrices'
      price_info:
        $ref: '#/definitions/Translations'
      quantity:
        $ref: '#/definitions/Quantity'
      validity:
        $ref: '#/definitions/ArticleValidity'
      availability_limitations:
        $ref: '#/definitions/AvailabilityLimitations'
      compared:
        type: boolean
        description: Is the article's price compared to an offer from an other company?
      online_group:
        $ref: '#/definitions/PublicAssignedOnlineGroup'
      packshot:
        $ref: '#/definitions/PublicPackshot'
      wine:
        $ref: '#/definitions/PublicArticleWine'

  ### Online group
#  OnlineGroup:
#    type: object
#    properties:
#      id:
#        $ref: '#/definitions/UUIDv4'
#      code:
#        type: integer
#        format: int32
#        description: Navision online group code
#      sort_index:
#        $ref: '#/definitions/SortIndex'
#      allow_featuring:
#        type: boolean
#        description: Does the group allow the assigned articles to be featured (i.e. displayed on front/main/home page)?
#      allow_promotion:
#        type: boolean
#        description: Does the group allow the assigned articles to be promoted (i.e. displayed on a promotional page)?
#      allow_background:
#        type: boolean
#        description: Does the group allow the assigned articles to be displayed with a background (i.e. displayed on a page with a deceptive/trivializing background)?
#      title:
#        $ref: '#/definitions/Translations'
#      children:
#        $ref: '#/definitions/OnlineGroups'

  PublicAssignedOnlineGroup:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Denner online group code
      title:
        $ref: '#/definitions/Translations'
      parent:
        $ref: '#/definitions/PublicAssignedOnlineGroup'

### Store
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      canton_code:
        type: string
        description: Canton (state) code
      city:
        type: string
        description: City
      country_code:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      phone:
        $ref: '#/definitions/Phone'
      hotline:
        $ref: '#/definitions/Phone'
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      open_from:
        type: string
        format: date
        description: Opening on
      open_to:
        type: string
        format: date
        description: Closing on
      renovation_from:
        type: string
        format: date
        description: Renovation starting on
      renovation_to:
        type: string
        format: date
        description: Renovation ending on
## V2
#      flyers:
#        type: array
#        items:
#          $ref: '#/definitions/StoreFlyer'
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        type: string
        description: Language spoken in the store
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: Email address
      homepage:
        $ref: '#/definitions/Url'
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/StoreChannel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
## V2
#      weekly_opening_days:
#        type: array
#        minItems: 7
#        maxItems: 7
#        items:
#          $ref: '#/definitions/WeeklyOpeningDay'
#        description: Weekly opening days, exact opening plan for the week. Items are sorted for correct display.
      services:
        type: array
        items:
          $ref: '#/definitions/StoreService'
        description: Services provided by the store

  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'
      reason:
        type: string
        description: Reason for the special opening as displayed to users (localized)
      closed:
        type: boolean
        description: Is the store closed on this day?

  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      open_from:
        $ref: '#/definitions/Time'
      open_to:
        $ref: '#/definitions/Time'

## V2
#  WeeklyOpeningDay:
#    type: object
#    properties:
#      day:
#        $ref: '#/definitions/Date'
#      weekday:
#        $ref: '#/definitions/DayOfWeek'
#      statements:
#        type: array
#        minItems: 1
#        items:
#          $ref: '#/definitions/DayOpeningStatement'
#        description: Statements for the current day. Items are sorted for correct display.
#
#  DayOpeningStatement:
#    type: object
#    properties:
#      open_from:
#        $ref: '#/definitions/Time'
#      open_to:
#        $ref: '#/definitions/Time'
#      text_override:
#        type: string
#        description: Closure text, instead of open form/to (localized)
#      superseded:
#        type: boolean
#        description: Is the statement striked out?
#      change_info:
#        type: string
#        description: Tooltip info, the reason for the change (localized)

  ### Store Channel
  StoreChannel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Channel title

  ### Store service
  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        type: string
        description: Service title

#  ### Store Flyer V2
#  StoreFlyer:
#    type: object
#    properties:
#      id:
#        $ref: '#/definitions/UUIDv4'
#      expired:
#        type: boolean
#        description: Is the flyer expired?
#      url:
#        $ref: '#/definitions/Url'
#      sort_index:
#        type: integer
#        format: int32
#        minimum: 0
#        description: Display order of store flyer


  ### Collections
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'

  Translations:
    type: array
    items:
      $ref: '#/definitions/Translation'

  PublicOnlineArticles:
    type: array
    items:
      $ref: '#/definitions/PublicOnlineArticle'

#  OnlineGroups:
#    type: array
#    items:
#      $ref: '#/definitions/OnlineGroup'

  ### Responses
  PublicOnlineArticlesResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_items:
#        description: The number of items on all pages
#        type: integer
#        format: int32
      online_articles:
        $ref: '#/definitions/PublicOnlineArticles'

#  OnlineGroupsResponse:
#    type: object
#    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
#      total_items:
#        description: The number of items on all pages
#        type: integer
#        format: int32
#      online_groups:
#        $ref: '#/definitions/OnlineGroups'

  StoresResponse:
    type: object
    properties:
#      page_count:
#        description: The number of pages
#        type: integer
#        format: int32
#      page_size:
#        description: The page size
#        type: integer
#        format: int32
      total_stores:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'
