swagger: '2.0'
info:
  description: RESTful API for the Denner Portal 2.0
  version: 0.1.0
  title: Denner Portal 2.0
  contact:
    name: Denner Portal 2.0 API Support
    email: support+denner-api@detailnet.ch
host: denner-portal.detailnet.ch
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /online-filters:
    get:
      description: 'List all online filters ("Angebotsfilter")'
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/PageSizeParam"
      responses:
        200:
          description: Successful listing
          schema:
            $ref: "#/definitions/OnlineFiltersResponse"
#  /online-categories:
#    get:
#      description: 'List all online categories ("Werbemittel")'
#  /online-categories/(categoryId)/articles:
#    get:
#      description: 'List all articles of the online category'
#  /article-categories:
#    get:
#      description: 'List all article categories ("Internet-Sortimente")'
#  /article-groups:
#    get:
#      description: 'List all article groups ("Warengruppen")'
  /stores:
    get:
      description: 'List all stores ("Filialen")'
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/PageSizeParam"
      responses:
        200:
          description: Successful listing
          schema:
            $ref: "#/definitions/StoresResponse"

parameters:
  PageParam:
    name: page
    description: The page number
    in: query
    type: integer
    format: int32
  PageSizeParam:
    name: page_size
    description: The page size
    in: query
    type: integer
    format: int32
definitions:
  OnlineFiltersResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      online_filters:
        $ref: "#/definitions/OnlineFilters"
  OnlineFilterText:
    type: object
    properties:
      title:
        type: string
        description: 'Title of the filter (as displayed below "Angebotsfilter")'
  OnlineFilter:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      texts:
        type: object
        additionalProperties:
          $ref: "#/definitions/OnlineFilterText"
  OnlineFilters:
    type: array
    items:
      $ref: "#/definitions/OnlineFilter"
  StoresResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: "#/definitions/Stores"
  Stores:
    type: array
    items:
      $ref: "#/definitions/Store"
  Store:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      name:
        type: string
        description: Name
      address:
        type: string
        description: Adresse
      number:
        type: string
        description: Nummer
      zip_code:
        type: string
        description: PLZ
      city:
        type: string
        description: Stadt
      country_code:
        type: string
        description: Ländercode
      canton_code:
        type: string
        description: Kantonscode
      phone:
        type: string
        description: Telefon
      hotline:
        type: string
        description: Hotline
      payment_types:
        type: array
        items:
          $ref: "#/definitions/PaymentType"
        description: Bezahlmethoden
      has_credit_card:
        type: boolean
        description: Kreditkarte
      opened_on:
        type: string
        format: date
        description: Eröffnung
      closed_on:
        type: string
        format: date
        description: Schliessung
      renovation_from:
        type: string
        format: date
        description: Umbau von
      renovation_to:
        type: string
        format: date
        description: Umbau bis
      latitude:
        type: number
        format: float
        description: Längengrad
      longitude:
        type: number
        format: float
        description: Breitengrad
      language:
        type: string
        pattern: "/^(de|fr|it)$/"
        description: Sprache
        # Could use type enum
      email:
        type: string
#        pattern: "/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
        description: E-Mail-Adresse
      homepage:
        type: string
        description: Webseite
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Anzahl Parkplätze
      opening_times:
        type: array
        items:
          $ref: "#/definitions/OpeningTime"
        description: Standardöffnungszeiten
      special_opening_times:
        type: array
        items:
          $ref: "#/definitions/SpecialOpeningTime"
        description: Sonderöffnungszeiten
      calendar_opening_times:
        type: array
        items:
          $ref: "#/definitions/CalendarOpeningTime"
        description: Kalendarische Öffnungszeiten
      services:
        type: array
        items:
          $ref: "#/definitions/Service"
        description: Angebote
      channel_name:
        type: string
        description: Kanal
  PaymentType:
    type: string
    pattern: "/^(cash|euro|maestro|post)$/"
    description: Bezahlmethode
  Service:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier
      labels:
        $ref: "#/definitions/ServiceLabels"
    description: Angebot
  ServiceLabels:
    type: object
    properties:
      de:
        $ref: "#/definitions/ServiceLabel"
      fr:
        $ref: "#/definitions/ServiceLabel"
      it:
        $ref: "#/definitions/ServiceLabel"
  ServiceLabel:
    type: object
    properties:
      name:
        type: string
        description: Lokalisiertes name des Service
  OpeningTime:
    type: object
    properties:
      weekday:
        type: integer
        format: int32
        minLength: 0
        maxLength: 6
        description: Day of week; 0 = Sunday
      opens_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Öffnungszeit; Format HH:MM:SS
      closes_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Scliessungszeit; Format HH:MM:SS
      valid_from:
        type: string
        format: date-time
        description: Gültig ab; Format date-time von RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)
  SpecialOpeningTime:
    type: object
    properties:
      weekday:
        type: integer
        format: int32
        minLength: 0
        maxLength: 6
        description: Day of week; 0 = Sunday
      opens_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Öffnungszeit; Format HH:MM:SS
      closes_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Scliessungszeit; Format HH:MM:SS
      valid_from:
        type: string
        format: date-time
        description: Gültig ab; Format date-time von RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      is_closed_whole_day:
        type: boolean
  CalendarOpeningTime:
    type: object
    properties:
      day:
        type: string
        format: date
        description: Datum; Format full-date von RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      opens_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Öffnungszeit; Format HH:MM:SS
      closes_at:
        type: string
        pattern: "/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/"
        description: Scliessungszeit; Format HH:MM:SS
