swagger: '2.0'
info:
  description: RESTful API for the Denner Portal 2.0
  version: 0.1.0
  title: Denner Portal 2.0
  contact:
    name: Denner Portal 2.0 API Support
    email: support+denner-api@detailnet.ch
host: denner-portal.detailnet.ch
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  ### Stores
  /stores:
    get:
      description: 'List all stores ("Filialen")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'

  ### Articles/Promotions
#  /article-groups:
#    get:
#      description: 'List all article groups ("Warengruppen")'

  ### Online Publications
#  /online-publications:
#    get:
#      description: 'List all online publications ("Online-Werbemittel")'

  /online-publications/{publication_id}/articles:
    get:
      description: 'List all (advertised) articles of the online publication ("beworbene Artikel im Online-Werbemittel")'
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationArticlesResponse'

  /online-filters:
    get:
      description: 'List all online filters ("Angebotsfilter")'
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'

#  /online-groups:
#    get:
#      description: 'List all online groups ("Internet-Sortimente")'

parameters:
  PageParam:
    name: page
    description: The page number
    in: query
    type: integer
    format: int32
  PageSizeParam:
    name: page_size
    description: The page size
    in: query
    type: integer
    format: int32
  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
definitions:
  OnlineFiltersResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      online_filters:
        $ref: '#/definitions/OnlineFilters'
  OnlineFilterText:
    type: object
    properties:
      title:
        type: string
        description: 'Title of the filter (as displayed below "Angebotsfilter" on denner.ch)'
  OnlineFilter:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      texts:
        type: object
        additionalProperties:
          $ref: '#/definitions/OnlineFilterText'
  OnlineFilters:
    type: array
    items:
      $ref: '#/definitions/OnlineFilter'
  StoresResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'
  Store:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      country:
        $ref: '#/definitions/Country'
      canton_code:
        type: string
        description: Canton (state) code
      phone:
        type: string
        description: Phone number
      hotline:
        type: string
        description: Hotline number
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      opened_on:
        type: string
        format: date
        description: Opened on
      closed_on:
        type: string
        format: date
        description: Closed on
      renovation_from:
        type: string
        format: date
        description: Renovation from
      renovation_to:
        type: string
        format: date
        description: Renovation to
      latitude:
        type: number
        format: float
        description: Geographic latitude
      longitude:
        type: number
        format: float
        description: Geographic longitude
      language:
        type: string
        description: Language
        pattern: '/^(de|fr|it)$/'
      email:
        type: string
        description: E-mail address
      homepage:
        type: string
        description: Website
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      services:
        type: array
        items:
          $ref: '#/definitions/Service'
        description: Services provided
      channel:
        $ref: '#/definitions/Channel'
  PaymentType:
    type: string
    description: Payment type
  Service:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      texts:
        $ref: '#/definitions/ServiceTexts'
    description: Angebot
  ServiceTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/ServiceText'
      fr:
        $ref: '#/definitions/ServiceText'
      it:
        $ref: '#/definitions/ServiceText'
  ServiceText:
    type: object
    properties:
      title:
        type: string
        description: Localized name of service
  OpeningTime:
    type: object
    properties:
      weekday:
        type: integer
        format: int32
        description: Day of week; 0 = Sunday
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      valid_from:
        type: string
        format: date-time
        description: 'Valid from; Format date-time of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
  SpecialOpeningTime:
    type: object
    properties:
      day:
         type: string
         format: date
         description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      is_closed_whole_day:
        type: boolean
  CalendarOpeningTime:
    type: object
    properties:
      day:
        type: string
        format: date
        description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'
      opens_at:
        type: string
        description: 'Opening time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
      closes_at:
        type: string
        description: 'Closing time; Format HH:MM:SS'
        pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
  Channel:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      texts:
        $ref: '#/definitions/ChannelTexts'
  ChannelTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/ChannelText'
      fr:
        $ref: '#/definitions/ChannelText'
      it:
        $ref: '#/definitions/ChannelText'
  ChannelText:
    type: object
    properties:
      title:
        type: string
        description: Localized name of channel
  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      texts:
        $ref: '#/definitions/CountryTexts'
    description: Country
  CountryTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/CountryText'
      fr:
        $ref: '#/definitions/CountryText'
      it:
        $ref: '#/definitions/CountryText'
  CountryText:
    type: object
    properties:
      title:
        type: string
        description: Localized name of country
  OnlinePublicationArticlesResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      articles:
        $ref: '#/definitions/AdvertisedArticles'
  AdvertisedArticles:
    type: array
    items:
      $ref: '#/definitions/AdvertisedArticle'
  AdvertisedArticle:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      code:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      name:
        type: string
        description: Article name
      texts:
        $ref: '#/definitions/ArticleTexts'
      prices:
        $ref: '#/definitions/Prices'
      prices_by_quantity:
        $ref: '#/definitions/QuantityPrices'
  ArticleTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/ArticleText'
      fr:
        $ref: '#/definitions/ArticleText'
      it:
        $ref: '#/definitions/ArticleText'
  ArticleText:
    type: object
    properties:
      title:
        type: string
        description: Localized article title
      description:
        type: string
        description: Localized article description
      saving:
        type: string
        description: Localized article saving text
      base:
        type: string
        description: Localized article base content text
      info:
        type: string
        description: Localized article info text
      validity:
        type: string
        description: Localized article validity text
  Prices:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price
      base:
        type: number
        format: float
        minimum: 0
        description: Price for base amount
  QuantityPrices:
    type: object
    properties:
      '{amount}':
        $ref: '#/definitions/QuantityPrice'
  QuantityPrice:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price
