swagger: '2.0'
info:
  description: RESTful API for the Denner Portal
  version: 0.1.0
  title: Denner Portal 2.0
  contact:
    name: DETAIL NET
    email: support+denner-api@detailnet.ch
host: denner-portal.detailnet.ch
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  appKey:
    type: apiKey
    description: Application identifier
    name: App-ID
    in: header
  appId:
    type: apiKey
    description: Application key
    name: App-Key
    in: header
paths:
  ### Stores
  /stores:
    get:
      summary: List all stores
      description: >
        Use this operation to get a list of all stores (Filialen).
      tags:
        - Stores – Filialdaten
      operationId: listStores
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/StoresResponse'

  /store-channels:
    get:
      summary: List all store channels
      description: >
        Use this operation to get a list of all store channels
        (Filialkanäle; e.g. "Denner" or "Denner Satellit").
      tags:
        - Stores – Filialdaten
      operationId: listStoreChannels
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DummyResponse'

  /store-services:
    get:
      summary: List all store services
      description: >
        Use this operation to get a list of all store services
        (Filialangebote; e.g. "Humidor" or "Backstation").
      tags:
        - Stores – Filialdaten
      operationId: listStoreServices
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DummyResponse'

  ### Articles/Promotions
  /article-groups:
    get:
      summary: List all article groups
      description: >
        Use this operation to get a list of all article groups (Warengruppen).
      tags:
        - Articles and Promotions – Artikel und Aktionen
      operationId: listArticleGroups
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DummyResponse'

  ### Online Advertising
  /online-publications:
    get:
      summary: List all online publications
      description: >
        Use this operation to get a list of all publications targeted at online channels,
        e.g. denner.ch or the Mobile App (Online-Werbemittel).
      tags:
        - Online Advertising – Online-Bewerbung
      operationId: listOnlinePublications
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/DummyResponse'

  /online-publications/{publication_id}/articles:
    get:
      summary: List all (advertised) articles of a single online publication
      description: >
        Use this operation to get a list of all (advertised) articles of the online publication
        (beworbene Artikel im Online-Werbemittel).
      tags:
        - Online Advertising – Online-Bewerbung
      operationId: listOnlinePublicationArticles
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PublicationIdPathParam'
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlinePublicationArticlesResponse'

  /online-filters:
    get:
      summary: List all online filters
      description: >
        Use this operation to get a list of all online filters
        (Angebotsfilter; e.g. "Aktionen aktuelle Woche" or "Aktionen der Folgewoche").
      tags:
        - Online Advertising – Online-Bewerbung
      operationId: listOnlineFilters
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'

  /online-filters:
    get:
      summary: List all online groups
      description: >
        Use this operation to get a list of all online groups (Internet-Sortimente).
      tags:
        - Online Advertising – Online-Bewerbung
      operationId: listOnlineGroups
      security:
        - appKey: []
        - appId: []
      parameters:
        - $ref: '#/parameters/PageParam'
        - $ref: '#/parameters/PageSizeParam'
      responses:
        200:
          description: Successful listing
          schema:
            $ref: '#/definitions/OnlineFiltersResponse'

parameters:
  PageParam:
    name: page
    description: The page number
    in: query
    type: integer
    format: int32
  PageSizeParam:
    name: page_size
    description: The page size
    in: query
    type: integer
    format: int32
  PublicationIdPathParam:
    name: publication_id
    description: The unique identifier of an online publication
    in: path
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'

definitions:
  ### Common
  UUIDv4:
    type: string
    pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
    description: Unique identifier

  Locale:
    type: string
    pattern: '/^(de|fr|it)$/'
    description: Locale

  Translations:
    type: array
    items:
      $ref: '#/definitions/Translation'

  Translation:
    type: object
    properties:
      locale:
        $ref: '#/definitions/Locale'
      value:
        type: string
        description: Translated text value

  Country:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[A-Z]{2}$/'
        description: Country code definition from ISO 3166
      title:
        $ref: '#/definitions/Translations'
    description: Country

  Date:
    type: string
    format: date
    description: 'Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)'

  Time:
    type: string
    pattern: '/^([0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$/'
    description: 'Time; Format HH:MM:SS'

  DayOfWeek:
    type: integer
    format: int32
    minimum: 0 # According to swagger definition should use minLength for integer type, but does not works correctly
    maximum: 6 # According to swagger definition should use maxLength for integer type, but does not works correctly
    description: Day of week; 0 = Sunday

  Appearance:
    type: object
    properties:
      from:
        type: string
        format: date
      to:
        type: string
        format: date

  ### OnlineFilter
  OnlineFilter:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      name:
        type: string
      title:
        $ref: '#/definitions/Translations'

  ### Store
  Store:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision store code
      name:
        type: string
        description: Name
      address:
        type: string
        description: Street
      number:
        type: string
        description: Street number
      zip_code:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9699
        description: Zip code
      city:
        type: string
        description: City
      canton_code:
        type: string
        description: Canton (state) code
      country:
        $ref: '#/definitions/Country'
      phone:
        type: string
#        pattern: @todo Fixed pattern?
        description: Phone number
      hotline:
        type: string
#        pattern: @todo Fixed pattern?
        description: Hotline number
      payment_types:
        type: array
        description: Payment types
        items:
          $ref: '#/definitions/PaymentType'
      credit_card:
        type: boolean
        description: Credit card can be used for payments?
      opened_on:
        type: string
        format: date
        description: Opened on
      closed_on:
        type: string
        format: date
        description: Closed on
      renovation_from:
        type: string
        format: date
        description: Renovation from
      renovation_to:
        type: string
        format: date
        description: Renovation to
      longitude:
        type: number
        format: float
        description: Geographic longitude
      latitude:
        type: number
        format: float
        description: Geographic latitude
      language:
        type: string
        description: Language spoken in the store
      email:
        type: string
#        pattern: @todo Fixed pattern?
        description: E-mail address
      homepage:
        type: string
#        pattern: @todo Fixed pattern?
        description: Website
      parking_count:
        type: integer
        format: int32
        minimum: 0
        description: Reserved parking places for customers
      channel:
        $ref: '#/definitions/StoreChannel'
      opening_times:
        type: array
        description: Default opening times
        items:
          $ref: '#/definitions/OpeningTime'
      special_opening_times:
        type: array
        items:
          $ref: '#/definitions/SpecialOpeningTime'
        description: Special opening times
      calendar_opening_times:
        type: array
        items:
          $ref: '#/definitions/CalendarOpeningTime'
        description: Calendar opening times
      services:
        type: array
        items:
          $ref: '#/definitions/StoreService'
        description: Services provided by the store

  PaymentType:
    type: string
    pattern: '/^(cash|euro|maestro|post")$/' # @todo Needed?
    description: Payment type

  StoreService:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/Translations'
      appearances:
        type: array
        items:
          $ref: '#/definitions/Appearance'

  OpeningTime:
    type: object
    properties:
      weekday:
        $ref: '#/definitions/DayOfWeek'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'

  SpecialOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'
      reason:
        $ref: '#/definitions/Translations'
      closed:
        type: boolean
        description: Is the store closed on this day?

  CalendarOpeningTime:
    type: object
    properties:
      day:
        $ref: '#/definitions/Date'
      opens_at:
        $ref: '#/definitions/Time'
      closes_at:
        $ref: '#/definitions/Time'

  ### Store Channel
  StoreChannel:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      code:
        type: integer
        format: int32
        description: Navision channel code
      title:
        $ref: '#/definitions/Translations'

  ### Store Service
  Service:
    type: object
    properties:
      id:
        $ref: '#/definitions/UUIDv4'
      title:
        $ref: '#/definitions/Translations'

  ### Advertised article
  AdvertisedArticle:
    type: object
    properties:
      id:
        type: string
        pattern: '/^[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}$/'
        description: Unique identifier
      code:
        type: string
        pattern: '/^\d{6}$/'
        description: Navision article code
      name:
        type: string
        description: Article name
      texts:
        $ref: '#/definitions/ArticleTexts'
      prices:
        $ref: '#/definitions/Prices'
      prices_by_quantity:
        $ref: '#/definitions/QuantityPrices'

  ArticleTexts:
    type: object
    properties:
      de:
        $ref: '#/definitions/ArticleText'
      fr:
        $ref: '#/definitions/ArticleText'
      it:
        $ref: '#/definitions/ArticleText'

  ArticleText:
    type: object
    properties:
      title:
        type: string
        description: Localized article title
      description:
        type: string
        description: Localized article description
      saving:
        type: string
        description: Localized article saving text
      base:
        type: string
        description: Localized article base content text
      info:
        type: string
        description: Localized article info text
      validity:
        type: string
        description: Localized article validity text

  Prices:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price
      base:
        type: number
        format: float
        minimum: 0
        description: Price for base amount

  QuantityPrices:
    type: object
    properties:
      '{amount}':
        $ref: '#/definitions/QuantityPrice'

  QuantityPrice:
    type: object
    properties:
      sales:
        type: number
        format: float
        minimum: 0
        description: Sales price
      instead:
        type: number
        format: float
        minimum: 0
        description: Instead price

  ### Collections
  Stores:
    type: array
    items:
      $ref: '#/definitions/Store'

  OnlineFilters:
    type: array
    items:
      $ref: '#/definitions/OnlineFilter'

  AdvertisedArticles:
      type: array
      items:
        $ref: '#/definitions/AdvertisedArticle'

  ### Responses
  StoresResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      stores:
        $ref: '#/definitions/Stores'

  OnlineFiltersResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      online_filters:
        $ref: '#/definitions/OnlineFilters'

  OnlinePublicationArticlesResponse:
    type: object
    properties:
      page_count:
        description: The number of pages
        type: integer
        format: int32
      page_size:
        description: The page size
        type: integer
        format: int32
      total_items:
        description: The number of items on all pages
        type: integer
        format: int32
      articles:
        $ref: '#/definitions/AdvertisedArticles'

  DummyResponse:
    type: object
    properties:
      foo:
        description: bar
        type: string
